/* Blueprint CSS Resets Excerpt */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,cite,code,del,dfn,em,img,q,dl,dt,dd,ol,ul,li,fieldset,
form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td {
	border: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
	margin: 0;
	padding: 0;
	list-style: none;
}

/* YUI Fonts Excerpt */
body {
	font: 13px/1.231 sans-serif;
	*font-size: small; /* for IE */
	*font: x-small; /* for IE in quirks mode */
}
select, input, button, textarea {
	font: 99% sans-serif;
}
select:focus, input:focus, button:focus, textarea:focus {
	outline: none; /* disable glowing text border in safari */
}
table {
	font-size: inherit;
	font: 100%;
}
pre, code, kbd, samp, tt {
	font-family: monospace;
	*font-size: 108%;
	line-height: 100%;
}

/* Base generic styles */
body, select, input, button, textarea {
	font-family: 'Helvetica Neue', Helvetica, Arial, clean, sans-serif;
}
body {
	background: #f7f0e5 url('../images/layout/body-background.jpg');
	color: #767778;
}
a:link,
a:visited {
	color: #3396db;
	color: #00bee2; /* FIXME: This is the colour in the comps, no? */
}
a:hover {
	text-decoration: none;
}

.f-lft { float: left }
.f-rgt { float: right }
.clear { clear: both }
.clear:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
* html .clear { height: 1% }

.clickable { cursor: pointer; }

.content {
	width: 940px;
	overflow: hidden;
	margin: 0 auto;
}

#logo {
	background: url('../images/layout/mediaplex.png') no-repeat 8px top;
	height: 57px;
	width: 940px;
	margin: 0 auto;
}

#logo a {
	height: 0px;
	padding-top: 57px;
	padding-left: 8px;
	width: 180px;
	overflow: hidden;
	display: block;
}

/* Black boxes */
.box {
	font-family: 14px/165% Tahoma, sans-serif;
	color: #e4e7ea;
	width: 940px;
	overflow: hidden;
}
.box-top {
	height: 15px;
	background: url('../images/layout/box-top-trans.png') no-repeat bottom;
}
.box-bottom {
	height: 37px;
	background: url('../images/layout/box-bottom-trans.png') no-repeat top;
	clear: both;
}
.box-body {
	padding: 15px 20px 5px 20px;
	width: 900px;
	overflow: hidden;
	background: #2b2a2a url('../images/layout/box-body-bg.png') no-repeat top;
}

.innerbox {
	clear: both;
}
.innerbox-top {
	background: url('../images/layout/innerbox-top-trans.png') no-repeat top;
	font: bold 14px Tahoma, sans-serif;
	color: #acacb0;
	text-shadow: #000 0 -1px 0;
	padding: 10px 30px;
	border-bottom: 1px solid #1d1d1d;
}
.innerbox-body {
	background: #1c1c1c url('../images/layout/innerbox-body-bg.png') repeat-x top;
	padding: 10px 30px 0 30px;
	width: 840px;
	overflow: hidden;
}
.innerbox-bottom {
	height: 15px;
	background: url('../images/layout/innerbox-bottom-trans.png') no-repeat top;
}

.contextbox {
	float: right;
	width: 359px;
	overflow: hidden;
	margin-right: 20px;
	color: #0e4f34;
}
.contextbox-top {
	background: url('../images/layout/contextbox-top.png') no-repeat bottom;
	height: 15px;
}
.contextbox-bottom {
	background: url('../images/layout/contextbox-bottom.png') no-repeat bottom;
	height: 15px;
}
.contextbox-body {
	background: url('../images/layout/contextbox-body-bg.png') repeat-y;
	padding: 6px 21px;
	position: relative;
}

.pager {
	float: right;
	font: 14px "Trebuchet MS", sans-serif;
}
.pager-left, .pager-right {
	display: block;
	float: left;
	width: 15px;
	height: 35px;
	background: url('../images/layout/pagination-left-trans.png') no-repeat;
}
.pager-right { background-image: url('../images/layout/pagination-right-trans.png'); }
.pager-body {
	display: block;
	float: left;
	background: #010101;
	height: 27px;
	padding: 4px 5px;
}
.pager-body * {
	padding: 5px 4px;
	float: left;
	display: block;
}
.pager-label {
	color: #a2a2a2;
	padding-left: 0;
}
.pager-body .current {
	color: #a2a2a2;
}
.pager-body a:link, .pager-body a:visited {
	color: #fff;
	text-decoration: none;
}
.pager-body a:hover {
	text-decoration: underline;
}

.box-nav {
	background: #000 url('../images/layout/box-nav-bg.png') repeat-x top;
	width: 900px;
	padding: 14px 20px 25px 20px;
	overflow: hidden;
	position: relative;
}
.box-nav li a {
	text-indent: -5000px;
	display: block;
	float: left;
	height: 39px;
}
.box-nav a:focus { outline-style: none; } /* fix text-indent screw up */
.box-nav-left {
	position: absolute;
	top: 14px;
	left: 20px;
	height: 39px;
}
.box-nav-right {
	float: right;
	height: 39px;
	display: block;
	text-indent: -5000px;
	margin-left: 10px;
}

#nav {
	width: 248px;
	background: url('../images/buttons/latest-browseall-ie.png') no-repeat 0 0;
}
.box-nav > #nav { background-image: url('../images/buttons/latest-browseall.png');/*use alpha trans*/ }
.nav-latest-on #nav { background-position: 0 -39px; }
.nav-browseall-on #nav { background-position: 0 -78px; }
#nav-latest a { width: 86px; }
#nav-browse a { width: 99px; }
#nav-latest > a:hover { background: url('../images/buttons/latest-browseall.png') no-repeat 0     -117px; }
#nav-browse > a:hover { background: url('../images/buttons/latest-browseall.png') no-repeat -86px -117px; }

a#nav-upload-video {
	width: 122px;
	background: url('../images/buttons/upload-video-ie.gif') no-repeat;
}
a#nav-topics {
	width: 122px;
	background: url('../images/buttons/topic-index-ie.gif') no-repeat;
}
a#nav-podcast-help {
	width: 160px;
	background: url('../images/buttons/podcast-help-ie.gif') no-repeat;
	position: absolute;
	top: 14px;
	right: 152px;
	float: none;
}
.box-nav > a#nav-upload-video { background-image: url('../images/buttons/upload-video.png'); }
.box-nav > a#nav-topics { background-image: url('../images/buttons/topic-index.png'); }
.box-nav > a#nav-podcast-help { background-image: url('../images/buttons/podcast-help.png'); }
a#nav-topics:hover,
a#nav-podcast-help:hover,
a#nav-upload-video:hover {
	background-position: 0 -39px;
}
.nav-topics-on #nav-topics,
a#nav-topics.topics-shown,
.nav-podcast-help-on #nav-podcast-help,
a#nav-podcast-help.podcast-help-shown,
.nav-upload-video-on #nav-upload-video {
	background-position: 0 -78px;
}

.nav-box {
	clear: both;
	margin: 0 1px;
	width: 898px;
	overflow: hidden;
}
#topic-box-top {
	height: 16px;
	background: url('../images/layout/nav-box-top-topics.png') no-repeat top right;
}
#podcast-help-top {
	height: 16px;
	background: url('../images/layout/nav-box-top-podcast-help.png') no-repeat top right;
}
.nav-box-top {
	height: 10px;
	background: url('../images/layout/nav-box-top.png') no-repeat top right;
}
.nav-box-topright {
	height: 10px;
	background: url('../images/layout/nav-box-topright.png') no-repeat top right;
}
.nav-box-bottom {
	height: 10px;
	background: url('../images/layout/nav-box-bottom.png') no-repeat;
}
.nav-box-body {
	background: #333;
	padding: 10px 20px;
	width: 860px;
	overflow: hidden;
	position: relative;
}
.nav-box ul {
	width: 25%;
	float: left;
}
.nav-box li {
	display: block;
	margin: 3px 0;
	height: auto;
	text-indent: 0;
}
.nav-box a:link,
.nav-box a:visited {
	color: #B1D1EF;
	text-decoration: none;
	text-shadow: black 1px;
	display: inline;
	float: none;
}
.nav-box a:hover {
	color: #fff;
	text-decoration: underline;
}
#topics-caption {
	position: absolute;
	bottom: 10px;
	right: 3px;
	width: 205px;
}
#topics-dontsee {
	background: url('../images/topics/dont-see-question.png') no-repeat;
	width: 174px;
	height: 43px;
	display: block;
	margin-bottom: 10px;
	text-indent: -5000px;
}
#topics-suggest {
	background: url('../images/topics/suggest-new.png') no-repeat;
	width: 159px;
	height: 39px;
	display: block;
	text-indent: -5000px;
}

.box h1, .box h2, .box h3, .box h4, .box h5 {
	font: normal 18px 'Trebuchet MS', sans-serif;
	text-transform: uppercase;
}
.box h1 { color: #e8e5e5; }
.box h3 { color: #acacb0; }

/* Mouse-over image replacement for buttons */
.mo span {
	display: none;
}
.mo {
	display: block;
	background-repeat: no-repeat;
	background-position: top;
}
.mo:hover {
	background-position: bottom;
}
