/* Blueprint CSS Resets Excerpt */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,cite,code,del,dfn,em,img,q,dl,dt,dd,ol,ul,li,fieldset,
form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td {
	border: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
	margin: 0;
	padding: 0;
	list-style: none;
}

/* YUI Fonts Excerpt */
body {
	font: 13px/1.231 sans-serif;
	*font-size: small; /* for IE */
	*font: x-small; /* for IE in quirks mode */
}
select, input, button, textarea {
	font: 99% sans-serif;
}
select:focus, input:focus, button:focus, textarea:focus {
	outline: none; /* disable glowing text border in safari */
}
table {
	font-size: inherit;
	font: 100%;
}
pre, code, kbd, samp, tt {
	font-family: monospace;
	*font-size: 108%;
	line-height: 100%;
}

/* Base generic styles */
body, select, input, button, textarea {
	font-family: 'Helvetica Neue', Helvetica, Arial, clean, sans-serif;
}
body {
	background: #f7f0e5;
	color: #767778;
}
a:link,
a:visited {
	color: #3396db;
}
a:hover {
	text-decoration: none;
}

.f-lft { float: left }
.f-rgt { float: right }
.clear { clear: both }
.clear:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
* html .clear { height: 1% }

.clickable { cursor: pointer; }

.content {
	width: 940px;
	overflow: hidden;
	margin: 0 auto;
}

/* Black boxes */
.box {
	font-family: 14px/165% Tahoma, sans-serif;
	color: #e4e7ea;
	width: 940px;
	overflow: hidden;
}
.box-top {
	height: 15px;
	background: url('../images/layout/box-top-trans.png') no-repeat bottom;
}
.box-bottom {
	height: 37px;
	background: url('../images/layout/box-bottom-trans.png') no-repeat top;
	clear: both;
}
.box-body {
	padding: 15px 30px;
	width: 880px;
	overflow: hidden;
	background: #2b2a2a url('../images/layout/box-body-bg.png') no-repeat top;
}
.box-pagination {
	margin: 0 15px;
	font: 18px 'Trebuchet MS', sans-serif;
	color: #a2a2a2;
}
.box-pagination-top {
	float: left;
	margin: 5px 20px;
}
.box-pagination-bottom {
	text-align: right;
}
.box-pagination a:link,
.box-pagination a:visited {
	color: #fff;
	text-decoration: none;
}
.box-pagination a:hover,
.box-pagination a:visited,
.box-pagination a.current {
	text-decoration: underline;
}
.box-nav {
	background: #000 url('../images/layout/box-nav-bg.png') repeat-x top;
	width: 900px;
	padding: 14px 20px 25px 20px;
	overflow: hidden;
	position: relative;
}
#nav-main {
	background: url('../images/buttons/sections.png') no-repeat 0 0;
	width: 248px;
	height: 39px;
	position: absolute;
	top: 14px;
	left: 20px;
}
.nav-latest-on #nav-main { background-position: 0 -39px; }
.nav-video-on #nav-main { background-position: 0 -78px; }
.nav-podcasts-on #nav-main { background-position: 0 -117px; }
.box-nav li a {
	text-indent: -5000px;
	display: block;
	float: left;
	height: 39px;
}
.box-nav a:focus { outline-style: none; } /* fix text-indent screws up */
#nav-latest a { width: 86px; }
#nav-video a { width: 70px; }
#nav-podcasts a { width: 92px; }
a#nav-topics,
a#nav-upload-video {
	float: right;
	height: 39px;
	display: block;
	text-indent: -5000px;
	margin-left: 10px;
}
a#nav-topics { width: 122px; background: url('../images/buttons/topic-index.png') no-repeat; }
a#nav-upload-video { width: 122px; background: url('../images/buttons/upload-video.png') no-repeat; }
a#nav-topics:hover,
a#nav-upload-video:hover { background-position: 0 -39px; }

.box h1 {
	font: normal 18px 'Trebuchet MS', sans-serif;
	color: #e8e5e5;
}
