.comments {
	width: 481px;
	padding: 0 20px 0 12px;
}
.comments h2 {
	font: 30px 'Times New Roman', serif;
	color: #6c6c6c;
	margin-bottom: 10px;
}
.comments h2 span {
	color: #000;
}
.comments h3, .comments-list li .top {
	color: #3b3c3d;
	font-family: 'Georgia';
	font-size: 18px;
	font-weight: bold;
	font-style: italic;
}
.comments h3 {
	margin: 30px 0 5px 10px;
}
.comments .comments-none-yet {
	margin-left: 10px;
}
.comments-list li {
	padding: 10px 0px;
	margin-left: -12px
}
.comments-list li.alt {
	margin-left: 0;
	margin-right: -12px
}
.comments-list li .date {
	font-size: 11px;
}
.comments-list li .edit {
	font-size: 11px;
}

.comments-list li .top {
	display: block;
	height: 51px;
	padding: 40px 20px 0 75px;
	background: url('/images/layout/comment-top-norm.png') no-repeat top left;
	margin-bottom: -20px;
}

.comments-list li.alt .top {
	background: url('/images/layout/comment-top-alt.png') no-repeat top left;
	padding: 40px 75px 0 32px;
}

.comments-list li .top a {
	color: inherit;
	text-decoration: inherit;
}

.comments-list li .bottom {
	display: block;
	background: url('/images/layout/comment-bottom.png') no-repeat 12px bottom;
	padding: 0 20px 5px 0;
	text-align: right;
}

.comments-list li.alt .bottom {
	background: url('/images/layout/comment-bottom.png') no-repeat 0px bottom;
	padding: 0 32px 5px 0;
}

.comments-list li blockquote {
	font-family: 'Candara', Verdana, 'Lucida Grande', Tahoma, sans-serif;
	background-color: #d4e7f9;
	color: #10375c;
	width: 422px;
	border-left: 1px solid #b7d3ed;
	border-right: 1px solid #b7d3ed;
	margin: 0 0 0 12px;
	padding: 0 25px 10px 32px;
}

.comments-list li.alt blockquote {
	margin: 0 12px 0 0;
}
.comments-list li blockquote p {
	margin: 10px 0;
}
#post-comment-form li .form-label {
	width: 77px;
	margin: 5px 0;
}
#post-comment-form li .form-field {
	width: 384px;
	margin: 5px 0;
}
#post-comment-form li .field-error {
	width: 398px;
	padding: 3px;
	margin: -3px 5px 5px 0;
	color: red;
}
#post-comment-form li .submit-image {
	background: url('../images/buttons/comment-submit-trans.png') no-repeat;
	width: 178px;
	height: 48px;
}
