#mediaplex-topics {
	width: 900px;
	margin: 0 20px;
	overflow: hidden;
	clear: both;
	background: #424242;
	-moz-border-radius: 10px;
	position: relative;
}
#mediaplex-topics-caption {
	position: absolute;
	bottom: 20px;
	right: 3px;
	width: 205px;
}
#mediaplex-topics-dontsee {
	background: url('../images/topics/dont-see-question.png') no-repeat;
	width: 174px;
	height: 43px;
	display: block;
	margin-bottom: 10px;
}
#mediaplex-topics-suggest {
	background: url('../images/topics/suggest-new.png') no-repeat;
	width: 159px;
	height: 39px;
	display: block;
}
#mediaplex-topics-caption span { display: none; }
#mediaplex-topics ul {
	width: 25%;
	overflow: hidden;
	float: left;
	margin: 17px 0;
}
#mediaplex-topics li {
	margin: 3px 20px;
}
#mediaplex-topics a:link,
#mediaplex-topics a:visited {
	color: #B1D1EF;
	text-decoration: none;
	text-shadow: black 1px;
}
#mediaplex-topics a:hover {
	color: #fff;
	text-decoration: underline;
}

#mediaflow {
	position: relative;
	clear: both;
}

/* Mediaflow arrows for next / previous */
#mediaflow-prev,
#mediaflow-next {
	width: 84px;
	height: 192px;
	position: absolute;
	top: 0;
	z-index: 99;
	background: url('../images/mediaflow/gradients-trans.png') repeat-y;
}
#mediaflow-prev {
	left: 0;
	background-position: left;
}
#mediaflow-next {
	right: 0;
	background-position: right;
}
#mediaflow-prev span,
#mediaflow-next span {
	display: block;
	width: 52px;
	height: 53px;
	margin-top: 63px;
	margin-left: 19px;
	text-indent: -5000px;
}
#mediaflow-prev span {
	background: url('../images/mediaflow/arrows-trans.png') no-repeat 0 0;
}
#mediaflow-next span {
	background: url('../images/mediaflow/arrows-trans.png') no-repeat -52px 0;
}
#mediaflow-prev:hover span {
	background-position: 0 -53px;
}
#mediaflow-next:hover span {
	background-position: -52px -53px;
}

/* Sliding bits */
#mediaflow-box .box-body {
	padding: 0;
	width: 100%;
	background: #000;
	position: relative;
}
#mediaflow-body {
	height: 192px;
	position: relative;
	overflow: hidden;
}
.mediaflow-page ul {
	margin-left: 84px;
}
.mediaflow-page li {
	float: left;
	margin-right: 17px;
}
.mediaflow-page li a:link,
.mediaflow-page li a:visited {
	border: 2px solid transparent;
	float: left;
}
.mediaflow-page li a.active:link,
.mediaflow-page li a.active:visited {
	border-color: #dbdbdb;
}
.mediaflow-page img {
	display: block;
	border: 1px solid #dbdbdb;
	width: 240px;
	height: 168px;
}
.mediaflow-label {
	background: url('../images/layout/box-bottom-grey-trans.png') no-repeat bottom;
	clear: both;
	color: #3f3f3f;
	font: 12px 'Candara', Verdana, 'Lucida Grande', Tahoma, sans-serif;
	padding: 8px 0;
	text-align: center;
}
