/* video.grid */
#grid-box .box-body {
	padding-left: 0;
	padding-right: 0;
	padding-top: 30px;
	width: 100%;
}
#grid-box .pager { margin-right: 20px; }


.grid-title, a:link .grid-title, a:visited .grid-title, a.grid-title:link, a.grid-title:visited {
	color: #b1d1ef;
	text-decoration: none;
	color: #b1d1ef;
}
a:hover .grid-title, a.grid-title:hover {
	color: #e1effc;
	text-decoration: underline;
}
.grid-thumb img, img.grid-thumb {
	display: block;
	border: 1px solid #b0b0b0;
}
.grid-meta {
	display: block;
}
.grid-meta span {
	color: #c4c4c4;
}
.grid-meta span span {
	color: #777;
}
.grid-comments {
	padding-left: 16px;
	background: url('../images/icons/comments.png') no-repeat left;
}
.grid-comments span {
	display: none !important;
}


.grid {
	width: 920px;
	overflow: hidden;
	margin-left: 20px;
}
.grid li {
	float: left;
	width: 164px;
	margin: 0 20px 50px 0;
	font: 12px Tahoma, Helvetica, sans-serif;
	color: #c4c4c4;
}
.grid li a:link,
.grid li a:visited {
	display: block;
	overflow: hidden;
	text-decoration: none;
}
.grid li img {
	border: 1px solid #b0b0b0;
	display: block;
}
.grid .grid-title {
	display: block;
	overflow: hidden;
	padding: 10px 0 2px 0;
	white-space: nowrap;
}
.grid a:hover .grid-title {
	color: #e1effc;
	text-decoration: underline;
}
.grid .grid-meta {
	text-align: center;
}
.grid .grid-comments {
	float: left;
}
.grid .grid-likes {
	float: right;
}



.grid2 {
	width: 920px;
}
.grid2 li {
	width: 440px;
	height: 115px;
	overflow: hidden;
	float: left;
	margin: 12px 20px 0 0;
	font: 12px Tahoma;
	position: relative;
}
.grid2 .grid2-link {
	width: 440px;
	height: 1.25em;
}
.grid2-link .grid-thumb {
	float: left;
}
.grid2-link .grid-title,
.grid2 .grid-desc,
.grid2 .grid-meta {
	float: right;
	width: 297px;
	overflow: hidden;
}
.grid2 .grid-desc {
	margin: 5px 0;
}
.grid2 .grid-likes,
.grid2 .grid-views,
.grid2 .grid-comments {
	float: left;
	display: block;
	width: 55px;
}
.grid2 .grid-likes { width: 75px; }
.grid2 .grid-views { width: 75px; }




/* media play/details view */
#media-box {
	margin-bottom: 20px;
}
#media-box h1 {
	font: italic bold 18px Georgia, serif;
	color: #fff;
}
.media-body {
	padding-top: 23px;
	margin-bottom: 20px;
	position: relative;
	overflow: hidden;
}
#video-player {
	display: block;
	margin: 0;
}
.media-info {
	float: right;
	width: 385px;
	margin-bottom: 58px;
}
.media-info p {
	color: #999595;
	margin: 10px 0;
	font: 13px Verdana, sans-serif;
}
.media-meta {
	font: 13px/15px Tahoma, sans-serif;
	color: #c4c4c4;
	position: absolute;
	bottom: 0;
	right: 0;
	height: 58px;
	width: 385px;
}
.media-meta-etc {
	margin-top: 1em;
}
.media-meta-likethis {
	float: right;
	margin-right: 140px;
}
a#likethis {
	text-indent: -1000px;
	cursor: pointer;
	border: 0;
	height: 34px;
	width: 113px;
	background-repeat: no-repeat;
	background-color: transparent;
	background-image: url('../images/buttons/i-like-this.png');
}
