/* video.grid */
#grid-box .box-body {
	padding-left: 0;
	padding-right: 0;
	padding-top: 30px;
	width: 100%;
}
#grid-box .pager { margin-right: 20px; }
.grid {
	width: 920px;
	overflow: hidden;
	margin-left: 20px;
}
.grid li {
	float: left;
	width: 164px;
	margin: 0 20px 20px 0;
	font: 12px Tahoma, Helvetica, sans-serif;
	color: #c4c4c4;
	text-align: center;
}
.grid li a:link,
.grid li a:visited {
	display: block;
	overflow: hidden;
	text-decoration: none;
}
.grid li img {
	border: 1px solid #b0b0b0;
	display: block;
}
.grid li span {
	color: #c4c4c4;
}
.grid li span span {
	color: #777777;
}
.grid li .grid-title {
	color: #b1d1ef;
	display: block;
	overflow: hidden;
	text-align: left;
	padding: 10px 0 2px 0;
	white-space: nowrap;
}
.grid li a:hover .grid-title {
	color: #e1effc;
	text-decoration: underline;
}
.grid li .grid-comments {
	padding-left: 16px;
	background: url('../images/icons/comments.png') no-repeat left;
	float: left;
}
.grid li .grid-comments span { display: none; }
.grid li .grid-likes {
	float: right;
}



/* video.details */
#media-box {
	margin-bottom: 20px;
}
#media-box h1 {
	font: italic bold 18px Georgia, serif;
	color: #fff;
}
.media-body {
	padding-top: 23px;
	position: relative;
	overflow: hidden;
}
#video-player {
	display: block;
	margin: 0;
}
.media-info {
	float: right;
	width: 385px;
	margin-bottom: 58px;
}
.media-info p {
	color: #999595;
	margin: 10px 0;
	font: 13px Verdana, sans-serif;
}
.media-meta {
	font: 13px/15px Tahoma, sans-serif;
	color: #c4c4c4;
	position: absolute;
	bottom: 0;
	right: 0;
	height: 58px;
	width: 385px;
}
.media-meta-etc {
	margin-top: 1em;
}
.media-meta-likethis {
	float: right;
	margin-right: 140px;
}
a#likethis {
	text-indent: -1000px;
	cursor: pointer;
	border: 0;
	height: 34px;
	width: 113px;
	background-repeat: no-repeat;
	background-color: transparent;
	background-image: url('../images/buttons/i-like-this.png');
}
