/* video.grid */
#grid-box .box-body {
	padding-left: 0;
	padding-right: 0;
	padding-top: 30px;
	width: 100%;
}
#grid-box .pager { margin-right: 20px; }
.grid {
	width: 920px;
	overflow: hidden;
	margin-left: 20px;
}
.grid li {
	float: left;
	width: 164px;
	margin: 0 20px 20px 0;
	font: 12px Tahoma, Helvetica, sans-serif;
	color: #c4c4c4;
	text-align: center;
}
.grid li a:link,
.grid li a:visited {
	display: block;
	overflow: hidden;
	text-decoration: none;
}
.grid li img {
	border: 1px solid #b0b0b0;
	display: block;
}
.grid li span {
	color: #c4c4c4;
}
.grid li span span {
	color: #777777;
}
.grid li .grid-title {
	color: #b1d1ef;
	display: block;
	overflow: hidden;
	text-align: left;
	padding: 10px 0 2px 0;
	white-space: nowrap;
}
.grid li a:hover .grid-title {
	color: #e1effc;
	text-decoration: underline;
}
.grid li .grid-comments {
	padding-left: 16px;
	background: url('../images/icons/comments.png') no-repeat left;
	float: left;
}
.grid li .grid-comments span { display: none; }
.grid li .grid-likes {
	float: right;
}



/* video.details */
#video-details {
	margin-bottom: 20px;
}
#video-player {
	display: block;
	margin: 0;
}
.video-info {
	float: right;
	width: 350px;
	margin: 0 15px 0 35px;
}
.video-info p {
	margin-bottom: 10px;
}
.video-meta {
	font: 14px Tahoma, sans-serif;
}
.video-meta strong {
	color: #ababab;
}
.video-meta li {
	float: left;
	width: 33%;
}
.video-meta .video-tags {
	width: 100%;
	margin-bottom: 10px;
}
.video-meta .video-views {
	clear: left;
	width: 23%;
}
.video-meta .video-rating {
	text-align: center;
	width: 50%;
}
.video-meta .video-length {
	text-align: right;
	width: 27%;
}
