<!--! This file is a part of MediaCore, Copyright 2009 Simple Station Inc.

	MediaCore is free software: you can redistribute it and/or modify
	it under the terms of the GNU General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.

	MediaCore is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU General Public License for more details.

	You should have received a copy of the GNU General Public License
	along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      py:strip="">
	<table py:def="media_table(collection, fields, include_thead=True, include_pagination=True, id='media-table')"
	       cellpadding="0" cellspacing="0" id="${id}"
	       py:with="item_count = len(collection);
	                include_thead = include_thead and (item_count > 0);
	                paginator = include_pagination and c.paginators.media;">
		<thead py:if="include_thead">
			<tr>
				<py:for each="f in fields" py:choose="f">
					<th py:when="'publish_on'" style="width:100px">Publish Date</th>
					<th py:when="'created_on'" style="width:100px">Upload Date</th>
					<th py:when="'status'" style="width:90px">Status</th>
					<th py:when="'title'" style="width:auto">Title</th>
					<th py:when="'comment_count'" style="width:30px" class="center"><img src="${h.url_for('/admin/images/icons/comments.png')}" alt="Comments" title="Number of Comments" /></th>
					<th py:when="'tags'" style="width:120px">Tags</th>
					<th py:when="'author'" style="width:120px">Author</th>
					<th py:when="'type'" style="width:30px">&nbsp;</th>
				</py:for>
			</tr>
		</thead>
		<tbody>
			<tr py:if="item_count == 0">
				<td>None Found</td>
			</tr>
			<tr py:for="media in collection">
				<py:for each="f in fields" py:choose="f">
					<td py:when="'publish_on'"
					    class="${not media.is_published and 'italic' or None}"
					    py:content="(media.publish_on and media.publish_on.strftime('%b %d %Y')) or 'unpublished'" />
					<td py:when="'created_on'">${media.created_on.strftime('%b %d %Y')}</td>
					<td py:when="'status'" py:choose="">
						<a class="btn review-me" py:when="not media.reviewed" href="${h.url_for(controller='/admin/media', action='edit', id=media.id)}"><span>review me</span></a>
						<a class="btn encode-me" py:when="not media.encoded" href="${h.url_for(controller='/admin/media', action='edit', id=media.id)}"><span>encode me</span></a>
						<a class="btn publish-me" py:when="not media.publishable" href="${h.url_for(controller='/admin/media', action='edit', id=media.id)}"><span>publish me</span></a>
						<a class="btn published" py:otherwise="" href="${h.url_for(controller='/media', action='view', slug=media.slug)}"><span>published</span></a>
					</td>
					<td py:when="'title'"><a href="${h.url_for(controller='/admin/media', action='edit', id=media.id)}">${media.title}</a></td>
					<td py:when="'comment_count'" class="center">
						<a href="${h.url_for(controller='/admin/comments', media_filter=media.id)}">${media.comment_count_published}</a>
					</td>
					<td py:when="'tags'" py:content="' '.join(tag.name for tag in media.tags) or 'None'" />
					<td py:when="'author'">
						<a href="mailto:${media.author.email}" py:strip="not media.author.email">${media.author.name}</a>
					</td>
					<td py:when="'type'" class="center">
						<img py:if="media.type" py:with="pretty_type = media.type.capitalize()"
						     src="${h.url_for('/admin/images/icons/%s.png' % media.type.encode('utf-8'))}"
						     alt="${pretty_type}" title="${pretty_type}" />
					</td>
				</py:for>
			</tr>
		</tbody>
		<py:if test="include_pagination">
			<xi:include href="../helpers.html" />
			${paginated_tfoot(paginator, '7')}
		</py:if>
	</table>
</html>
