<!--! This file is a part of MediaCore, Copyright 2009 Simple Station Inc.

	MediaCore is free software: you can redistribute it and/or modify
	it under the terms of the GNU General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.

	MediaCore is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU General Public License for more details.

	You should have received a copy of the GNU General Public License
	along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<form xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      action="${action}" method="${method}" name="${name}"
      id="${id}" class="${css_class}" py:attrs="attrs">
	<input py:for="field in hidden_fields"
	       py:replace="field.display(value_for(field), **args_for(field))" />
	<span py:for="field in fields"
	      py:with="toggle_enabled = value_for(field.name.replace('toggle_', '') + '_enabled')"
	      class="${'file-toggle-on' if toggle_enabled else None} file-${field.name}-span"
	      title="${field.get_default()}">
		<input py:replace="field.display(
		    value_for(field),
		    disabled=(field.name == 'toggle_feed' and value_for('is_embeddable')) or (field.name == 'toggle_player' and not value_for('is_playable')),
		    **args_for(field))" />
	</span>
	<a href="${file.link_url}" class="file-link"
	   py:with="type = file.type.capitalize() if file.is_embeddable else file.type.upper()"
	   title="${('Go to %s' % type) if file.is_embeddable else 'Download this file'}">
	   ${type}
	</a>
</form>
