<!--! This file is a part of MediaCore, Copyright 2009 Simple Station Inc.

	MediaCore is free software: you can redistribute it and/or modify
	it under the terms of the GNU General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.

	MediaCore is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU General Public License for more details.

	You should have received a copy of the GNU General Public License
	along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<form xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      action="${action}" method="${method}" name="${name}"
      id="${id}" class="${css_class}" py:attrs="attrs">
	<div py:with="field = children['url']" class="url-container clearfix">
		<input py:replace="field.display(value_for(field), **args_for(field))" />
		<input py:replace="children['add_url'].display(value_for(field), **args_for(field))" />
	</div>
	<div class="url-or-file"><strong>OR</strong></div>
	<div py:with="field = children['file']" class="file-container clearfix">
		<label id="${field.id}-label" for="${field.id}">${field.label_text}:</label>
		<input py:replace="field.display(value_for(field), **args_for(field))" />
	</div>
	<py:for each="field in fields" py:with="error = error_for(field)">
		<div py:if="error and field.show_error" class="field_error" py:content="error" />
	</py:for>
</form>
