<!--! This file is a part of MediaCore, Copyright 2009 Simple Station Inc.

	MediaCore is free software: you can redistribute it and/or modify
	it under the terms of the GNU General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.

	MediaCore is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU General Public License for more details.

	You should have received a copy of the GNU General Public License
	along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:i18n="http://genshi.edgewall.org/i18n"
      py:with="paginator=c.paginators.media">
<xi:include href="../master.html" />
<head>
	<title>Media<py:if test="podcast_filter_title is not None"> for "${podcast_filter_title}" Podcast</py:if></title>
	<script src="${h.url_for('/scripts/third-party/squeezebox-1.1-rc4-yui-compressed.js')}" type="text/javascript"></script>
	<link href="${h.url_for('/admin/styles/squeezebox.css')}" media="screen" rel="stylesheet" type="text/css" />
	<link href="${h.url_for('/admin/styles/media.css')}" media="screen" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="${h.url_for('/admin/scripts/confirm.js')}"></script>
	<script type="text/javascript" src="${h.url_for('/admin/scripts/tablemgrs.js')}"></script>
	<script type="text/javascript">
		window.addEvent('domready', function(){
			var table = new BulkTableManager('media-table', {
				prefix: 'media-'
			});
			var bulkDelete = new BulkDelete(table, {
				saveUrl: '${h.url_for(action='bulk', type='delete')}',
				refresh: true
			});
			$$('bulk-delete').addEvent('click', bulkDelete.onClick.bind(bulkDelete));
			var bulkPublish = new BulkEdit(table, {
				saveUrl: '${h.url_for(action='bulk', type='publish')}'
			});
			$('bulk-publish').addEvent('click', bulkPublish.onClick.bind(bulkPublish));
			var bulkReview = new BulkEdit(table, {
				saveUrl: '${h.url_for(action='bulk', type='review')}'
			});
			$$('bulk-review').addEvent('click', bulkReview.onClick.bind(bulkReview));

			// XXX: This is a hack to set the selected filter on page load, instead of render time.
			var dropdown = $$('filter-dropdown');
			var selectedText = dropdown.getElement('li.selected span').get('text');
			var button = dropdown.getElement('button.dropdown-toggle');
			button.getElement('span').set('text', selectedText);
			// XXX: There's a race condition here, but its a nonessential event.
			var dd = button.retrieve('Dropdown', null);
			if (dd) dd.addEvent('change', function(selected){
				button.getElement('span').set('text', selected.get('text'));
			});
		});
	</script>
</head>
<body class="menu-media-on">
	<div class="box">
		<div class="box-head clearfix">
			<py:choose>
				<h1 py:when="search" i18n:msg="search">Media that matches '${search}'</h1>
				<h1 py:when="podcast_filter_title" i18n:msg="podcastFilterTitle">${podcast_filter_title} Episodes</h1>
				<h1 py:when="media_filter == 'unreviewed'">Unreviewed Media</h1>
				<h1 py:when="media_filter == 'unencoded'">Unencoded Media</h1>
				<h1 py:when="media_filter == 'drafts'">Draft Media</h1>
				<h1 py:when="media_filter == 'published'">Published Media</h1>
				<h1 py:otherwise="">All Media</h1>
			</py:choose>
			<div class="f-rgt">
				<a class="btn inline f-lft" href="${h.url_for(action='edit', id='new')}" style="margin-right:10px"><span>Add New Media</span></a>
				<div class="dropdown-wrapper f-lft" style="margin-right:10px;width:130px">
					<button class="btn inline dropdown-toggle"><span>Bulk Actions</span></button>
					<div class="dropdown-box">
						<div class="dropdown-top"><div /></div>
						<div class="dropdown-content">
							<ol class="clearfix">
								<li id="bulk-review"><span>Review</span></li>
								<li id="bulk-publish"><span>Publish</span></li>
								<li id="bulk-delete"><span>Delete</span></li>
							</ol>
						</div>
						<div class="dropdown-bottom"><div /></div>
					</div>
				</div>
				<div class="dropdown-wrapper f-lft" style="margin-right:10px;width:120px" id="filter-dropdown">
					<button class="btn inline dropdown-toggle"><span>Filters</span></button>
					<div class="dropdown-box">
						<div class="dropdown-top"><div /></div>
						<div class="dropdown-content">
							<ol class="clearfix">
								<li py:with="filter = None" class="${media_filter == filter and 'selected' or None}">
									<a href="${h.url_for(filter=filter)}" py:strip="filter == media_filter"><span py:strip="filter != media_filter">All Media</span></a>
								</li>
								<li py:with="filter = 'unreviewed'" class="${media_filter == filter and 'selected' or None}">
									<a href="${h.url_for(filter=filter)}" py:strip="filter == media_filter"><span py:strip="filter != media_filter">Unreviewed</span></a>
								</li>
								<li py:with="filter = 'unencoded'" class="${media_filter == filter and 'selected' or None}">
									<a href="${h.url_for(filter=filter)}" py:strip="filter == media_filter"><span py:strip="filter != media_filter">Unencoded</span></a>
								</li>
								<li py:with="filter = 'drafts'" class="${media_filter == filter and 'selected' or None}">
									<a href="${h.url_for(filter=filter)}" py:strip="filter == media_filter"><span py:strip="filter != media_filter">Drafts</span></a>
								</li>
								<li py:with="filter = 'published'" class="${media_filter == filter and 'selected' or None}">
									<a href="${h.url_for(filter=filter)}" py:strip="filter == media_filter"><span py:strip="filter != media_filter">Published</span></a>
								</li>
							</ol>
						</div>
						<div class="dropdown-bottom"><div /></div>
					</div>
				</div>
				<div id="quicksearch" class="f-lft">
					${XML(search_form(dict(search=search)))}
				</div>
				<!--!<span class="box-head-sec">${h.doc_link('admin/media', '')}</span>-->
			</div>
		</div>
		<xi:include href="./index-table.html" py:with="media=media" />
	</div>
</body>
</html>
