<!--! This file is a part of MediaCore, Copyright 2009 Simple Station Inc.

	MediaCore is free software: you can redistribute it and/or modify
	it under the terms of the GNU General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.

	MediaCore is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU General Public License for more details.

	You should have received a copy of the GNU General Public License
	along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      py:with="paginator=c.paginators.media">
<xi:include href="../master.html" />
<head>
	<title>Media<py:if test="podcast_filter_title is not None"> for "${podcast_filter_title}" Podcast</py:if></title>
	<script src="${h.url_for('/scripts/third-party/squeezebox-1.1-rc4-yui-compressed.js')}" type="text/javascript"></script>
	<link href="${h.url_for('/admin/styles/squeezebox.css')}" media="screen" rel="stylesheet" type="text/css" />
	<link href="${h.url_for('/admin/styles/media.css')}" media="screen" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="${h.url_for('/admin/scripts/tablemgrs.js')}"></script>
	<script type="text/javascript" src="${h.url_for('/admin/scripts/confirm.js')}"></script>
	<script type="text/javascript">
		window.addEvent('domready', function(){
			var mediaDeleteAction = new BulkAction({
				label: 'Delete',
				saveUrl: '${h.url_for(action='bulk/delete')}',
				confirmMgr: {
					header: 'Confirm Delete',
					msg: 'Are you sure you want to delete these media items?'
				}
			});
			mediaDeleteAction.addEvent("actionComplete", function(id){
				this.mgr.removeRow({id:id})
			});
			table_options = {
				bulkDivClass: 'bulk-control f-lft',
				selectCol: 0,
				prefix: 'media-'
			};
			var mediaTable = new BulkTableManager('media-table', 'bulk-actions', [mediaDeleteAction], table_options);
		});
	</script>
</head>
<body class="menu-media-on">
	<div class="box">
		<div class="box-head">
			<h1>
				<py:if test="podcast_filter_title is None">All Media</py:if>
				<py:if test="podcast_filter_title is not None">"${podcast_filter_title}" Episodes</py:if>
			</h1>
			<a class="btn btn-add-media" id="add-btn" href="${h.url_for(action='edit', id='new')}"><span>Add New Media</span></a>
			<span id="bulk-actions" />
			<div id="quicksearch" class="f-rgt">
				${XML(search_form(dict(search=search)))}
			</div>
			<span class="box-head-sec">${h.doc_link('admin/media', '')}</span>
		</div>
		<xi:include href="./index-table.html" py:with="media=media" />
	</div>
</body>
</html>
