<!--! This file is a part of MediaCore, Copyright 2009 Simple Station Inc.

	MediaCore is free software: you can redistribute it and/or modify
	it under the terms of the GNU General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.

	MediaCore is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU General Public License for more details.

	You should have received a copy of the GNU General Public License
	along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      py:strip="">
	<form method="post" action="${h.url_for(action='update_status')}" id="update-status-form" class="box">
		<div class="box-head">
			<span class="box-head-sec">
				${h.doc_link('Help', 'admin/settings', 'categories')}
				<py:if test="media.slug">
					|
					<a href="${h.url_for(controller='/media', action='view', slug=media.slug)}"
					   id="go-view-content"
					   title="View this media where it ${'is' if media.is_published else 'will be'} published"
					   py:content="'View' if media.is_published else 'Preview'" />
				</py:if>
			</span>
			<h1>Publish Status</h1>
		</div>
		<div class="box-content" py:choose="" py:with="publish_on=media.publish_on.strftime('%b %d %Y @ %H:%M') if media.publish_on else None">
			<input py:replace="XML(c.publish_on(publish_on))" />
			<input type="hidden" name="is_published" value="${int(media.is_published)}" />
			<py:when test="media.id is None">
				<div class="box-content center">You must add a file and save before review can begin.</div>
			</py:when>
			<py:when test="not media.reviewed">
				<ol id="status-list">
					<li class="status-list-inprogress">review pending</li>
					<li class="status-list-${status}" py:with="status = 'complete' if media.encoded else 'pending'">encoding ${status}</li>
					<li class="status-list-pending" id="status-publish" title="Click to change the publish date">
						publishing <span class="publish-date" py:content="publish_on or 'pending'" />
					</li>
				</ol>
				<div class="box-content center"
				     py:content="c.update_button('Review Complete', id='update-status', css_class='btn submitbutton btn-review-complete') if media.files else 'Review can only be completed after a file is added.'" />
			</py:when>
			<py:when test="not media.encoded">
				<ol id="status-list">
					<li class="status-list-complete">review complete</li>
					<li class="status-list-inprogress">encoding pending</li>
					<li class="status-list-pending" id="status-publish" title="Click to change the publish date">
						publishing <span class="publish-date" py:content="publish_on or 'pending'" />
					</li>
				</ol>
				<div class="box-content center">Encoding will be complete when an acceptable file is added.</div>
			</py:when>
			<py:when test="not media.publishable">
				<ol id="status-list">
					<li class="status-list-complete">review complete</li>
					<li class="status-list-complete">encoding complete</li>
					<li class="status-list-inprogress" id="status-publish" title="Click to change the publish date">
						publishing <span class="publish-date" py:content="publish_on or 'pending'" />
					</li>
				</ol>
				<div class="box-content center">
					${c.update_button('Publish Now', id='update-status', css_class='btn submitbutton btn-publish-now')}
				</div>
			</py:when>
			<py:when test="media.publishable">
				<ol id="status-list">
					<li class="status-list-complete">review complete</li>
					<li class="status-list-complete">encoding complete</li>
					<li class="status-list-complete" id="status-publish" title="Click to change the publish date">
						${'published' if media.is_published else 'publishing'}
						<span class="publish-date" py:content="publish_on or 'pending'" />
					</li>
				</ol>
			</py:when>
			<py:otherwise test="">Status error</py:otherwise>
			<div py:if="defined('status_error') and status_error" py:content="status_error" class="center" />
		</div>
		<div id="update-status-error" class="box-error hidden" />
	</form>
</html>
