sudo: false
language: python
python:
  - "2.6"
  - "2.7"
  - "pypy"

install:
  - pip install -r requirements.txt
  - pip install -r dev_requirements.txt
  - python setup.py develop

script: nosetests

