include LICENSE.txt
include development.ini
include ez_setup.py
include setup_triggers.sql
include mediacore/config/deployment.ini_tmpl
include data/media/.htaccess
include data/deleted/.htaccess
include data/tmp/.htaccess
include doc/Makefile
include doc/python.inv
recursive-include batch-scripts *
recursive-include deployment-scripts *
recursive-include dependencies *
recursive-include doc *.py
recursive-include doc *.rst
recursive-exclude doc/build *
recursive-include mediacore/migrations *
recursive-include mediacore/public *
recursive-include mediacore/templates *
recursive-include mediacore/i18n *
recursive-exclude * *.pyc
recursive-exclude * .*.swp
recursive-exclude * .DS_Store
recursive-exclude mediacore/public/images/media *.*
include mediacore/public/images/media/new*.jpg
include mediacore/public/images/media/1s.jpg
include mediacore/public/images/media/1m.jpg
include mediacore/public/images/media/1l.jpg
include mediacore/public/images/media/2s.jpg
include mediacore/public/images/media/2m.jpg
include mediacore/public/images/media/2l.jpg
include mediacore/public/images/media/3s.jpg
include mediacore/public/images/media/3m.jpg
include mediacore/public/images/media/3l.jpg
include mediacore/public/images/media/4s.jpg
include mediacore/public/images/media/4m.jpg
include mediacore/public/images/media/4l.jpg
recursive-exclude mediacore/public/images/podcasts *.*
include mediacore/public/images/podcasts/new*.jpg
include mediacore/public/images/podcasts/1s.jpg
include mediacore/public/images/podcasts/1m.jpg
include mediacore/public/images/podcasts/1l.jpg
