# MANIFEST.in lists all extra files for sdist to include in a distribution.

# By default, because we specify no MANIFEST file, sdist will include
# README.txt, all *.py files it finds, etc... For a full list, see:
# http://docs.python.org/distutils/sourcedist.html#specifying-the-files-to-distribute

include LICENSE.txt
include development.ini
include ez_setup.py
include setup_triggers.sql

# Include the various data dirs, each containing a single file.
include data/media/.htaccess
include data/deleted/.dummy
include data/python-egg-cache/.dummy
include data/tmp/.dummy
include data/appearance/.dummy

# Only include the default images, no others.
recursive-exclude data/images/media *.*
recursive-exclude data/images/podcasts *.*
include data/images/media/new[sml].jpg
include data/images/media/[1-4][sml].jpg
include data/images/podcasts/new[sml].jpg
include data/images/podcasts/1[sml].jpg

# Include the docs, but not the doc/build dir.
include doc/Makefile
include doc/python.inv
recursive-include doc *.py
recursive-include doc *.rst
prune doc/build

# Exclude all closure tools
recursive-exclude closure-library *.*
recursive-exclude batch-scripts/closure *.*

# Include our deployment.ini template
include mediadrop/config/deployment.ini_tmpl

# Include all files in these directories
graft mediadrop/migrations
graft mediadrop/public
graft mediadrop/templates
graft mediadrop/i18n

# Always ignore scrap files
recursive-exclude * *.pyc
recursive-exclude * .*.swp
recursive-exclude * .DS_Store
