--index-url=https://static.mediadrop.video/dependencies/dev/
iso8601
formencode >= 1.2.4 # (version required by Pylons 1.0)
# mysqlclient is a fork for MySQL-python which contains updated code
# so you can build it with modern versions of MySQL/MariaDB. However
# the package is not compatible with Python 2.6.
# If you are using Python 2.6 please replace "mysqlclient" with "MySQL-python".
mysqlclient ; python_version > '2.6'
Pylons >= 1.0
# WebOb 1.2.x raises an error if we use "request.str_params" (as we did in
# MediaDrop 0.10/WebOb 1.0.7) but the non-deprecated attribute was only
# added in WebOb 1.1 so we need that as baseline.
WebOb >= 1.1
WebHelpers == 1.0
# 0.7: event listener infrastructure, alembic 0.5 requires at least 0.7.3
# we need to change our class_mappers for 0.8 support
SQLAlchemy >= 0.7.3, < 0.8
# theoretically every alembic since 0.4 should work (which added the
# alembic.config.Config class) but MediaDrop is only tested with 0.5+
# A user reported that alembic > 0.6.7 is does not work (#239) so for now
# the max version is 0.6.7.
alembic >= 0.4, <= 0.6.7
Genshi >= 0.6 # i18n improvements in Genshi
# custom translations per instance (missing Translations._catalog attribute)
Babel >= 1.0
Routes == 1.12.3
repoze.who == 1.0.18
repoze.who-friendlyform
repoze.who.plugins.sa
Paste >= 1.7.5.1 # (version required by Pylons 1.0)
PasteScript >= 1.7.4.2 # paster_plugins=
PasteDeploy >= 1.5 # (version required by Pylons 1.0)
ToscaWidgets >= 0.9.12 # 0.9.9 is not compatible with Pylons 1.0
tw.forms == 0.9.9
Pillow
akismet == 0.2.0
google-api-python-client
unidecode
decorator >= 3.3.2 # (version required by Pylons 1.0)
simplejson >= 2.2.1 # (version required by Pylons 1.0)
aniso8601==1.0.0
bleach >= 1.4.1

