<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      py:strip="">

<py:def function="facebook_like(id, url=None, show_faces=False, width=313, height=30)">
	<?python
	href = (url and h.url_for(controller=url, qualified=True)) or h.url_for(qualified=True)
	like_url = dict(
		href = h.quote(href),
		layout = 'standard',
		show_faces = (show_faces and 'true') or 'false',
		action = 'like',
		colorscheme = 'light',
	)
	?>
	<iframe
		id="${id}"
		src="http://www.facebook.com/plugins/like.php?${h.urlencode(like_url)}"
		scrolling="no"
		frameborder="0"
		style="border:none; overflow:hidden; width:${width}px; height:${height}px;"
		allowTransparency="true"
	></iframe>
</py:def>

</html>
