<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
<xi:include href="../helpers.html" />
<xi:include href="../master.html" />
${set_nav_opts('podcast_help')}
<head>
	<title>Podcasts</title>
	<link href="${h.url_for('/styles/podcasts.css')}" media="screen" rel="stylesheet" type="text/css" />
	<link href="${h.url_for(action='feed')}" type="application/rss+xml" rel="alternate" title="Podcast RSS Feed" />
</head>
<body class="nav-podcasts-on">
	<box id="podcasts-box" py:with="episodes_paginator=c.paginators.episodes">
		<nav />

		<h3 class="recent-eps">Recent Episodes in the <span>${Markup(podcast.title)}</span> series</h3>
		<ul py:replace="podcastgrid(episodes)" />
		<div py:content="pagination(episodes_paginator)" class="clear" />

		<hr style="clear:both;margin-bottom:26px;height:0;border:0;" />

		<innerbox>
			<innerboxtitle>Podcast Series</innerboxtitle>
			<ul id="podcasts" class="innerbox-list">
				<li>
					<span class="podcast-art"><img src="${h.url_for('/images/podcasts/%sm.jpg' % podcast.id)}" width="154" height="154" class="f-lft" /></span>
					<div class="description">
						<div class="title">${Markup(podcast.title)}</div>
						<p py:replace="Markup(podcast.description)" />
					</div>
					<div class="options">
						<a href="${podcast.itunes_url or h.url_for(action='feed', slug=podcast.slug)}">Add to iTunes</a> |
						Number of Episodes: ${podcast.published_media_count}
					</div>
				</li>
			</ul>
		</innerbox>
	</box>
</body>
</html>
