<!--! This file is a part of MediaCore, Copyright 2009 Simple Station Inc.

	MediaCore is free software: you can redistribute it and/or modify
	it under the terms of the GNU General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.

	MediaCore is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU General Public License for more details.

	You should have received a copy of the GNU General Public License
	along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
<xi:include href="../master.html" />
<head>
	<title>Podcasts</title>
	<link href="${h.url_for('/styles/podcasts.css')}" media="screen" rel="stylesheet" type="text/css" />
	<link py:for="podcast in podcasts"
	      type="application/rss+xml" rel="alternate"
	      href="${h.url_for(action='feed', slug=podcast.slug)}"
	      title="${h.decode_entities(podcast.title)} RSS Feed" />
</head>
<body class="nav-podcasts-on">
	<div class="mediacore-content">
		<h2 class="uppercase">All Podcasts</h2>
		<div py:for="podcast in podcasts" class="podcast-box feat-box">
			<div class="feat-top" />
			<div class="feat-content clearfix">
				<a href="${h.url_for(action='view', slug=podcast.slug)}" class="f-lft" style="margin-right:13px"><img src="${h.thumb_url(podcast, 'm')}" width="160" height="160" alt="${Markup(podcast.title).stripentities()}" /></a>
				<div style="float:right;width:715px">
					<h3><a href="${h.url_for(action='view', slug=podcast.slug)}" class="underline-hover">${Markup(podcast.title)}</a></h3>
					<div class="podcast-meta">
						<a py:if="podcast.itunes_url" class="meta meta-itunes underline-hover" href="${podcast.itunes_url or h.url_for(action='feed', slug=podcast.slug)}">Add to iTunes</a>
						<a class="meta meta-rss underline-hover" href="${h.url_for(action='feed', slug=podcast.slug)}">Subscribe via RSS</a>
					</div>
					<p py:replace="Markup(podcast.description)" />
					<h4 style="font-size:15px;margin-top:10px;">Latest 4 of ${podcast.media_count_published} Episodes:</h4>
					<ol class="podcast-episodes">
						<li py:for="media in podcast.media[:4]">
							<a class="meta meta-audio underline-hover" href="${h.url_for(controller='/media', action='view', slug=media.slug, podcast_slug=podcast.slug)}">${media.title}</a>
							<span class="meta meta-comments" title="Comments">${media.comment_count_published} <span>Comment<py:if test="media.comment_count_published != 1">s</py:if></span></span>
							<span class="meta meta-likes" title="Likes">${media.likes} <span>Like<py:if test="media.likes != 1">s</py:if></span></span>
							<span class="meta meta-views" title="Views">${media.views} <span>View<py:if test="media.views != 1">s</py:if></span></span>
							<br />
							<div style="margin-left:18px" py:content="h.truncate(media.description_plain, 150)">Description</div>
						</li>
					</ol>
				</div>
			</div>
			<div class="feat-bottom" />
		</div>
	</div>


<!--!
	<div class="mediacore-content" py:with="episodes_paginator = c.paginators.episodes; episode_count = len(episodes); first_page = episodes_paginator.page == 1;">
		<div id="featured-ep" py:if="first_page and episode_count" py:with="media = episodes[0]">
			<a href="${h.url_for(controller='/media', action='view', slug=media.slug, podcast_slug=media.podcast.slug)}" class="grid-thumb">
				<img src="${h.thumb_url(media, 'l')}" width="410" height="231" alt="Featured: ${h.decode_entities(media.title)}" />
			</a>
			<a href="${h.url_for(controller='/media', action='view', slug=media.slug, podcast_slug=media.podcast.slug)}" class="grid2-link">
				<span class="featured-ep-top">
					<span class="featured-ep-caption">Featured Episode</span>
					<span class="grid-title">${Markup(media.title)}</span>
				</span>
			</a>
			<div class="grid-desc">
				<p py:replace="Markup(h.truncate_xhtml(media.description, 300))" />
			</div>
			<div class="grid-meta grid2">
				<span class="grid-comments">${media.comment_count_published}<span> Comment<py:if test="media.comment_count_published != 1">s</py:if></span></span>
				<span class="grid-likes">${media.likes} <span>Like<py:if test="media.likes != 1">s</py:if></span></span>
				<span class="grid-views">${media.views} <span>View<py:if test="media.views != 1">s</py:if></span></span>
			</div>
		</div>

		<h3 class="recent-eps">Recent Episodes</h3>
		<div py:if="episode_count &lt; 2">No recent episodes found.</div>
		<ul py:if="episode_count &gt; 1"
		    py:with="episodes = first_page and episodes[1:] or episodes"
		    py:replace="podcast_grid(episodes)"
		/>
		<div py:content="pagination(episodes_paginator)" style="clear:both" />

		<hr style="clear:both;margin-bottom:26px;height:0;border:0;" />

		<innerbox py:if="episodes_paginator.page == 1">
			<innerboxtitle>Podcast Series</innerboxtitle>
			<ul id="podcasts" class="innerbox-list">
				<li py:for="podcast in podcasts">
					<a href="${h.url_for(action='view', slug=podcast.slug)}" class="podcast-art"><img src="${h.thumb_url(podcast, 'm')}" width="154" height="154" alt="${Markup(podcast.title).stripentities()}" /></a>
					<div class="description">
						<a href="${h.url_for(action='view', slug=podcast.slug)}" class="title">${Markup(podcast.title)}</a>
						<p py:replace="Markup(podcast.description)" />
					</div>
					<div class="options">
						<a href="${podcast.itunes_url or h.url_for(action='feed', slug=podcast.slug)}">Add to iTunes</a> |
						<a href="${h.url_for(action='view', slug=podcast.slug)}">View All Episodes</a> |
						Number of Episodes: ${podcast.media_count_published}
					</div>
				</li>
			</ul>
		</innerbox>
	</div>-->
</body>
</html>
