<!--! This file is a part of MediaCore, Copyright 2009 Simple Station Inc.

	MediaCore is free software: you can redistribute it and/or modify
	it under the terms of the GNU General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.

	MediaCore is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU General Public License for more details.

	You should have received a copy of the GNU General Public License
	along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:i18n="http://genshi.edgewall.org/i18n"
      xmlns:xi="http://www.w3.org/2001/XInclude">
<xi:include href="../master.html" />
<head>
	<title>${podcast.title}</title>
	<link href="${h.url_for('/styles/podcasts.css')}" media="screen" rel="stylesheet" type="text/css" />
	<link type="application/rss+xml" rel="alternate"
	      href="${h.url_for(action='feed')}"
	      title="${podcast.title}" />
</head>
<body class="nav-podcasts-on">
	<div class="mediacore-content">
		<h3>${podcast.title}</h3>
		<div class="podcast-box feat-box">
			<div class="feat-top" />
			<div class="feat-content clearfix">
				<span class="thumb-wrap"><img src="${h.thumb_url(podcast, 'm')}" width="160" height="160" alt="${podcast.title}" /></span>
				<div class="podcast-info">
					<a href="${h.url_for(controller='/admin/podcasts', action='edit', id=podcast.id)}" class="underline-hover f-rgt" py:if="h.is_admin()">Edit</a>
					<p py:replace="Markup(podcast.description)" />
				</div>
				<div class="podcast-meta">
					<a py:if="podcast.itunes_url" class="meta meta-itunes underline-hover" href="${podcast.itunes_url or h.url_for(action='feed', slug=podcast.slug)}">Add to iTunes</a>
					<a class="meta meta-rss underline-hover" href="${h.url_for(action='feed', slug=podcast.slug)}">Subscribe via RSS</a>
				</div>
			</div>
			<div class="feat-bottom" />
		</div>

		<h4 i18n:choose="result_count; result_count" class="uppercase">
			<i18n:singular>${result_count} Episodes</i18n:singular>
			<i18n:plural>All ${result_count} Episodes</i18n:plural>
		</h4>
		${library_controls(show, paginator=c.paginators.episodes)}
		<ul py:replace="media_grid(episodes, thumb_size='m', desc_len=135)" />
	</div>
</body>
</html>
