<!--! This file is a part of MediaCore, Copyright 2009 Simple Station Inc.

	MediaCore is free software: you can redistribute it and/or modify
	it under the terms of the GNU General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.

	MediaCore is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU General Public License for more details.

	You should have received a copy of the GNU General Public License
	along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
<xi:include href="../master.html" />
<head>
	<title>${podcast.title}</title>
	<link href="${h.url_for('/styles/podcasts.css')}" media="screen" rel="stylesheet" type="text/css" />
	<link type="application/rss+xml" rel="alternate"
	      href="${h.url_for(action='feed')}"
	      title="${h.decode_entities(podcast.title)} RSS Feed" />
</head>
<body class="nav-podcasts-on">
	<div id="podcasts-box" class="mediacore-content" py:with="episodes_paginator=c.paginators.episodes">
		<div style="margin-bottom:17px;height:0" />

		<innerbox>
			<innerboxtitle>Podcast Series</innerboxtitle>
			<ul id="podcasts" class="innerbox-list">
				<li>
					<span class="podcast-art"><img src="${h.thumb_url(podcast, 'm')}" width="154" height="154" /></span>
					<div class="description">
						<div class="title">${Markup(podcast.title)}</div>
						<p py:replace="Markup(podcast.description)" />
					</div>
					<div class="options">
						<a href="${podcast.itunes_url or h.url_for(action='feed', slug=podcast.slug)}">Add to iTunes</a> |
						Number of Episodes: ${podcast.media_count_published}
					</div>
				</li>
			</ul>
		</innerbox>

		<div style="clear:both;margin-bottom:26px;height:0" />

		<h3 class="recent-eps">Recent Episodes in the <span>${Markup(podcast.title)}</span> series</h3>
		<ul py:replace="podcast_grid(episodes)" />
		<div py:content="pagination(episodes_paginator)" style="clear:both" />
	</div>
</body>
</html>