<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      py:strip="">

	<py:match path="head" once="true">
		<head>
			<link href="/styles/mediaflow.css" media="screen" rel="stylesheet" type="text/css" />
			<link href="/styles/ratings.css" media="screen" rel="stylesheet" type="text/css" />
			<link href="/styles/videos.css" media="screen" rel="stylesheet" type="text/css" />
			<script type="text/javascript" src="/scripts/tags.js"></script>
			<script type="text/javascript">
				window.addEvent('domready', function() {
//					var ts = new TagSlider({container: 'mediaplex-topics'});
				});
			</script>
			<meta py:replace="select('*')"/>
		</head>
	</py:match>

	<py:match path="box" recursive="false">
		<div class="box" py:attrs="select('@*')">
			<div class="box-top"></div>
			<div py:replace="select('nav')" />
			<div class="box-body" py:content="select('*[not(nav)]|text()')">Content is inserted here</div>
			<div class="box-bottom"></div>
		</div>
	</py:match>

	<py:match path="nav" recursive="false">
		<div class="box-nav">
			<ul id="nav-main" class="box-nav-left">
				<li id="nav-latest"><a href="${h.url_for(controller='/video')}">Latest</a></li>
				<li id="nav-video"><a href="${h.url_for(controller='/video')}">Video</a></li>
				<li id="nav-podcasts"><a href="${h.url_for(controller='/podcasts')}">Podcasts</a></li>
			</ul>
			<a id="nav-topics" href="/video-tags">Topic Index</a>
			<div py:replace="select('*|text()')" />
		</div>
	</py:match>

</html>
