<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      py:strip="">
<head py:match="head">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="ROBOTS" content="NOINDEX,NOFOLLOW" />
	<script src="${h.url_for('/scripts/third-party/mootools-1.2.2-core-nc.js')}" type="text/javascript"></script>
	<script src="${h.url_for('/scripts/third-party/mootools-1.2.2.2-more-nc.js')}" type="text/javascript"></script>
	<link href="${h.url_for('/styles/base.css')}" media="screen" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" type="text/css" media="all" href="${h.url_for('/../css/reset.css')}" />
	<link rel="stylesheet" type="text/css" media="all" href="${h.url_for('/../css/base.css')}" />
	<link rel="stylesheet" type="text/css" media="all" href="${h.url_for('/../css/960.css')}" />
	<meta py:replace="select('*')"/>
</head>
<body py:match="body" py:attrs="select('@*')">
	<div id="global-nav">
		<div class="container">
			<ul>
				<li><a href="${h.url_for('/../')}">Home</a></li>
				<li><a href="${h.url_for('/../concept')}">The Concept</a></li>
				<li><a href="${h.url_for('/../preview/concept')}" class="selected">Preview</a></li>
				<li><a href="${h.url_for('/../your-ideas')}">Your Ideas</a></li>
				<li><script type="text/javascript" src="http://w.sharethis.com/button/sharethis.js#publisher=052084b8-d129-4bb6-95d6-a1e5a37931d6&amp;type=website&amp;buttonText=Share%20This&amp;headerTitle=Share%20this%20site%20with%20your%20friends."></script></li>
			</ul>
		</div>
	</div>

	<div class="container">
		<div class="content">
			<img src="${h.url_for('/../images/concept-sunday-school-logo.png')}" alt="Concept Sunday School" width="140" class="fR"/>

			<div class="container-12">
				<div class="grid-12">
					<img src="${h.url_for('/../images/preview.png')}" alt="Preview" width="350" />
				</div>
				<div class="clear">&nbsp;</div>

				<div py:replace="select('*|text()')" />
			</div>
		</div>
	</div>

	<div id="footer">
		<p>
			&copy; 2009 tmcyouth.com.
			All rights reserved.
			<a href="/contact-us.html">Contact Us</a> |
			<a href="/sitemap.html">Sitemap</a> |
			<a href="/terms-of-service.html">Terms of Service</a> |
			<a href="/terms-of-service.html#privacy">Privacy</a>
		</p>
	</div>
</body>
</html>
