<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      py:strip="">

	<!--! Call this method to set options for the nav bar -->
	<py:def
		function="set_nav_opts(*args)"
		py:with="a = setattr(c, 'nav_opts', dict(
			show_left = 'hide_left' not in args,
			show_topics = 'hide_topics' not in args,
			show_topic_list = 'unhide_topic_list' in args,
			show_upload = 'hide_upload' not in args,
			show_podcast_help = 'hide_podcast_help' not in args and 'podcast_help' in args,
			));"
	/>

	<py:match path="head" once="true">
		<py:if test="not c.nav_opts" py:replace="set_nav_opts()" />
		<head>
			<link href="${h.url_for('/styles/mediaflow.css')}" media="screen" rel="stylesheet" type="text/css" />
			<link href="${h.url_for('/styles/ratings.css')}" media="screen" rel="stylesheet" type="text/css" />
			<link href="${h.url_for('/styles/media.css')}" media="screen" rel="stylesheet" type="text/css" />
			<script type="text/javascript" src="${h.url_for('/scripts/tags.js')}" />
			<script type="text/javascript">
				window.addEvent('domready', function() {
					var flyoutOpenFx = [
						{duration:  30, transition: 'linear'},
						{duration:  20, transition: 'linear'},
						{duration: 450, transition: 'cubic:out'}
					];
					var flyoutCloseFx = [
						{duration:  30, transition: 'linear'},
						{duration:  20, transition: 'linear'},
						{duration: 450, transition: 'cubic:in'}
					];
					var topicIndexFlyout = new ButtonFlyout({
						button: 'nav-topics',
						buttonActiveClass: 'topics-shown',
						elements: $('mediaplex-topics').getChildren(),
						startHidden: ${c.nav_opts['show_topic_list'] and 'false' or 'true'},
						openFx: flyoutOpenFx,
						closeFx: flyoutCloseFx
					});
					<py:if test="c.nav_opts['show_podcast_help']">
						var podcastHelpFlyout = new ButtonFlyout({
							button: 'nav-podcast-help',
							buttonActiveClass: 'podcast-help-shown',
							elements: $('podcast-help-box').getChildren(),
							openFx: flyoutOpenFx,
							closeFx: flyoutCloseFx
						});
						var hider = function(how) { if (how == 'in') if (this.open) this.hide(); };
						topicIndexFlyout.addEvent('start', hider.bind(podcastHelpFlyout));
						podcastHelpFlyout.addEvent('start', hider.bind(topicIndexFlyout));
					</py:if>
				});
			</script>
			<meta py:replace="select('*')" />
		</head>
	</py:match>

	<py:match path="box" recursive="false">
		<div class="box" py:attrs="select('@*')">
			<div class="box-top"></div>
			<div py:replace="select('nav')" />
			<div class="box-body" py:content="select('*[not(nav)]|text()')">Content is inserted here</div>
			<div class="box-bottom"></div>
		</div>
	</py:match>

	<py:match path="nav" recursive="false">
		<py:if test="not c.nav_opts" py:replace="set_nav_opts()" />
		<div class="box-nav">
			<ul py:if="c.nav_opts['show_left']" id="nav" class="box-nav-left">
				<li id="nav-latest"><a href="${h.url_for(controller='/video', action='flow')}">Latest</a></li>
				<li id="nav-videos"><a href="${h.url_for(controller='/video')}">Video</a></li>
				<li id="nav-podcasts"><a href="${h.url_for(controller='/podcasts')}">Podcasts</a></li>
			</ul>
			<a py:if="c.nav_opts['show_topics']" id="nav-topics" class="box-nav-right topics-shown" href="/video-tags">Topic Index</a>
			<a py:if="c.nav_opts['show_upload']" id="nav-upload-video" class="box-nav-right" href="${h.url_for(controller='/video', action='upload')}">Upload a Video</a>
			<a py:if="c.nav_opts['show_podcast_help']" id="nav-podcast-help" class="box-nav-right podcast-help-shown" href="#">What are podcasts?</a>
			<div py:if="c.nav_opts['show_podcast_help']" id="podcast-help-box" class="nav-box">
				<div id="podcast-help-top" />
				<div class="nav-box-top" />
				<div>
					<div class="nav-box-body">
						<p style="line-height:1.6em">A <em>podcast</em> is a series of digital media files, usually either digital audio or video, that is made available for download via web syndication. The syndication aspect of the delivery is what differentiates podcasts from other ways of accessing files, such as simple download or streaming: it means that special client software applications known as podcatchers (such as Apple Inc.'s iTunes or Nullsoft's Winamp) can automatically identify and retrieve new files in a series when they are made available, by accessing a centrally-maintained web feed that lists all files currently associated with that particular podcast. The files thus automatically downloaded are then stored locally on the user's computer or other device, for offline use.</p>
						<div style="margin-top:.5em;text-align:right">from <a href="http://en.wikipedia.org/wiki/Podcast">Wikipedia</a></div>
					</div>
					<div class="nav-box-bottom" />
				</div>
			</div>
			<div py:if="c.nav_opts['show_topics']" id="mediaplex-topics" class="nav-box">
				<div id="topic-box-top" />
				<div class="nav-box-topright" />
				<div><!--! this extra div is here to group elements for the ButtonFlyout js -->
					<div class="nav-box-body" py:with="per_col = max(5, int(h.math.ceil((len(c.tags) + 6) / 4.0)))">
						<ul py:if="c.tags" py:for="col in xrange(1, 5)">
							<li py:for="tag in c.tags[(col-1)*per_col:col*per_col]">
								<a href="${h.url_for(controller='/video', action='tags', slug=tag.slug)}">${tag}</a> <span>(${tag.published_media_count})</span>
							</li>
						</ul>
						<div id="topics-caption">
							<div id="topics-dontsee">Don't see the topic you are looking for?</div>
							<a id="topics-suggest" href="mailto:help@tmcyouth.com?subject=Suggest%20a%20topic!">Suggest a new topic</a>
						</div>
					</div>
					<div class="nav-box-bottom" />
				</div>
			</div>
			<div py:replace="select('*|text()')" />
		</div>
	</py:match>

	<py:match path="innerbox" recursive="false">
		<div class="innerbox" py:attrs="select('@*')">
			<div class="innerbox-top" py:content="select('innerboxtitle/text()')"></div>
			<div class="innerbox-body" py:content="select('*[not(innerboxtitle)]|text()')">Content is inserted here</div>
			<div class="innerbox-bottom"></div>
		</div>
	</py:match>

	<py:def function="pagination(paginator)">
		<div class="pager">
			<span class="pager-left" />
			<span class="pager-body">
				<span class="pager-label">Page:</span>
				<span py:replace="paginator.pager(show_if_single_page=True, curpage_attr={'class': 'current'})" />
			</span>
			<span class="pager-right" />
		</div>
	</py:def>

<!--!	<py:def function="media_player(media)" py:with="files = [f for f in media.files if f.type in ('flv', 'youtube', 'mp3')]">
		<py:choose
		py:if="len(files) > 0"
		py:with="file = files[0];
		         link = file.url.startswith('http://') and file.url or h.url_for(controller='/media', action='serve', slug=media.slug, type=media.ENCODED_TYPE);
		         flow_js = h.url_for('/scripts/third-party/flowplayer-3.1.0.min.js');
		         flow_swf = h.url_for('/scripts/third-party/flowplayer-3.1.0.swf');"
		test="files[0].type"
		>
			<div py:when="'flv'">
				<script src="${flow_js}" type="text/javascript" />
				<a href="${link}" id="flowplayer" style="display:block;width:479px;height:383px" />
				<script type="text/javascript">
					flowplayer('flowplayer', "${flow_swf}");
				</script>
			</div>

			<div py:when="'mp3'">
				<script src="${flow_js}" type="text/javascript" />
				<a href="${link}" id="flowplayer" style="display:block;width:479px;height:383px" />
				<script type="text/javascript">
					flowplayer('flowplayer', "${flow_swf}", {
						// first entry in the playlist works as splash and second entry is the audio file
						'playlist': ['${h.url_for('/images/media/%sl.jpg' % media.id)}', '${link}']
					});
				</script>
			</div>

			<object py:when="'youtube'" type="application/x-shockwave-flash"
			        width="479" height="383" data="http://youtube.com/v/${file.url}">
				<param name="movie" value="http://youtube.com/v/${file.url}" />
			</object>
		</py:choose>
		<div py:if="len(files) == 0">
			<p>The selected media object has no associated files, or the associated files are not supported by this media player.</p>
		</div>
	</py:def>-->

	<py:def function="media_player(media)" py:with="file = media.files.for_player()" py:choose="">
		<py:when test="file is None" />
		<py:when test="file.is_embeddable">
			<object type="application/x-shockwave-flash"
			        data="${file.play_url}"
			        width="479" height="383">
				<param name="allowfullscreen" value="true" />
				<param name="allowscriptaccess" value="always" />
				<param name="movie" value="${file.play_url}" />
			</object>
		</py:when>
		<py:otherwise>
			<script src="${h.url_for('/scripts/third-party/flowplayer-3.1.0.min.js')}" type="text/javascript" />
			<a href="${file.play_url}"
			   id="flowplayer" style="display:block;width:479px;height:383px" />
			<script type="text/javascript">
				flowplayer('flowplayer', "${h.url_for('/scripts/third-party/flowplayer-3.1.0.swf')}");
			</script>
		</py:otherwise>
	</py:def>

	<py:def function="xhtml_description(fieldName)">
		<div class="xhtml-description-helper">
			<p>The ${fieldName} field accepts some HTML formatting: ${h.list_acceptable_xhtml()['tags']}</p>
			<!--!
			<ul class="xhtml_description">
				<li><em>Tags:</em> ${h.list_acceptable_xhtml()['tags']}.</li>
				<li><em>Attributes:</em> ${h.list_acceptable_xhtml()['attrs']}</li>
				<li><em>Some tag conversions</em> will be made automatically: ${h.list_acceptable_xhtml()['map']}</li>
			</ul>
			-->
		</div>
	</py:def>

</html>
