<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      py:strip="">

	<py:match path="head" once="true">
		<head>
			<link href="${h.url_for('/styles/mediaflow.css')}" media="screen" rel="stylesheet" type="text/css" />
			<link href="${h.url_for('/styles/ratings.css')}" media="screen" rel="stylesheet" type="text/css" />
			<link href="${h.url_for('/styles/media.css')}" media="screen" rel="stylesheet" type="text/css" />
			<script type="text/javascript" src="${h.url_for('/scripts/tags.js')}" />
			<script type="text/javascript">
				window.addEvent('domready', function() {
					var topicIndexFlyout = new ButtonFlyout({
						button: 'nav-topics',
						buttonActiveClass: 'topics-shown',
						elements: $('mediaplex-topics').getChildren(),
						startHidden: ${c.show_tags and 'false' or 'true'},
						openFx: [
							{duration:  30, transition: 'linear'},
							{duration:  20, transition: 'linear'},
							{duration: 450, transition: 'cubic:out'}
						],
						closeFx: [
							{duration:  30, transition: 'linear'},
							{duration:  20, transition: 'linear'},
							{duration: 450, transition: 'cubic:in'}
						]
					});
				});
			</script>
			<meta py:replace="select('*')" />
		</head>
	</py:match>

	<py:match path="box" recursive="false">
		<div class="box" py:attrs="select('@*')">
			<div class="box-top"></div>
			<div py:replace="select('nav')" />
			<div class="box-body" py:content="select('*[not(nav)]|text()')">Content is inserted here</div>
			<div class="box-bottom"></div>
		</div>
	</py:match>

	<py:match path="nav" recursive="false">
		<div class="box-nav">
			<ul id="nav" class="box-nav-left">
				<li id="nav-latest"><a href="${h.url_for(controller='/video', action='flow')}">Latest</a></li>
				<li id="nav-browse"><a href="${h.url_for(controller='/video')}">Browse All</a></li>
			</ul>
			<a id="nav-topics" class="box-nav-right topics-shown" href="/video-tags">Topic Index</a>
			<a id="nav-upload-video" class="box-nav-right" href="${h.url_for(controller='/video', action='upload')}">Upload a Video</a>
			<div id="mediaplex-topics" class="topic-box">
				<div class="topic-box-top1" />
				<div class="topic-box-top2" />
				<div><!--! this extra div is here to group elements for the ButtonFlyout js -->
					<div class="topic-box-body" py:with="per_col = max(5, int(h.math.ceil((len(c.tags) + 6) / 4.0)))">
						<ul py:if="c.tags" py:for="col in xrange(1, 5)">
							<li py:for="tag in c.tags[(col-1)*per_col:col*per_col]">
								<a href="${h.url_for(controller='/video', action='tags', slug=tag.slug)}">${tag}</a> <span>(${tag.media_count})</span>
							</li>
						</ul>
						<div id="topics-caption">
							<div id="topics-dontsee">Don't see the topic you are looking for?</div>
							<a id="topics-suggest" href="mailto:help@tmcyouth.com?subject=Suggest%20a%20topic!">Suggest a new topic</a>
						</div>
					</div>
					<div class="topic-box-bottom" />
				</div>
			</div>
			<div py:replace="select('*|text()')" />
		</div>
	</py:match>

	<py:match path="innerbox" recursive="false">
		<div class="innerbox" py:attrs="select('@*')">
			<div class="innerbox-top" py:content="select('innerboxtitle/text()')"></div>
			<div class="innerbox-body" py:content="select('*[not(innerboxtitle)]|text()')">Content is inserted here</div>
			<div class="innerbox-bottom"></div>
		</div>
	</py:match>

	<py:def function="pagination(paginator)">
		<div class="pager">
			<span class="pager-left" />
			<span class="pager-body">
				<span class="pager-label">Page:</span>
				<span py:replace="paginator.pager(show_if_single_page=True, curpage_attr={'class': 'current'})" />
			</span>
			<span class="pager-right" />
		</div>
	</py:def>

	<py:def function="media_player(media)" py:with="file = [f for f in media.files if f.type in ('flv', 'youtube')][0]">
		<py:choose test="file.type">
			<div py:when="'flv'">
				<script src="${h.url_for('/scripts/third-party/flowplayer-3.1.0.min.js')}" type="text/javascript" />
				<a href="${h.url_for(controller='/media', action='serve', slug=media.slug, type=media.ENCODED_TYPE)}"
				   id="flowplayer" style="display:block;width:479px;height:383px" />
				<script type="text/javascript">
					flowplayer('flowplayer', "${h.url_for('/scripts/third-party/flowplayer-3.1.0.swf')}");
				</script>
			</div>
			<object py:when="'youtube'" type="application/x-shockwave-flash"
			        width="479" height="383" data="http://youtube.com/v/${file.url}">
				<param name="movie" value="http://youtube.com/v/${file.url}" />
			</object>
		</py:choose>
	</py:def>

</html>
