<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Login to Mediaplex</title>
	<script src="/scripts/third-party/mootools-1.2.2-core-nc.js" type="text/javascript"></script>
	<script type="text/javascript">
		window.addEvent('load', function(){
			$('login').focus();
		});
	</script>
	<link href="/admin/styles/base.css" media="screen" rel="stylesheet" type="text/css" />
	<link href="/admin/styles/login.css" media="screen" rel="stylesheet" type="text/css" />
</head>
<body>
	<div id="loginform">
		<form action="${tg.url('/login_handler', came_from=came_from.encode('utf-8'), __logins=login_counter.encode('utf-8'))}"
		      method="post" class="loginfields">
			<h2><span>Login</span></h2>
			<ul>
				<li>
					<label id="login-label" for="login">Username:</label>
					<input id="login" type="text" name="login" class="text" />
				</li>
				<li>
					<label id="password-label" for="password">Password:</label>
					<input id="password" type="password" name="password" class="text" />
				</li>
			</ul>
			<input id="submit-button" type="submit" value="Login" class="clickable" />
		</form>
	</div>
</body>
</html>
