<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      py:strip="">
<head py:match="head">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="content-language" content="en" />
	<meta name="ROBOTS" content="INDEX,FOLLOW" />
	<!-- compliance patch for microsoft browsers -->
	<!--[if lt IE 7]><script src="http://tmcyouth.com/includes/js/ie7/ie7-standard-p.js" type="text/javascript"></script><![endif]-->
	<link rel="stylesheet" href="http://tmcyouth.com/includes/yui/build/reset-fonts-grids/reset-fonts-grids.css" type="text/css" />
	<link rel="stylesheet" href="http://tmcyouth.com/css/base.css" type="text/css" />

	<link rel="stylesheet" href="http://tmcyouth.com/css/subpage.css" type="text/css" />
	<script type="text/javascript" src="http://tmcyouth.com/includes/js/swfobject.js"></script>
	<script type="text/javascript" src="http://tmcyouth.com/includes/js/flowPlayer.js"></script>
	<script type="text/javascript" src="http://tmcyouth.com/includes/js/dropnavigation.js"></script>
	<link rel="shortcut icon" href="http://tmcyouth.com/images/icons/favicon.ico" />
	<link rel="alternate" type="application/rss+xml" title="Articles RSS Feed" href="http://feeds.feedburner.com/TmcyouthChristianScienceRssFeed" />
	<title py:match="title" py:content="select('text()')" />
	<meta py:replace="select('*')"/>

</head>
<body py:match="body" py:attrs="select('@*')">
	<div id="outer">
		<div id="top">
			<!-- begin top-menu.php -->
							<!-- Google CSE Search Box Begins -->
				<form id="searchbox_001190028956299190214:cf8ts6oemxw" action="/search" method="get">
					<div>
					<input type="hidden" name="cx" value="001190028956299190214:cf8ts6oemxw" />
					<input type="hidden" name="cof" value="FORID:9" />

					<input name="q" type="text" tabindex="1" alt="Search" value="Search this site" class="searchBox" onclick="this.value=''" />
					<input type="image" src="/images/icons/go-button.gif" name="sa" alt="Search" tabindex="2" value="Search" class="goBtn"/>
					</div>
				</form>
				<ul style="font-size:92%">
					<li><a href="/meet-the-team">meet the team</a></li><li> | </li>
					<li><a href="/internships-and-jobs">internships</a></li><li> | </li>

					<li><a href="/contact-us">contact us</a></li><li> | </li>
					<li><a href="/privacy">privacy</a></li><li> | </li>
					<li><a href="http://www.twitter.com/tmcyouth"><img style="padding-left:2px; margin-top:2px;" src="/images/icons/twitter-icon.gif" alt="Twitter us" width="17" height="18" /></a></li>
				</ul>
				<a name="top"></a>
				<a href="http://www.tmcyouth.com"><img src="/images/icons/tmcyouth-logo.gif" alt="TMC Youth Christian Science Healing Community" width="179" height="36" class="logo" /></a>

			<!-- end top-menu.php -->
		</div>
	</div>
	<div id="doc2" class="yui-t2">
		<div id="bd">
			<div class="yui-b">
				<!-- begin left side menu -->
				<!-- left side menu -->
	<div id="mainMenu">

		<div id="mT">
		</div>
		<div id="mM">
							<ul>
				<li>
					<a href="/media">Videos and Media</a>
											<ul>
													<li><a href="/podcasts/">Podcasts</a></li>

												</ul>
									</li>
			</ul>
							<ul>
				<li>
					<a href="/blogs/">Blogs and Articles</a>
									</li>
			</ul>

							<ul>
				<li>
					<a href="/forums">Discussion Forums</a>
											<ul>
													<li><a href="http://www.tmcyouth.com/forums/forumdisplay.php?f=15">Healer&#8217;s Exchange</a></li>
													<li><a href="http://www.tmcyouth.com/forums/forumdisplay.php?f=22">Unasked Questions</a></li>
													<li><a href="http://www.tmcyouth.com/forums/forumdisplay.php?f=8">Campus Talk</a></li>

													<li><a href="http://www.tmcyouth.com/forums/forumdisplay.php?f=6">Sunday School</a></li>
													<li><a href="http://www.tmcyouth.com/forums/forumdisplay.php?f=27">Other Languages</a></li>
												</ul>
									</li>
			</ul>
							<ul>
				<li>
					<a href="/unconfined">Church Unconfined</a>

											<ul>
													<li><a href="/church-resources">Church Membership</a></li>
													<li><a href="/class-instruction">Class Instruction</a></li>
													<li><a href="/editors-desk">Editors&#8217; Desk</a></li>
													<li><a href="/community-links">Community Links</a></li>
												</ul>

									</li>
			</ul>
							<ul>
				<li>
					<a href="/sunday-school">Sunday School</a>
											<ul>
													<li><a href="/media/category/sunday-school/">Video &amp; Audio</a></li>

													<li><a href="/sunday-school/roundtable-chats">Roundtable Chats</a></li>
													<li><a href="/sunday-school/order-of-exercises">Order of Exercises</a></li>
													<li><a href="/sunday-school/receiving-and-attending">Receiving / Attending</a></li>
													<li><a href="/sunday-school/scriptures">Scriptures</a></li>
													<li><a href="/lesson/">Lesson Inspiration</a></li>
													<li><a href="/sunday-school/first-lessons">First Lessons</a></li>

													<li><a href="/sunday-school/next-lessons">Next Lessons</a></li>
													<li><a href="/sunday-school/christian-science">Christian Science</a></li>
													<li><a href="/sunday-school/sunday-school-workshops">Workshops</a></li>
													<li><a href="/forums/forumdisplay.php?f=6">Forum Discussions</a></li>
												</ul>
									</li>
			</ul>

							<ul>
				<li>
					<a href="/university-activities">University Activities</a>
											<ul>
													<li><a href="/forums/forumdisplay.php?f=8">Campus Talk</a></li>
													<li><a href="/cso-directory">CSO Directory</a></li>
													<li><a href="/cso-events/">CSO Events</a></li>

													<li><a href="/university-lecturers">Lecturers</a></li>
													<li><a href="/internships-and-jobs">Internship Progam</a></li>
													<li><a href="/internships/">Available Internships</a></li>
													<li><a href="/cso-resources">Resources</a></li>
												</ul>
									</li>
			</ul>

							<ul>
				<li>
					<a href="/summits">Summits</a>
											<ul>
													<li><a href="/upcoming-summits/">Upcoming Summits</a></li>
													<li><a href="https://tmcyouth.com/summit-registration/">Summit Registration</a></li>
													<li><a href="/photos">Summit Photos</a></li>

													<li><a href="/media/category/summit-media/">Summit Media</a></li>
												</ul>
									</li>
			</ul>
				</div>
		<div id="mB">
		</div>
	</div>

				<!-- end left side menu -->
			</div>
			<div id="yui-main">
				<div class="yui-b">
					<!-- begin main content -->
					<div class="content" py:content="select('*|text()')" />
					<!-- end main content -->
				</div>
			</div>

		</div>
	</div>
	<!-- begin footer-wordpress.php -->
	<div id="footer">
	<div id="bottomContainer">
	<div id="bottom">
	<div class="addon yui-t7">
	   <div class="addonbd">
		<div class="yui-g">

		<div class="yui-gb first">
			<div class="yui-u first">
				<h3 class="footer">What is TMC Youth?</h3>
				<p>It&#8217;s The Mother Church and You. We&#8217;re a community of youth and youthful thinkers around the globe united by the healing mission of Christian Science. <a href="http://www.tmcyouth.com/forums/verification.php">Register for our forums</a> and ask questions. Read more about our mission and <a href="http://tmcyouth.com/meet-the-team.html">meet our team</a>. </p>

				<h3 class="footer">Learn more about<br /> Christian Science</h3>
				<p>Simply put, it is the science of Christianity &#8212; the practical application of Christian ideas to daily life. It&#8217;s both a religious teaching and a system of <a href="http://christianscience.com/spiritual-healing.html">healing</a> founded on the Bible&#8217;s universal truths. Learn about <a href="http://www.christianscience.com" rel="external">Christian Science</a>  &raquo;</p>

			</div><!-- end yui-u -->

			<div class="yui-u">
				<h3 class="footer">Sooo&#8230; fresh</h3>
				<p>Some of our latest blogs, videos, and forum topics in a mash of fresh news:</p>




						<ul class = "podcast"><li><a href="http://tmcyouth.com/podcasts/a-god-i-can-believe-in/">#71 - Wanted: A God I can believe in</a></li><li><a href="http://tmcyouth.com/podcasts/financial-freedom-episode-70/">#70 - Claim your right to financial freedom now</a></li><li><a href="http://tmcyouth.com/podcasts/defending-health/">#69 - Defending Health</a></li></ul><ul class = "video"><li><a href="http://tmcyouth.com/media/2009-northwest-summit/">2009 Northwest Summit</a></li><li><a href="http://tmcyouth.com/media/2009-midwest-summit/">2009 Midwest Summit</a></li></ul><ul class = "comment"><li><a href="http://tmcyouth.com/blogs/finding-friendship/">Finding Friendship</a></li></ul>				</div><!-- end yui-u -->


			<div class="yui-u">
				<h3 class="footer">Upcoming events</h3>
				<p>We love Christian Science as much as you do! Check out our upcoming events!</p>
				<h3 class="footer">Stay updated</h3>
				<p>We now have RSS feeds (<a href="/about-rss.html" title="What is an RSS Feed? How do I use it?">?</a>) that will let you keep current with our latest happenings.</p>
				<ul class="rss">

					<li><a href="http://feeds.feedburner.com/TmcyouthChristianScienceRssFeed">The Master Feed (Blogs and all)</a></li>
					<li><a href="http://feeds.feedburner.com/tmcyouth/podcasts">Podcasts Feed</a> &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="http://phobos.apple.com/WebObjects/MZStore.woa/wa/viewPodcast?id=203260633">iTunes Subscribe</a></li>
				</ul>
			</div><!-- end yui-u -->
		</div><!-- end gb-first-->
	</div><!-- end yui-g -->

	</div><!-- end fd -->
</div><!-- end yui-->
</div><!-- end bottom  -->
</div><!-- end bottom container -->    <p><br /><br />
      &copy;2009  The First Church of Christ, Scientist<br />
      <a href="/sitemap">Sitemap</a> |
      <a href="/privacy">Privacy Policy</a> |
      <a href="/terms-and-conditions">Terms and Conditions</a> |
      <a href="mailto:tmcyouth@christianscience.com">Problems? Email: tmcyouth@christianscience.com</a>

    </p>
</div><!-- end footer -->
	<script src="http://www.google-analytics.com/urchin.js" type="text/javascript"></script>
	<script type="text/javascript">
	_uacct = "UA-688649-1";
	urchinTracker();
	</script>	<!-- end footer-wordpress.php -->
</body>
</html>

