<!--! This file is a part of MediaCore, Copyright 2009 Simple Station Inc.

	MediaCore is free software: you can redistribute it and/or modify
	it under the terms of the GNU General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.

	MediaCore is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU General Public License for more details.

	You should have received a copy of the GNU General Public License
	along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:i18n="http://genshi.edgewall.org/i18n"
      xmlns:xi="http://www.w3.org/2001/XInclude">
<xi:include href="../master.html" />
<head>
	<title>Upload Videos</title>
	<link href="${h.url_for('/styles/upload.css')}" media="screen" rel="stylesheet" type="text/css" />
</head>
<body class="nav-upload-on">
	<div class="mediacore-content">
		<h2 class="uppercase">Upload Error</h2>
		<div id="upload-wording" class="feat-box">
			<div class="feat-top" />
			<div class="feat-content">
				<p>During your upload, something went wrong, but don't worry. The engineers and gnomes have been automagically notified and we're already on our way to resolving your issue.</p>
				<br />
				<h4 class="italic">Something you can check:</h4>
				<ul>
					<li i18n:msg="maxUploadSize">Is the file under ${int(g.settings['max_upload_size'])/1024/1024} Megabytes in size?</li>
				</ul>
				<br />
				<a href="${h.url_for(action='index')}">Try Uploading Again</a>
			</div>
			<div class="feat-bottom" />
		</div>
	</div>
</body>
</html>
