<!--! This file is a part of MediaCore, Copyright 2009 Simple Station Inc.

	MediaCore is free software: you can redistribute it and/or modify
	it under the terms of the GNU General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.

	MediaCore is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU General Public License for more details.

	You should have received a copy of the GNU General Public License
	along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<div xmlns="http://www.w3.org/1999/xhtml"
     xmlns:py="http://genshi.edgewall.org/"
     class="category-box">
	<ul py:if="options"
	    class="${css_class}"
	    id="${id}"
	    py:attrs="list_attrs"
	    py:with="selected_opts   = [opt for opt in options if 'checked' in opt[2]];
	             unselected_opts = [opt for opt in options if 'checked' not in opt[2]];">
		<py:for each="options_list in (selected_opts, unselected_opts)">
			<li py:for="(value, desc, attrs) in options_list">
				<label>
					<input type="${field_type}" name="${name}" value="${value}" py:attrs="attrs" />
					${desc}
				</label>
			</li>
		</py:for>
	</ul>
</div>
