# You can tweak the WSGIDaemonProcess directive for performance, but this
# will work for now.
# Relevant doc pages:
#     http://code.google.com/p/modwsgi/wiki/ProcessesAndThreading
#     http://code.google.com/p/modwsgi/wiki/ConfigurationDirectives#WSGIDaemonProcess
# Hint: pay attention to issues surrounding worker-mpm and prefork-mpm.

# For best performance the number of processes should equal the number of CPU 
# cores (but please note that each process may use about 500 MB RAM).
WSGIDaemonProcess mcore \
    processes=2 \
    threads=1 \
    display-name=%{GROUP} \
    python-path=/path/to/venv/lib/python2.6/site-packages \
    python-eggs=/path/to/data/python-egg-cache

WSGIProcessGroup mcore

# Intercept all requests to /my_media/* and pass them to mediadrop.wsgi
WSGIScriptAlias /my_media /path/to/mediadrop.wsgi

# Create an exception for media and podcast image from your data directory
AliasMatch /my_media/images/(media|podcasts)(.*) /path/to/data/images/$1$2

# Create an exception for all static MediaDrop content
AliasMatch /my_media/(admin/)?(images|scripts|styles)(.*) /path/to/mediadrop_install/mediadrop/public/$1$2$3

# Create an exception for your custom appearance css and images
Alias /my_media/appearance /path/to/data/appearance

# Make all the static content accessible
<Directory /path/to/mediadrop_install/mediadrop/public/*>
    Order allow,deny
    Allow from all
    Options -Indexes
</Directory>

