<!--! This file is a part of MediaCore, Copyright 2009 Simple Station Inc.

	MediaCore is free software: you can redistribute it and/or modify
	it under the terms of the GNU General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.

	MediaCore is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU General Public License for more details.

	You should have received a copy of the GNU General Public License
	along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
<xi:include href="./master.html" />
<head>
	<title>Import Videos</title>
	<link href="${h.url_for('/admin/styles/forms.css')}" media="screen" rel="stylesheet" type="text/css" />
	<link href="${h.url_for('/admin/styles/media.css')}" media="screen" rel="stylesheet" type="text/css" />

</head>
<body>
	<div class="box">
		<div class="box-head">
			<h1>Import Videos</h1>
			<span class="box-head-sec">${h.doc_link('admin/settings', 'upload')}</span>
		</div>
		<div class="form-save-error"
			py:if="'_the_form' in tmpl_context.form_errors"
			py:content="tmpl_context.form_errors['_the_form']">
			Display import errors
		</div>
		<form py:replace="XML(form(form_values, child_args={'youtube.categories': {'category_tree': category_tree}}))" />
	</div>
</body>
</html>
