<!--! This file is a part of MediaCore, Copyright 2009 Simple Station Inc.

	MediaCore is free software: you can redistribute it and/or modify
	it under the terms of the GNU General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.

	MediaCore is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU General Public License for more details.

	You should have received a copy of the GNU General Public License
	along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      py:strip="">

<head py:match="head">
	<meta py:replace="select('*')"/>
	<link href="${h.url_for('/admin/styles/settings.css')}" media="screen" rel="stylesheet" type="text/css" />
</head>

<body py:match="body" class="menu-settings-on" py:attrs="select('@*')">
	<!--! We're just adding the 'menu-settings-on' class to highlight the right nav button -->
	<div py:replace="select('*|text()')" />
</body>

<div id="body" py:match="div[@id='body']">
	<div class="lft-column33">
		<div class="box">
			<h1 class="box-head">Settings</h1>
			<ul id="settings-menu" class="box-content">
				<li><a id="menu-settings-categories" href="${h.url_for(controller='/admin/categories')}">Categories</a></li>
				<li><a id="menu-settings-tags" href="${h.url_for(controller='/admin/tags')}">Tags</a></li>
				<li><a id="menu-settings-users" href="${h.url_for(controller='/admin/users')}">Users</a></li>
				<li><a id="menu-settings-notifications" href="${h.url_for(controller='/admin/settings', action='notifications')}">Notification Emails</a></li>
				<li><a id="menu-settings-display" href="${h.url_for(controller='/admin/settings', action='display')}">Display</a></li>
				<li><a id="menu-settings-popularity" href="${h.url_for(controller='/admin/settings', action='popularity')}">Popularity Algorithm</a></li>
				<li><a id="menu-settings-analytics" href="${h.url_for(controller='/admin/settings', action='analytics')}">Analytics</a></li>
				<li><a id="menu-settings-upload" href="${h.url_for(controller='/admin/settings', action='upload')}">Upload</a></li>
				<li><a id="menu-settings-comments" href="${h.url_for(controller='/admin/settings', action='comments')}">Comments</a></li>
			</ul>
		</div>
	</div>
	<div class="rgt-column66">
		<div py:replace="select('*|text()')" />
	</div>
</div>

</html>
