/**
 * This file is a part of MediaCore, Copyright 2009 Simple Station Inc.
 *
 * MediaCore is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * MediaCore is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */
.form .form_field,
/*.form .field-list div,*/
.form .form_label {
	margin: 10px;
}
.form .form_label label {
	font-size: 108%;
	font-weight: bold;
	color: #3c4d5a;
}
.form .field_error,
.form .fielderror {
	color: #eb4c4c;
}
.form .fielderror {
	padding: 5px 0;
	margin-left: 10px;
	display: block;
	float: left;
}
.form .form_field {
	/* bump the size down 12px so that when firefox adds 12px
	 * to the 100% input width it still fits visually */
	padding-right: 12px;
}
.form .field-list > li {
	clear: both;
	width: 100%;
	overflow: hidden;
}
.form #author_name_container,
.form #author_email_container {
	width: 50%;
	float: left;
	clear: none;
}
.details_fieldset legend {
	font-size: 108%;
	font-weight: bold;
	color: #3c4d5a;
	margin: 10px 10px 0 0;
}
.details_fieldset .fieldlabel,
.details_fieldset .fieldhelp {
	margin-right: 10px;
	float: left;
	font-weight: normal;
	display: block;
	width: 60px;
	margin-top: 5px;
	margin-bottom: 5px;
}
.details_fieldset .fieldhelp {
	width: auto;
	margin-left: 10px;
}
.details_fieldset > ul > li {
	margin-bottom: 5px;
	padding: 5px 0;
	clear: both;
}
label .field_help {
	font-weight: normal;
	font-size: 12px;
	color: #5d7485;
	margin-left: 5px;
}

.btn-edit-art {
	text-indent: -1000px;
	cursor: pointer;
	border: 0;
	height: 34px;
	width: 171px;
	background-repeat: no-repeat;
	margin: 0 auto;
}
.btn-edit-art {
	background-image: url('../images/buttons/edit-image.png');
}

.thumb {
	margin: 0 auto 10px auto;
	border: 5px solid #989790;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.thumb img {
	border: 1px solid #fff;
	display: block;
}

.category-box {
	overflow: scroll;
	overflow-x: hidden;
	width: 100%;
	height: 150px;
}
.category-box li {
	padding-bottom: 5px;
}
.category-box li input {
	width: auto;
}

.form-saving,
.form-saved,
.form-save-error {
	margin: 0 10px;
	line-height: 34px;
}
.form-saving {
	background: url('../images/icons/spinner.gif') no-repeat 0 50%;
	padding-left: 20px;
	color: #878685;
}
.form-saved {
	color: #196D29;
}
.form-save-error {
	color: red;
}

.form .field-list li.slug-minimized {
	clear: none;
	width: auto;
	overflow: visible;
	font-size: 12px;
	position: relative;
}
.form .field-list li.slug-minimized .form_label,
.form .field-list li.slug-minimized .form_field {
	position: absolute;
	top: 0;
	right: 0;
}
.slug-indicator {
	font-weight: normal;
	background: #ffffdd;
}
.slug-expanded .slug-indicator {
	display: none;
}
.slug-expanded .form_label {
	position: relative;
}
.slug-expanded .slug-toggle {
	font-size: 12px;
	position: absolute;
	top: 1px;
	right: 0;
}
