/**
 * This file is a part of MediaCore, Copyright 2009 Simple Station Inc.
 *
 * MediaCore is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * MediaCore is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */
.form .form_field,
/*.form .field_list div,*/
.form .form_label {
	margin: 10px;
}
.form .form_label label {
	font-size: 108%;
	font-weight: bold;
	color: #3c4d5a;
}
.form .field_error,
.form .fielderror {
	color: #eb4c4c;
}
.form .fielderror {
	padding: 5px 0;
	margin-left: 10px;
	display: block;
	float: left;
}
.form .form_field {
	/* bump the size down 12px so that when firefox adds 12px
	 * to the 100% input width it still fits visually */
	padding-right: 12px;
}
.form li {
	clear: both;
	width: 100%;
	overflow: hidden;
}
.form #author_name_container,
.form #author_email_container {
	width: 50%;
	float: left;
	clear: none;
}
.details_fieldset legend {
	font-size: 108%;
	font-weight: bold;
	color: #3c4d5a;
	margin: 10px 10px 0 10px;
}
.details_fieldset .fieldlabel {
	margin-right: 10px;
	padding: 5px 0;
	float: left;
	font-weight: normal;
	display: block;
	width: 60px;
}
.details_fieldset li {
	margin: 5px 0;
}
.details_fieldset input,
.details_fieldset select,
.details_fieldset textarea {
	float: left;
	width: auto;
	clear: none;
}
label .field_help {
	font-weight: normal;
	font-size: 12px;
	color: #5d7485;
	margin-left: 5px;
}

#media-form #media_upload_container {
	float: left;
	width: 144px;
}
#media-form #media-upload-status.active {
	height: 34px;
	line-height: 34px;
	padding-left: 35px;
}
#media-form #media-upload-status.inprogress {
	background: url('../images/icons/spinner.gif') no-repeat 5px 50%;
}
#media-form #media-upload-status.success {
	background: url('../../images/uploader/check.png') no-repeat 0 50%;
}
#media-form #media-upload-status.error {
	background: url('../../images/uploader/ex.png') no-repeat 0 50%;
}
#media-form #media_url_container {
	clear: none;
	float: left;
	width: 462px;
	overflow: visible;
	margin: 4px 0 0 0;
	padding: 0;
	position: relative;
}
#media-form #media_url {
	float: left;
	width: 362px;
	margin-right: 0;
	position: absolute;
	top: 0px;
	left: 100px;
}
#media-form #media_container .form_field,
#media-form #details_container .form_field {
	padding-right: 0;
}
#media-form #media_container legend,
#media-form #details_container legend {
	font-size: 108%;
	font-weight: bold;
	color: #3c4d5a;
	margin: 10px 10px 0 10px;
}
#media-form #details ul.field_list {
	position: relative;
}
#media-form #podcast_container {
	background: #D1E4F2;
	margin: -10px -10px 5px -10px;
	padding: 5px 10px;
	width: 660px;
}
#media-form #media_url_label,
#media-form #details_duration_label {
	margin-right: 10px;
	padding: 5px 0;
	float: left;
	font-weight: normal;
	width: 50px;
}
#media-form #details_duration {
	width: 60px;
}
#media-form #media_url {
	margin-right: 20px;
}

.btn-edit-art {
	text-indent: -1000px;
	cursor: pointer;
	border: 0;
	height: 34px;
	width: 171px;
	background-repeat: no-repeat;
	margin: 0 auto;
}
.btn-edit-art {
	background-image: url('../images/buttons/edit-image.png');
}

.thumb {
	margin: 0 auto 10px auto;
	border: 5px solid #989790;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.thumb img {
	border: 1px solid #fff;
	display: block;
}


.category-box {
	overflow: scroll;
	overflow-x: hidden;
	width: 100%;
	height: 150px;
}
.category-box li {
	padding-bottom: 5px;
}
.category-box li input {
	width: auto;
}
