/**
 * This file is a part of MediaCore, Copyright 2009 Simple Station Inc.
 *
 * MediaCore is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * MediaCore is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */
body {
	background: #efebde;
	text-align: center;
}
#loginform {
	background: url('../images/login/login.jpg') no-repeat;
	width: 680px;
	height: 339px;
	margin: 100px auto 10px auto;
	text-align: left;
	position: relative;
}
#loginform h2 { display: none; }
#loginform label {
	text-indent: -5000px;
	width: 181px;
	height: 50px;
	position: absolute;
	left: 8px;
}
#loginform input.text {
	position: absolute;
	left: 189px;
	background: transparent;
	width: 410px;
	height: 1.5em;
	vertical-align: top;
	padding: 8px 10px;
	font-size: 24px;
	line-height: 24px;
	border: 0;
	margin-top: 4px;
}
#loginform input.text:focus {
	outline-style: none;
}
#login, #login-label { top: 99px; }
#password, #password-label { top: 169px; }
#submit-button {
	position: absolute;
	left: 506px;
	top: 257px;
	width: 113px;
	height: 42px;
	background: transparent;
	text-indent: -5000px;
	border: 0;
}
#ie-warning {
	background: #ff0000;
	color: #ffd6d6;
	font: 18px/25px Tahoma, sans-serif;
	border: 2px solid black;
	padding: 1em;
	margin: 100px auto 0 auto;
	width: 30em;
}
#ie-warning a:link,
#ie-warning a:visited {
	color: #fff;
	text-decoration: underline;
}
#ie-warning a:hover {
	text-decoration: none;
}
#ie-warning strong {
	font-weight: bold;
	color: #fff;
}
