/**
 * This file is a part of MediaCore, Copyright 2009 Simple Station Inc.
 *
 * MediaCore is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * MediaCore is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */
body {
	background: url('../images/login/bg.png');
	text-align: center;
}
#wrapper {
	background: url('../images/login/login-bg.jpg') no-repeat top center;
	height: 600px;
}
#loginform {
	width: 906px;
	height: 656px;
	margin: 0 auto;
	text-align: left;
	position: relative;
}
#loginform h2 { display: none; }
#loginform label {
	text-indent: -5000px;
	width: 181px;
	height: 50px;
	position: absolute;
	left: 8px;
}
#loginform input.text {
	position: absolute;
	left: 239px;
	background: transparent;
	width: 408px;
	height: 20px;
	vertical-align: top;
	padding: 8px 10px;
	font-size: 18px;
	line-height: 18px;
	border: 0;
	margin-top: 4px;
	color: #727d96;
	text-shadow: 0 1px #2c3443;
}
#loginform input.text:focus {
	outline-style: none;
}
#login, #login-label { top: 375px; }
#password, #password-label { top: 432px; }
#submit-button {
	position: absolute;
	right: 238px;
	top: 503px;
}
#ie-warning {
	background: #ff0000;
	color: #ffd6d6;
	font: 18px/25px Tahoma, sans-serif;
	border: 2px solid black;
	padding: 1em;
	margin: 100px auto 0 auto;
	width: 30em;
}
#ie-warning a:link,
#ie-warning a:visited {
	color: #fff;
	text-decoration: underline;
}
#ie-warning a:hover {
	text-decoration: none;
}
#ie-warning strong {
	font-weight: bold;
	color: #fff;
}
