/**
 * This file is a part of MediaCore, Copyright 2009 Simple Station Inc.
 *
 * MediaCore is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * MediaCore is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */
.explicit, .clean {
	display: block;
	height: 11px;
	width: 37px;
	padding-top: 3px;
	background-position: bottom;
	background-repeat: no-repeat;
}
.explicit { background-image: url('../images/icons/explicit.png'); }
.clean { background-image: url('../images/icons/clean.png'); }
.explicit strong, .clean strong {
	display: none;
}
.btn-add-podcast { background-image: url('../images/buttons/add-podcast.png'); width: 120px; height: 28px; }
.btn-add-episode { background-image: url('../images/buttons/add-episode.png'); width: 120px; height: 28px; }

#podcast-table tbody tr td {
	vertical-align: top;
}
#podcast-table h3 a:link,
#podcast-table h3 a:visited {
	color: #627789;
}
#podcast-table .podcast-art {
	width: 160px;
	height: 160px;
	padding: 2px 0px 0px 2px;
	background: transparent url('../images/layout/podcast-art-frame.png') no-repeat top left;
}
#podcast-table .info-content {
	position: relative;
	min-height: 158px;
	min-width: 700px;
}
#podcast-table .info-content p {
	line-height: 1.5em;
	font-size: 14px;
}
#podcast-table .podcast-meta {
	font-size: 12px;
	position: absolute;
	bottom: 40px;
	left: 0;
}
#podcast-table .podcast-meta strong {
	font-weight: bold;
}
#podcast-table .podcast-meta span,
#podcast-table .podcast-episodes a {
	float: left;
	margin-right: 20px;
}
#podcast-table .copyright {
	font-weight: bold;
}
#podcast-table .btn-add-episode {
	margin-top: -6px;
}
.podcast-meta, .podcast-episodes {
	position: absolute;
	bottom: 0;
	left: 0;
}
.view-episodes strong {
	font-weight: bold;
}

#podcast-form .details_fieldset .fieldlabel {
	width: 95px;
}
#podcast-form .details_fieldset .fieldlabel,
#podcast-form .details_fieldset .fieldhelp {
	line-height: 26px;
}
#podcast-form .details_fieldset li {
	clear: both;
}
#details_itunes_url,
#details_feedburner_url,
#details_copyright {
	width: 285px;
	float: left;
}
#podcast-form #details_explicit li {
	float: left;
	width: auto;
	clear: none;
	margin-right: 10px;
}
#podcast-form #details_explicit li label {
	margin-left: 5px;
}
