/**
 * This file is a part of MediaCore, Copyright 2009 Simple Station Inc.
 *
 * MediaCore is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * MediaCore is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

/* Common to all settings pages */
.settings-menu li {
	padding: 5px 0;
}
.settings-menu a {
	padding-left: 20px;
	font-size: 16px;
}
.settings-menu .selected {
	background: url('../images/icons/arrow-green-right.png') no-repeat left;
	color: #417F00;
}

/* Emails and Wording Config Forms */
#settings-form .details_fieldset .fieldlabel {
	width: 110px;
}
#settings-form .textfield,
#settings-form .passwordfield,
#settings-form .textarea,
#settings-form .xhtmltextarea {
	width: 472px;
}
#settings-form .xhtml-description-helper {
	margin: 10px 0;
}
#settings-form .radiobuttonlist li {
	margin-bottom: 5px;
}

#generate_key{
	font-size: 15px;
	font-weight: bold;
	margin-left: 16px;
}
#generate_key:hover {
	text-decoration: none;
}

/* Appearance Tab Settings */
#settings-form .checkbox-left {
    width: 50px;
    margin-top: 5px;
}

#settings-form .label_text_right {
    width: 472px;
}

#general input,
#general .textfield {
    width: 250px;
}

#general .singleselectfield {
    width: 260px;
}

#general .image-preview {
    vertical-align: middle;
    width: 24px;
    height: 24px;
}
