/**
 * This file is a part of MediaCore, Copyright 2009 Simple Station Inc.
 *
 * MediaCore is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * MediaCore is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */
.for-sbox, .fitted-sbox { display: none; }

#sbox-overlay {
	position: absolute;
	background-color: #000;
	left: 0px;
	top: 0px;
	zoom: 1;
}
#sbox-window {
	position: absolute;
	text-align: left;
	overflow: visible;
}
#sbox-btn-close {
	position: absolute;
	width: 30px;
	height: 30px;
	right: 0;
	top: 0;
	background: url('../images/layout/sbox-close.png') no-repeat center;
	border: none;
	z-index: 99;
}
.ssbox-btn-close {
	background-image: url('../images/squeezebox/box-close.gif');
}
.sbox-loading #sbox-content {
	background-image: url('../images/icons/spinner.gif');
	background-repeat: no-repeat;
	background-position: center;
}
#sbox-content {
	clear: both;
	overflow: auto;
	height: 100%;
	width: 100%;
}
.sbox-content-image#sbox-content {
	overflow: visible;
}
#sbox-image {
	display: block;
}
.sbox-content-image img {
	display: block;
	width: 100%;
	height: 100%;
}
.sbox-content-iframe#sbox-content {
	overflow: visible;
}

/* Hides scrollbars */
.body-overlayed {
	overflow: hidden;
}
/* Hides flash (Firefox problem') and selects (IE') */
.body-overlayed embed, .body-overlayed object, .body-overlayed select {
	visibility: hidden;
}
#sbox-window embed, #sbox-window object, #sbox-window select {
	visibility: visible;
}

/* Shadows */
.sbox-bg {
	display: none !important;
}
#sbox-content .box-round {
	display: none !important;
}

/* header */
#sbox-content .box {
	border: 0;
	background: none;
	margin: 0;
}
.box-wide {
	width: 830px;
}
#sbox-content .box-head {
	background: url('../images/layout/sbox-top.png') no-repeat top;
	height: 44px;
	width: 580px;
	padding: 12px 25px 0 25px;
	border: 0;
	line-height: 43px;
}
#sbox-content .box-wide .box-head {
	width: 780px;
	background-image: url('../images/layout/sbox-wide-top.png');
}
#sbox-content .box-head .box-head-sec {
	margin-top: 12px;
	margin-right: 5px;
}
#sbox-content .box-content {
	background: url('../images/layout/sbox-content.png') repeat-y;
	width: 598px;
	padding: 0 16px;
}
#sbox-content .box-wide .box-content {
	width: 798px;
	background-image: url('../images/layout/sbox-wide-content.png');
}
#sbox-content table.box-content {
	padding: 0 16px;
	width: 628px;
}
#sbox-content .box-wide table.box-content {
	width: 830px;
}
#sbox-content p.box-content {
	margin: 0;
	padding: 10px 26px;
	width: 578px;
}
#sbox-content .box-wide p.box-content {
	width: 780px;
}
#sbox-content .box-bottom {
	height: 29px;
	width: 630px;
	background: url('../images/layout/sbox-bottom.png') no-repeat;
}
#sbox-content .box-wide .box-bottom {
	width: 830px;
	background-image: url('../images/layout/sbox-wide-bottom.png');
}
#sbox-content .box-foot {
	background: url('../images/layout/sbox-bottom-buttons.png') no-repeat;
	border: 0;
	width: 580px;
	height: 54px;
	padding: 10px 25px;
}
#sbox-content .box-wide .box-foot {
	width: 780px;
	background-image: url('../images/layout/sbox-wide-bottom-buttons.png');
}
