<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      py:strip="">
	<table py:def="user_table(collection, include_thead=True, id='user-table', classes=None)"
	    cellpadding="0" cellspacing="0" id="${id}" class="${classes}"
	    py:with="item_count = len(collection);
				 paginator = c.paginators.users;">
		<thead py:if="include_thead">
			<tr>
				<th style="width:63px"></th>
				<th style="width:205px">Display Name</th>
				<th style="width:205px">Email</th>
				<th style="width:105px">Group</th>
			</tr>
		</thead>
		<tbody>
			<tr py:if="item_count == 0">
				<td>None Found</td>
			</tr>
			<tr py:for="item in collection">
				<td>
					<a href="${h.url_for(action='edit', user_id=item.user_id)}" class="edit-user">edit</a>
					<form action="${h.url_for(action='delete', user_id=item.user_id)}" method="post" class="delete-user-form">
						<input class="submitbutton clickable mo delete-user" type="submit" value="Delete" name="delete" />
					</form>
				</td>
				<td><a href="${h.url_for(action='edit', user_id=item.user_id)}" py:content="item.display_name">Display Name</a></td>
				<td><a href="mailto:${item.email_address}" py:content="item.email_address">email address</a></td>
				<td py:content="len(item.groups) == 1 and item.groups[0].display_name or None">groups</td>
			</tr>
		</tbody>
		<xi:include href="../../admin/helpers.html" />
		${paginated_tfoot(paginator, '4')}
	</table>
</html>


