<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      py:strip="">
	<table py:def="category_table(collection, category, edit_form, include_thead=True, id='category-table', classes=None)"
	    cellpadding="0" cellspacing="0" id="${id}" class="${classes}"
	    py:with="item_count = len(collection);
				 category_name = category.rstrip('s')">
		<thead py:if="include_thead">
			<tr>
				<th style="width:63px"></th>
				<th style="width:193px">Name</th>
				<th style="width:auto">Slug</th>
				<th style="width:58px" class="center"># Media</th>
			</tr>
		</thead>
		<tbody>
			<tr id="empty-category">
				<td colspan="3">
					${XML(edit_form(show_delete=False, action=h.url_for(action='save', id='new', category=category)))}
				</td>
				<td class="center">0</td>
			</tr>
			<tr py:if="item_count == 0">
				<td>None Found</td>
			</tr>
			<tr py:for="item in collection">
				<td colspan="3">
					${XML(edit_form(item, show_delete=True, action=h.url_for(action='save', id=item.id, category=category)))}
				</td>
				<td class="center">${item.media_count}</td>
			</tr>
		</tbody>
	</table>
</html>

