<!--! This file is a part of MediaCore, Copyright 2009 Simple Station Inc.

	MediaCore is free software: you can redistribute it and/or modify
	it under the terms of the GNU General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.

	MediaCore is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU General Public License for more details.

	You should have received a copy of the GNU General Public License
	along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      py:strip="">
	<table py:def="comment_table(collection, edit_form, include_thead=True, id='comment-table', classes=None)"
	    cellpadding="0" cellspacing="0" id="${id}" class="${classes}"
	    py:with="item_count = len(collection);
	             include_thead = include_thead and item_count > 0;
	             paginator = c.paginators.comments;">
		<thead py:if="include_thead">
			<tr>
				<th id="h-bulk" style="width:20px"><input type="checkbox" /></th>
				<th style="width:55px">Status</th>
				<th style="width:100px">Author</th>
				<th style="width:auto">Comment</th>
				<th style="width:200px">In Response to</th>
			</tr>
		</thead>
		<tbody>
			<tr py:if="item_count == 0">
				<td>None Found</td>
			</tr>
			<tr py:for="comment in collection" id='comment-${comment.id}' class="${comment.reviewed and 'tr-gray' or 'tr-white'}">
				<td headers="h-bulk"><input type="checkbox" /></td>
				<td py:choose="">
					<span py:when="comment.reviewed" class="btn unclickable btn-inline-approved f-lft" title="This comment has already been approved for publishing">published</span>
					<a py:otherwise="" class="btn btn-inline-approve f-lft" href="${h.url_for(action='save_status', id=comment.id, status='approve')}" title="Approve this comment for publishing"><span>approve</span></a>
					<a class="btn btn-inline-delete f-rgt" href="${h.url_for(action='save_status', id=comment.id, status='trash')}" title="Delete this comment"><span>trash</span></a>
				</td>
				<td class="author">
					<div><strong class="author-name" py:content="comment.author.name">Author</strong></div>
					<div><a href="mailto:${comment.author.email}" py:content="comment.author.email">Email</a></div>
					<div class="comment-ip" py:content="comment.author.ip">Author IP</div>
				</td>
				<td>
					<div class="comment-submitted">Submitted on ${comment.created_on.strftime('%b %d %Y')}</div>
					${XML(edit_form(comment, action=h.url_for(action='save_edit', id=comment.id)))}
				</td>
				<td>
					<a py:content="comment.parent.title" target="_blank"
					   href="${h.url_for(controller='/%s' % comment.type, action='view', slug=comment.parent.slug)}"
					   title="${comment.type.capitalize()}">Parent Item</a><br />
					<a target="_blank"
					   href="${h.url_for(controller='/admin/%s' % comment.type, action='edit', id=comment.parent.id)}"
					   title="Go to the admin page for this item"><small>edit</small></a>
				</td>
			</tr>
		</tbody>
		<xi:include href="../helpers.html" />
		${paginated_tfoot(paginator, '4')}
	</table>
</html>
