<!--! This file is a part of MediaCore, Copyright 2009 Simple Station Inc.

	MediaCore is free software: you can redistribute it and/or modify
	it under the terms of the GNU General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.

	MediaCore is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU General Public License for more details.

	You should have received a copy of the GNU General Public License
	along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<div xmlns="http://www.w3.org/1999/xhtml"
     xmlns:py="http://genshi.edgewall.org/"
     py:def="mediaflow_slider_pager(media, url_args=None)"
     py:with="url_args = url_args or {'action':'view', 'controller':'/media'}"
     py:for="media_slice in h.containers.distribute(media, 3, 'h')"
     class="mediaflow-page">
	<ul>
		<li py:for="m in media_slice">
			<a href="${h.url_for(slug=m.slug, **url_args)}" title="${h.truncate_xhtml(m.title, 100, True, True)}: ${h.truncate_xhtml(m.description, 100, True, True)}"><img src="${h.url_for('/images/media/%sm.jpg' % m.id)}" width="240" height="135" alt="${m.title}" /></a>
		</li>
	</ul>
</div>
