<!--! This file is a part of MediaCore, Copyright 2009 Simple Station Inc.

	MediaCore is free software: you can redistribute it and/or modify
	it under the terms of the GNU General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.

	MediaCore is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU General Public License for more details.

	You should have received a copy of the GNU General Public License
	along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
<xi:include href="../master.html" />
<head>
	<title>Media</title>
</head>
<body class="nav-explore-on">
	<div class="mediacore-content">
		<h2><span class="uppercase">Featured</span></h2>
		<div id="category-feature" class="feat-box" py:with="featured = popular[0]">
			<div class="feat-top" />
			<div class="feat-content clearfix">
				<div class="feat-info">
					<h3><a class="underline-hover nocolor" href="${h.url_for(controller='/media', action='view', slug=featured.slug)}">${Markup(featured.title)}</a></h3>
					<div class="feat-date" py:choose="">
						<py:when test="featured.is_published" py:with="datetime = featured.publish_on.strftime('%B %d, %Y').replace(h.datetime.now().strftime(', %Y'), '')">${datetime}</py:when>
						<py:otherwise>(unpublished)</py:otherwise>
						by ${featured.author.name}
					</div>
					<p py:replace="Markup(h.truncate_xhtml(featured.description, 300))" />
				</div>
				${media_player(featured, width=425, height=239)}
				<div class="feat-meta">
					<span class="meta meta-comments" title="Comments">${featured.comment_count_published} <span>Comment<py:if test="featured.comment_count_published != 1">s</py:if></span></span>
					<a class="meta meta-likes" href="${h.url_for(controller='/media', action='rate', slug=featured.slug)}" id="likethis" title="Vote up">${featured.likes} <strong>Like this!</strong></a>
					<span class="meta meta-views" title="Views">${featured.views} <span>View<py:if test="featured.views != 1">s</py:if></span></span>
				</div>
			</div>
			<div class="feat-bottom" />
		</div>

		<div id="explore-latest" class="m-grid-column" style="margin-right:20px">
			<h2><a href="${h.url_for(action='index', order='latest')}" class="underline-hover uppercase nocolor">Latest</a></h2>
			<ul py:replace="media_grid(latest, thumb_size='m', desc_len=135)" />
			<a class="see-more underline-hover" href="${h.url_for(action='more', order='latest')}">more of the Latest...</a>
		</div>

		<div id="explore-popular" class="m-grid-column">
			<h2><a href="${h.url_for(action='index', order='popular')}" class="underline-hover uppercase nocolor">Most Popular</a></h2>
			<ul py:replace="media_grid(popular, thumb_size='m', desc_len=135)" />
			<a class="see-more underline-hover" href="${h.url_for(action='more', order='popular')}">more of the Most Popular...</a>
		</div>
	</div>
</body>
</html>
