<!--! This file is a part of MediaCore, Copyright 2009 Simple Station Inc.

	MediaCore is free software: you can redistribute it and/or modify
	it under the terms of the GNU General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.

	MediaCore is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU General Public License for more details.

	You should have received a copy of the GNU General Public License
	along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:i18n="http://genshi.edgewall.org/i18n"
      xmlns:xi="http://www.w3.org/2001/XInclude">
<xi:include href="../master.html" />

<head>
	<title>${h.page_title(default='Explore', media='all')}</title>
	<meta name="keywords" content="${h.meta_keywords(media='all')}" />
	<meta name="description" content="${h.meta_description(media='all')}" />
	<link rel="alternate" type="application/rss+xml" title="Sitemap XML"
	      href="${h.url_for(controller='/sitemaps', action='google')}" />
	<link rel="alternate" type="application/rss+xml" title="Sitemap RSS"
	      href="${h.url_for(controller='/sitemaps', action='mrss')}" />
	<link rel="alternate" type="application/rss+xml" title="Latest RSS"
	      href="${h.url_for(controller='/sitemaps', action='latest')}" />
</head>
<body class="nav-explore-on">
	<div class="mediacore-content">
	<py:if test="g.settings['appearance_enable_cooliris']">
		<div id="cooliris-box" class="feat-box">
			<div class="feat-top" />
			<div class="feat-content clearfix">
				<div class="cooliris-nav">
					<div class="cooliris-nav-content">
						<div class="cooliris-latest clickable cooliris-feed" data-feed="${h.url_for(controller='sitemaps', action='latest')}">Latest</div>
						<div class="cooliris-featured clickable cooliris-feed" data-feed="${h.url_for(controller='categories', action='feed', slug='featured')}">Featured</div>
						<div class="cooliris-cats-btn clickable"><span class="cooliris-cats-text">Categories</span> <span class="cooliris-arrow goog-inline-block" /></div>
						<ul class="cooliris-cats hidden">
							<li py:for="cat in categories"
							    py:if="cat.slug != 'featured'"
							    class="clickable cooliris-feed"
							    data-feed="${h.url_for(controller='categories', action='feed', slug=cat.slug)}"
							    py:content="cat.name" />
						</ul>
					</div>
				</div>
				<div class="cooliris-wall"></div>
			</div>
			<div class="feat-bottom" />
		</div>
		<script type="text/javascript">
			var cooliris = {};
			var myCooliris = new mcore.Cooliris(680, 323, {
				backgroundAlpha: 0,
				cellBorder: 1,
				feed: '${h.url_for(controller='sitemaps', action='latest')}',
				intro: 'zoomIn',
				numRows: 2,
				showChrome: false,
				showDescription: true,
				showSearch: false,
				showReflections: false,
				style: 'light',
				tilt: 5
			});
			setTimeout(function(){ myCooliris.decorate(document.getElementById('cooliris-box')); }, 150);
		</script>
	</py:if>
		<div id="explore-popular" class="m-grid-column" style="margin-right:20px">
			<py:if test="g.settings['appearance_enable_featured_items']">
			<h2><span class="mcore-heading uppercase">Featured</span></h2>
			<div class="feat-box">
				<div class="feat-top" />
				<div class="feat-content clearfix">
					${h.media_player(featured, width=410, height=230)}
					<h3><a class="underline-hover" href="${h.url_for(controller='/media', action='view', slug=featured.slug)}">${featured.title}</a></h3>
					<div class="feat-meta">
						<span class="meta meta-comments" title="Comments">
							${featured.comment_count_published}
							<i18n:choose numeral="featured.comment_count_published">
								<span i18n:singular="">Comment</span>
								<span i18n:plural="">Comments</span>
							</i18n:choose>
						</span>
						<a class="meta meta-likes" href="${h.url_for(controller='/media', action='rate', slug=featured.slug)}" id="likethis" title="Vote up">${featured.likes} <strong>Like this!</strong></a>
						<span class="meta meta-views" title="Views">
							${featured.views}
							<i18n:choose numeral="featured.views">
								<span i18n:singular="">View</span>
								<span i18n:plural="">Views</span>
							</i18n:choose>
						</span>
					</div>
				</div>
				<div class="feat-bottom" />
			</div>
			</py:if>

			<h2><a href="${h.url_for(action='index', show='popular')}" class="underline-hover uppercase mcore-heading">Most Popular</a></h2>
			<py:if test="popular">
				<ul py:replace="media_grid(popular, thumb_size='m', desc_len=135)" />
				<a class="see-more underline-hover" href="${h.url_for(action='index', show='popular')}">more of the Most Popular...</a>
			</py:if>
			<div py:if="not popular" class="feat-box">
				<div class="feat-top" />
				<div class="feat-content clearfix">
					As soon as there are more than 9 published videos in the library, the most popular videos will be listed here.
					<py:if test="h.is_admin()">Why not <a href="${h.url_for(controller='/admin/media', action='edit', id='new')}">add</a> a few more?</py:if>
				</div>
				<div class="feat-bottom"/>
			</div>
		</div>

		<div py:if="latest" id="explore-latest" class="m-grid-column">
			<h2><a href="${h.url_for(action='index', show='latest')}" class="underline-hover uppercase mcore-heading">Latest</a></h2>
			<ul py:replace="media_grid(latest, thumb_size='m', desc_len=135)" />
			<a class="see-more underline-hover" href="${h.url_for(action='index', show='latest')}">more of the Latest...</a>
		</div>

		<p py:if="not (featured or latest or popular)">
			There are no media items published yet!
		</p>
	</div>
</body>
</html>
