<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
<xi:include href="../helpers.html" />
<xi:include href="../master.html" />
<head>
	<title>Upload Videos</title>
	<link href="${h.url_for('/styles/upload-form.css')}" media="screen" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="${h.url_for('/scripts/third-party/Fx.ProgressBar.js')}"></script>
	<script type="text/javascript" src="${h.url_for('/scripts/third-party/Swiff.Uploader.js')}"></script>
	<script type="text/javascript" src="${h.url_for('/scripts/uploader.js')}"></script>
	<script type="text/javascript">
		var UploadMGR = null;
		var SwiffUploadMGR = null;
		var swiff_messages = {<py:if test="config.ftp_storage == 'true'">99: "Hang tight, we're moving your upload to our permanent storage. This may take a few minutes."</py:if>};
		window.addEvent('domready', function() {
			if (Browser.Engine.trident) return;
			UploadMGR = new UploadManager('${upload_form.id}', '${upload_form.async_action}');
			SwiffUploadMGR = new SwiffUploadManager('${upload_form.id}', '${upload_form.async_action}', '${h.url_for(action='upload_failure')}', '${h.url_for('/')}', '${'; '.join(['*.'+x for x in h.accepted_extensions()])}', 'browse-button', 'upload-button', 'file-info', 'upload-status', swiff_messages, ${config.max_upload_size});
		});
	</script>
</head>
<body class="nav-upload-video-on">
	<box id="mediacore">
		<nav />
		<div id="rules" class="greybox" py:if="legal_wording" py:content="Markup(legal_wording)">Legal Wording</div>
		<div id="rightbar">
			<div>
				<em>Acceptable File Formats</em>
				<p>${h.list_accepted_extensions()}.</p>
			</div>
			<div py:if="support_email">
				<em>Problems?</em>
				<p>If you have problems uploading or have some questions, please email us at <a href="mailto:${support_email}" py:content="support_email">Support Email</a></p>
			</div>
			<div id="upload-status"><span class="percent" /><span class="text" /></div>
		</div>
		${XML(upload_form(form_values))}
		<!-- The following 4 elements are used only by the SwiffUploadManager javascript -->
		<div id="bottombar">
			<div id="browse-button" />
			<div id="upload-button" />
			<div id="file-info" />
		</div>
	</box>
</body>
</html>
