<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
<xi:include href="../helpers.html" />
<xi:include href="../master.html" />
<head>
	<title>Upload Videos</title>
	<link href="${h.url_for('/styles/upload-form.css')}" media="screen" rel="stylesheet" type="text/css" />
</head>
<body class="nav-upload-video-on">
	<box id="mediacore">
		<nav />
		<div id="failure">
		<div class="greybox">
			<p><span class="italic">Whoops, there's been an error.</span> During your upload, something went wrong.</p>
			<p>Don't worry. The engineers and gnomes have been automagically notified and we're already on our way to resolving your issue. You can email us at <a href="mailto:help@tmcyouth.com">help@tmcyouth.com</a> if you have any questions.</p>
			<h4 class="italic">A few things you can check:</h4>
			<ul>
				<li>Is the file under 500 Megabytes in size?</li>
				<li>Is it encoded in one of our supported formats? <span id="formats">avi, divx, dv, dvx, flv, m4v, mov, mp4, mpeg, mpg, qt, vob, 3gp, and wmv.</span></li>
			</ul>
			<a id="try-again" href="${h.url_for(action='upload')}"><img alt="Try Uploading Again" src="${h.url_for('/images/uploader/try-again.png')}" /></a>
		</div>
		</div>
	</box>
</body>
</html>

