<!--! This file is a part of MediaCore, Copyright 2009 Simple Station Inc.

	MediaCore is free software: you can redistribute it and/or modify
	it under the terms of the GNU General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.

	MediaCore is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU General Public License for more details.

	You should have received a copy of the GNU General Public License
	along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:i18n="http://genshi.edgewall.org/i18n"
      xmlns:xi="http://www.w3.org/2001/XInclude">
<xi:include href="../master.html" />
<xi:include href="../comments/_list.html" />
<xi:include href="../social/facebook.html" />
<head>
	<title>${h.page_title(default=media.title, media=media)}</title>
	<link py:if="media.podcast" href="${h.url_for('/styles/podcasts.css')}" media="screen" rel="stylesheet" type="text/css" />
	<meta name="description" content="${h.meta_description(media=media)}" />
	<meta name="keywords" content="${h.meta_keywords(media=media)}" />
</head>
<body class="${media.podcast and 'nav-podcasts-on' or 'nav-media-on'}" py:with="is_widescreen = (g.settings['appearance_enable_widescreen_view'] == 'True')">
	<div id="media-wrapper" class="mediacore-content clearfix">

		<div py:def="media_box(media)" id="media-box" class="feat-box media-${is_widescreen and 'wide' or 'norm'}">
			<div class="feat-top" />
			<div class="feat-content">
				${h.media_player(media, show_download=True, show_embed=True, show_resize=True, is_widescreen=is_widescreen, **(is_widescreen and dict(width=890, height=500) or dict(width=560, height=315)))}
			</div>
			<div class="feat-bottom" />
		</div>

		<py:if test="is_widescreen">${media_box(media)}</py:if>
		<div id="media-info">
			<py:if test="not is_widescreen">${media_box(media)}</py:if>

			<a href="${h.url_for(controller='/admin/media', action='edit', id=media.id)}" class="underline-hover f-rgt" py:if="h.can_edit(media)">Edit</a>
			<h3 class="feat-title">${media.title}</h3>
			<div class="feat-date" py:choose="">
				<py:when test="media.is_published" py:with="datetime = media.publish_on.strftime('%B %d, %Y').replace(h.datetime.now().strftime(', %Y'), '')">${datetime}</py:when>
				<py:otherwise>(unpublished)</py:otherwise>
				by ${media.author.name}
			</div>
			<div id="description-excerpt" class="media-desc" py:with="fulltext = media.description or u''; excerpt = h.excerpt_xhtml(fulltext, 340)">
				<div class="mcore-excerpt-fulltext"><p py:replace="Markup(fulltext)" /></div>
				<div class="mcore-excerpt" style="display:none" py:if="excerpt != fulltext"><p py:replace="Markup(excerpt)" /></div>
			</div>
			<div class="feat-stats clearfix">
				<div class="meta-views f-rgt">${media.views} ${ungettext(u'view', u'views', media.views)}</div>
				<div class="meta-likes f-rgt">
					<span id="mcore-likes-counter">${media.likes}</span> ${ungettext(u'like', u'likes', media.likes)}
					<span class="meta-dislikes"><span id="mcore-dislikes-counter">${media.dislikes}</span> ${ungettext(u'dislike', u'dislikes', media.dislikes)}</span>
				</div>
				<div class="meta-comments f-lft">${media.comment_count_published} ${ungettext(u'comment', u'comments', media.comment_count_published)}</div>
			</div>

			${comment_list(comments, comment_form_action, comment_form_values)}
		</div>

	<div id="media-sidebar">

		<py:if test="media.podcast">
			<div id="podcast-context" class="contextbox" py:with="podcast = media.podcast">
				<h3 class="uppercase">Related Podcast</h3>
				<ul class="grid s-grid">
					<li>
						<a href="${h.url_for(controller='/podcasts', action='view', slug=podcast.slug)}">
							<span class="grid-title">${podcast.title}</span>
							<span class="thumb-wrap">
								<img py:with="thumb = h.thumb(podcast, 's')" src="${thumb.url}" width="${thumb.x}" height="${thumb.y}" alt="" />
							</span>
							<span class="grid-desc" py:content="h.truncate(h.strip_xhtml(podcast.description), 155)">Description</span><br />
							<span class="grid-meta">
								<span class="meta meta-episodes" title="Podcast Episodes">
									${podcast.media_count_published}
									<span>
										<i18n:choose numeral="podcast.media_count_published">
											<span i18n:singular="">Episode</span>
											<span i18n:plural="">Episodes</span>
										</i18n:choose>
									</span>
								</span>
							</span>
						</a>
					</li>
				</ul>
			</div>
		</py:if>

		<div id="media-context" class="contextbox" py:if="related_media">
			<h3 class="uppercase">Related Media</h3>
			<ul py:replace="media_grid(related_media, thumb_size='s', desc_len=60)" />
		</div>

		<div id="category-context" class="contextbox">
			<a py:def="cat_link(cat)" href="${h.url_for(controller='/categories', slug=cat.slug)}" class="underline-hover">${cat.name}</a>
			<h3 class="uppercase">Categories</h3>
			<p py:if="media.categories">${cat_link(media.categories[0])}<py:for each="cat in media.categories[1:]">, ${cat_link(cat)}</py:for></p>
			<p py:if="not media.categories" class="contextbox-none">This is not listed under any categories.</p>
		</div>

		<div id="tag-context" class="contextbox">
			<a class="subhead underline-hover" href="${h.url_for(controller='/media', action='tags')}">See All Tags</a>
			<h3 class="uppercase">Tags</h3>
			<a py:def="tag_link(tag)" href="${h.url_for(controller='/media', action='index', tag=tag.slug)}" class="underline-hover">${tag.name}</a>
			<p py:if="media.tags">${tag_link(media.tags[0])}<py:for each="tag in media.tags[1:]">, ${tag_link(tag)}</py:for></p>
			<p py:if="not media.tags" class="contextbox-none">This does not have any associated tags.</p>
		</div>
	</div>

	</div>
</body>
</html>
