<!--! This file is a part of MediaCore, Copyright 2009 Simple Station Inc.

	MediaCore is free software: you can redistribute it and/or modify
	it under the terms of the GNU General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.

	MediaCore is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU General Public License for more details.

	You should have received a copy of the GNU General Public License
	along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:i18n="http://genshi.edgewall.org/i18n"
      xmlns:xi="http://www.w3.org/2001/XInclude">
<xi:include href="../master.html" />
<xi:include href="../comments/_list.html" />
<xi:include href="../social/facebook.html" />
<head>
	<title>${h.page_title(media.title, media=media)}</title>
	<link py:if="media.podcast" href="${h.url_for('/styles/podcasts.css')}" media="screen" rel="stylesheet" type="text/css" />
	<meta name="description" content="${h.meta_description(media=media)}" />
	<meta name="keywords" content="${h.meta_keywords(media=media)}" />
	<script type="text/javascript" src="${h.url_for('/scripts/media.js')}" />
</head>
<body class="${media.podcast and 'nav-podcasts-on' or 'nav-media-on'}">
	<div id="media-box" class="mediacore-content feat-box">
		<div class="feat-top" />
		<div class="feat-content clearfix">
			<div class="feat-info">
				<a href="${h.url_for(controller='/admin/media', action='edit', id=media.id)}" class="underline-hover f-rgt" py:if="h.is_admin()">Edit</a>
				<h3>${media.title}</h3>
				<div class="feat-date" py:choose="">
					<py:when test="media.is_published" py:with="datetime = media.publish_on.strftime('%B %d, %Y').replace(h.datetime.now().strftime(', %Y'), '')">${datetime}</py:when>
					<py:otherwise>(unpublished)</py:otherwise>
					by ${media.author.name}
				</div>
				<py:with vars="fulltext = media.description or u''; excerpt = h.excerpt_xhtml(fulltext, 340)">
					<div id="desc-full"><p py:replace="Markup(fulltext)" /></div>
					<div id="desc-excerpt" py:if="excerpt != fulltext" style="display:none"><p py:replace="Markup(excerpt)" /></div>
				</py:with>
			</div>
			${h.media_player(media, width=560, height=315)}
			<table class="feat-meta" cellspacing="0">
				<tr py:with="download_uri = h.download_uri(media)">
					<td py:if="download_uri">
						<a class="meta meta-download underline-hover" href="${download_uri}"><strong>Download</strong></a>
					</td>
					<td>
						<div id="sharethis" class="meta-wrapper">
							<a class="meta meta-share underline-hover" title="Share this ${media.type} with friends" href="#"><strong>Share</strong></a>
							<div class="meta-hover" py:with="current_url = h.url_for(qualified=True)">
								<label>Permalink: <input type="text" value="${current_url}" readonly="readonly" /></label>
								<ul>
									<li class="share-email"><a title="Share by email" href="mailto:?subject=${media.title + ': ' + current_url}">email</a></li>
									<li class="share-facebook"><a title="Share on Facebook" href="http://www.facebook.com/sharer.php?u=${current_url}">facebook</a></li>
									<li class="share-twitter"><a title="Share on Twitter" href="http://twitter.com/home?status=${media.title + ': ' + current_url}">twitter</a></li>
								</ul>
							</div>
						</div>
					</td>
					<td py:with="embed_code = h.embed_iframe_code(media)">
						<!--! FIXME: Don't render these elements when there's no embed_code.
						             We only render because of the mess of js above that expects these elements. -->
						<div id="embedthis" class="meta-wrapper" style="${not embed_code and 'display:none' or None}">
							<a class="meta meta-embed underline-hover" title="Embed on your site" href="#"><strong>Embed</strong></a>
							<div class="meta-hover">
								<label>Embeddable Player HTML: <input type="text" value="${unicode(embed_code)}" readonly="readonly" /></label>
							</div>
						</div>
					</td>
					<td py:if="not download_uri">&nbsp;</td>
				</tr>
				<tr>
					<td><span class="meta meta-comments" title="Comments">${media.comment_count_published}
						<i18n:choose numeral="media.comment_count_published">
							<span i18n:singular="">Comment</span>
							<span i18n:plural="">Comments</span>
						</i18n:choose>
					</span></td>
					<td py:if="mediacore_likes"><a class="meta meta-likes" href="${h.url_for(action='rate')}" id="likethis" title="Vote up">
						${media.likes} <strong>Like this!</strong>
					</a></td>
					<td><span class="meta meta-views" title="Views">${media.views}
						<i18n:choose numeral="media.views">
							<span i18n:singular="">View</span>
							<span i18n:plural="">Views</span>
						</i18n:choose>
					</span></td>
					<td py:if="not mediacore_likes">&nbsp;</td>
				</tr>
				<tr py:if="facebook_likes">
					<td colspan="3">${facebook_like('likethis')}</td>
				</tr>
			</table>

		</div>
		<div class="feat-bottom" />
	</div>

	<div class="mediacore-content clearfix">
		${comment_list(comments, comment_form, comment_form_action, comment_form_values)}

		<py:if test="media.podcast">
			<div id="podcast-context" class="contextbox" py:with="podcast = media.podcast">
				<h3 class="uppercase">Related Podcast</h3>
				<ul class="grid s-grid">
					<li>
						<a href="${h.url_for(controller='/podcasts', action='view', slug=podcast.slug)}">
							<span class="grid-title">${podcast.title}</span>
							<span class="thumb-wrap">
								<img py:with="thumb = h.thumb(podcast, 's')" src="${thumb.url}" width="${thumb.x}" height="${thumb.y}" alt="" />
							</span>
							<span class="grid-desc" py:content="h.truncate(h.strip_xhtml(podcast.description), 155)">Description</span><br />
							<span class="grid-meta">
								<span class="meta meta-episodes" title="Podcast Episodes">
									${podcast.media_count_published}
									<span>
										<i18n:choose numeral="podcast.media_count_published">
											<span i18n:singular="">Episode</span>
											<span i18n:plural="">Episodes</span>
										</i18n:choose>
									</span>
								</span>
							</span>
						</a>
					</li>
				</ul>
			</div>
		</py:if>

		<div id="media-context" class="contextbox" py:if="related_media">
			<h3 class="uppercase">Related Media</h3>
			<ul py:replace="media_grid(related_media, thumb_size='s', desc_len=60)" />
		</div>

		<div id="category-context" class="contextbox">
			<a py:def="cat_link(cat)" href="${h.url_for(controller='/categories', slug=cat.slug)}" class="underline-hover">${cat.name}</a>
			<h3 class="uppercase">Categories</h3>
			<p py:if="media.categories">${cat_link(media.categories[0])}<py:for each="cat in media.categories[1:]">, ${cat_link(cat)}</py:for></p>
			<p py:if="not media.categories" class="contextbox-none">This is not listed under any categories.</p>
		</div>

		<div id="tag-context" class="contextbox">
			<a class="subhead underline-hover" href="${h.url_for(controller='/media', action='tags')}">See All Tags</a>
			<h3 class="uppercase">Tags</h3>
			<a py:def="tag_link(tag)" href="${h.url_for(controller='/media', action='index', tag=tag.slug)}" class="underline-hover">${tag.name}</a>
			<p py:if="media.tags">${tag_link(media.tags[0])}<py:for each="tag in media.tags[1:]">, ${tag_link(tag)}</py:for></p>
			<p py:if="not media.tags" class="contextbox-none">This does not have any associated tags.</p>
		</div>
	</div>
</body>
</html>
