<!--! This file is a part of MediaCore, Copyright 2009 Simple Station Inc.

	MediaCore is free software: you can redistribute it and/or modify
	it under the terms of the GNU General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.

	MediaCore is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU General Public License for more details.

	You should have received a copy of the GNU General Public License
	along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
<xi:include href="../master.html" />
<xi:include href="../nav.html" />
<xi:include href="../comments/_list.html" />
<head>
	<title>${Markup(media.title)}</title>
	<link href="${h.url_for('/styles/media.css')}" media="screen" rel="stylesheet" type="text/css" />
	<link py:if="media.podcast" href="${h.url_for('/styles/podcasts.css')}" media="screen" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="${h.url_for('/scripts/rater.js')}"></script>
	<script type="text/javascript">
		window.addEvent('domready', function(){
			var likesCounter = $('num-likedthis');
			var likesRater = new ThumbRater({
				upButton: 'likethis',
				upCounter: likesCounter,
				ensureVisible: likesCounter.getParent()
			});
			var embed = $('embed-markup').addEvent('click', function(){ this.select(); });
		});
	</script>
	<meta name="description" content="${h.truncate(media.description_plain, 249)}" />
	<meta name="keywords" content="${', '.join(tag.name for tag in media.tags[:15])}" />
</head>
<body class="${media.podcast and 'nav-podcasts-on' or 'nav-media-on'}">
	<box id="media-box">
		<nav />
		<div class="media-body">
			<div class="media-info">
				<h1>${Markup(media.title)}</h1>
				<p py:replace="Markup(media.description)" />
			</div>
			<div class="media-meta">
				<div class="media-meta-top" />
				<div class="media-meta-views"><strong>Views:</strong> ${media.views}</div>
				<div class="media-meta-time"><strong>Time:</strong> ${h.duration_from_seconds(media.duration)}</div>
				<div class="media-meta-etc" style="${(media.likes != 0) or 'visibility:hidden'}">
					<strong id="num-likedthis">${h.text.plural(media.likes, 'person', 'people')}</strong>
					liked this ${'podcast' if media.podcast else media.type}!
				</div>
				<div class="media-meta-commented"><strong>${h.text.plural(len(comments), 'person', 'people')}</strong> commented</div>
				<a class="btn btn-likethis" id="likethis" title="Vote Up" href="${h.url_for(action='rate')}">I like this!</a>
				<a py:if="media.downloadable_file" class="btn btn-download" href="${media.downloadable_file.link_url()}">Download</a>
				<div class="media-meta-bottom" />
			</div>
			${media_player(media, autobuffer=True)}
			<div class="media-embed">
				<label>Embed this ${media.type} on your site: <input type="text" value="${h.embeddable_player(media)}" id="embed-markup" /></label>
			</div>
		</div>
	</box>

	<py:if test="media.podcast">
		<div id="podcast-context" class="contextbox" py:with="podcast = media.podcast">
			<div class="contextbox-top">Podcast Series Information:</div>
			<div class="contextbox-body">
				<a href="${h.url_for(controller='/podcasts', action='view', slug=podcast.slug)}" class="podcast-art" title="${h.decode_entities(podcast.title)}"><img src="${h.thumb_url(podcast, 'm')}" width="154" height="154" class="f-lft" alt="${podcast.title}" /></a>
				<ul id="podcast-buttons">
					<li py:if="next_episode"><a class="btn-podcast-next" href="${h.url_for(controller='/media', action='view', podcast_slug=podcast.slug, slug=next_episode.slug)}" title="${Markup(next_episode.title).stripentities()}">Browse Episodes</a></li>
					<li><a class="btn-podcast-view" href="${h.url_for(controller='/podcasts', action='view', slug=podcast.slug)}" title="Browse all episodes from this podcast">Browse Episodes</a></li>
					<li><a class="btn-podcast-add" href="${podcast.itunes_url or h.url_for(controller='/podcasts', action='feed', slug=podcast.slug)}" title="Add this podcast to iTunes">Add to iTunes</a></li>
				</ul>
			</div>
			<div class="contextbox-bottom" />
		</div>
		<div class="context-sep" />
	</py:if>

	<div id="category-context" class="contextbox">
		<div class="contextbox-top">Related Categories:</div>
		<div class="contextbox-body contextbox-body-mid" py:with="url_args = dict(controller='/media', action='categories')">
			<a py:replace="comma_sep_links([t.name for t in media.categories],
			                               [h.url_for(slug=t.slug, **url_args) for t in media.categories], default='No categories yet')" />
		</div>
		<div class="contextbox-mid">Tags:</div>
		<div class="contextbox-body" py:with="url_args = dict(controller='/media', action='tags')">
			<a py:replace="comma_sep_links([t.name for t in media.tags],
			                               [h.url_for(slug=t.slug, **url_args) for t in media.tags], default='No tags yet')" />
		</div>
		<div class="contextbox-bottom" />
	</div>

	${comment_list(comments, comment_form, comment_form_action, comment_form_values)}
</body>
</html>
