<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      py:strip="">
	<table py:def="media_table(collection, fields, include_thead=True, id='media-table')"
	       cellpadding="0" cellspacing="0" id="${id}"
	       py:with="item_count = len(collection);
	                include_thead = include_thead and (item_count > 0);">
		<thead py:if="include_thead">
			<tr>
				<py:for each="f in fields" py:choose="f">
					<th py:when="'publish_on'" style="width:100px">Publish Date</th>
					<th py:when="'created_on'" style="width:100px">Upload Date</th>
					<th py:when="'status'" style="width:90px">Status</th>
					<th py:when="'title'" style="width:auto">Title</th>
					<th py:when="'comment_count'" style="width:30px" class="center"><img src="${h.url_for('/admin/images/icons/comments.png')}" alt="Comments" title="Number of Comments" /></th>
					<th py:when="'tags'" style="width:120px">Tags</th>
					<th py:when="'author'" style="width:120px">Author</th>
					<th py:when="'type'" style="width:30px">&nbsp;</th>
				</py:for>
			</tr>
		</thead>
		<tbody>
			<tr py:if="item_count == 0">
				<td>None Found</td>
			</tr>
			<tr py:for="media in collection">
				<py:for each="f in fields" py:choose="f">
					<td py:when="'publish_on'"
					    class="${media.publish_on and media.publish_on >= h.dt.datetime.now() and 'italic' or None}"
					    py:content="media.publish_on is None and 'unpublished' or media.publish_on.strftime('%b %d %Y')">
						Publish Date
					</td>
					<td py:when="'created_on'">${media.created_on.strftime('%b %d %Y')}</td>
					<td py:when="'status'" py:choose="">
						<a class="mo review-me" py:when="'unreviewed' in media.status" href="${h.url_for(controller='/mediaadmin', action='edit', id=media.id)}"><span>review me</span></a>
						<a class="mo encode-me" py:when="'unencoded' in media.status" href="FIXME"><span>encode me</span></a>
						<a class="mo publish-me" py:when="'draft' in media.status" href="${h.url_for(controller='/mediaadmin', action='edit', id=media.id)}"><span>publish me</span></a>
						<a class="mo published" py:otherwise="" href="${h.url_for(controller='/video', action='view', slug=media.slug)}#FIXME"><span>published</span></a>
					</td>
					<td py:when="'title'"><a href="${h.url_for(controller='/mediaadmin', action='edit', id=media.id)}">${media.title}</a></td>
					<td py:when="'comment_count'" class="center">${media.comment_count}</td>
					<td py:when="'tags'" py:with="tag_count=len(media.tags)">
						<py:if test="tag_count == 0">None</py:if>
						<py:if test="tag_count >= 1" py:for="i, tag in enumerate(media.tags)">
							<a href="${h.url_for(controller='media', action='tags', slug=tag.slug)}">${tag.name}</a><py:if test="i+1 != tag_count">,</py:if>
						</py:if>
					</td>
					<td py:when="'author'">
						<a href="mailto:${media.author.email}" py:strip="not media.author.email">${media.author.name}</a>
					</td>
					<td py:when="'type'" class="center"><img src="${h.url_for('/admin/images/icons/${media.type}.png')}" py:with="pretty_type=media.type.capitalize()" alt="${pretty_type}" title="${pretty_type}" /></td>
				</py:for>
			</tr>
		</tbody>
	</table>
</html>
