<form xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      action="${action}" method="${method}" name="${name}"
      id="${id}" class="${css_class}" py:attrs="attrs">
	<input py:for="field in hidden_fields"
	       py:replace="field.display(value_for(field), **args_for(field))" />
	<span py:for="field in fields"
	      py:with="toggle_enabled = value_for(field.name.replace('toggle_', '') + '_enabled')"
	      class="${'file-toggle-on' if toggle_enabled else None} file-${field.name}-span"
	      title="${field.get_default()}">
		<input py:replace="field.display(value_for(field), disabled=field.name == 'toggle_feed' and value_for('is_embeddable'), **args_for(field))" />
	</span>
	<a href="${file.link_url}" class="file-link"
	   py:with="type = file.type.capitalize() if file.is_embeddable else file.type.upper()"
	   title="${('Go to %s' % type) if file.is_embeddable else 'Download this file'}">
	   ${type}
	</a>
</form>
