<form xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      action="${action}" method="${method}" name="${name}"
      id="${id}" class="${css_class}" py:attrs="attrs">
	<input py:for="field in hidden_fields"
	       py:replace="field.display(value_for(field), **args_for(field))" />
	<span py:for="field in fields"
	      py:with="toggle_enabled = value_for(field.name.replace('toggle_', '') + '_enabled')"
	      class="${'file-toggle-on' if toggle_enabled else None} file-${field.name}-span"
	      title="${field.get_default()}">
		<input py:replace="field.display(value_for(field), **args_for(field))" />
	</span>
	<a href="${file.link_url}" class="file-link" py:choose="">
		<py:when test="file.is_embeddable">${file.type.capitalize()}</py:when>
		<py:otherwise>${file.type.upper()}</py:otherwise>
	</a>
</form>
