<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      py:with="paginator=c.paginators.media">
<xi:include href="admin/master.html" />
<head>
	<title>Media<py:if test="podcast_filter_title is not None"> for ${podcast_filter_title}</py:if></title>
	<link href="${h.url_for('/admin/styles/media.css')}" media="screen" rel="stylesheet" type="text/css" />
	<link href="${h.url_for('/admin/styles/videos.css')}" media="screen" rel="stylesheet" type="text/css" />
	<script type="text/javascript">
		window.addEvent('domready', function(){
			vs = new ShowMore({
				table: 'media-table',
				page: ${paginator.page},
				lastPage: ${paginator.last_page or 1}
			});
			$('podcast_filter').addEvent('change', function(){$('podcastfilterform').submit();});
		});
	</script>
</head>
<body class="menu-media-on">
	<div class="box">
		<div class="box-head">
			<div id="quicksearch" class="f-rgt">
				${XML(search_form(dict(search=search)))}
			</div>
			<div id="podcast-filter" class="f-rgt">
				${XML(podcast_filter_form(dict(podcast_filter=podcast_filter)))}
			</div>
			<div py:choose="" class="f-lft">
				<h1 py:when="search">Media that matches '${search}'</h1>
				<h1 py:when="podcast_filter == 'Unfiled'">Unfiled Media</h1>
				<h1 py:when="podcast_filter is None">All Media</h1>
				<h1 py:otherwise="">Media for ${podcast_filter_title}</h1>
			</div>
			<a class="mo add-media f-lft" href="${h.url_for(action='edit', id='new')}"><span>Add New Media</span></a>
		</div>
		<xi:include href="admin/media/index-table.html" py:with="media=media" />
	</div>
</body>
</html>
