<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      py:strip="">

	<py:def function="paginated_tfoot(paginator, colspan)">
		<tfoot py:if="paginator.page_count > 1">
			<tr>
				<td class="box-foot right" colspan="${colspan}">
					<div class="pager">
						<span class="pager-left" />
						<span class="pager-body">
							<span class="pager-label">Page:</span>
							<span py:replace="paginator.pager(show_if_single_page=True, curpage_attr={'class': 'current'})" />
						</span>
						<span class="pager-right" />
					</div>
				</td>
			</tr>
		</tfoot>
	</py:def>

	<py:def function="comment_stats_box(link, total, published, unreviewed, trash)">
		<div class="box">
			<div class="box-head">
				<a href="${link}"
				   id="go-view-content" class="box-head-sec" target="_blank"
				   title="Moderate comments"
				   py:content="'Moderate'" />
				<h1>Comments</h1>
			</div>
			<table id="comments-table" cellpadding="0" cellspacing="0">
				<tr id="comments-total">
					<td class="comments-count" py:content="total" />
					<td>Comments</td>
				</tr>
				<tr id="comments-published">
					<td class="comments-count" py:content="published" />
					<td>Published</td>
				</tr>
				<tr id="${'comments-unreviewed' if unreviewed else 'comments-trash'}">
					<td class="comments-count" py:content="unreviewed" />
					<td>Unreviewed</td>
				</tr>
				<tr id="comments-trash">
					<td class="comments-count" py:content="trash" />
					<td>Trash</td>
				</tr>
			</table>
		</div>
	</py:def>

</html>
