<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
<xi:include href="admin/master.html" />
<xi:include href="video/_video-review-table.html" />
<xi:include href="video/_video-encode-table.html" />
<head>
	<title>Dashboard</title>
	<script type="text/javascript" src="/admin/scripts/show-more.js"></script>
	<script type="text/javascript">
		window.addEvent('domready', function(){
			reviewMore = new ShowMore({
				tableId: 'review-table',
				fetchPageUrl: '/admin/ajax_review',
				pageNum: ${review_page.page},
				lastPage: ${review_page.last_page}
			});
			encodeMore = new ShowMore({
				tableId: 'encode-table',
				fetchPageUrl: '/admin/ajax_encode',
				pageNum: ${encode_page.page},
				lastPage: ${encode_page.last_page}
			});
		});
	</script>
</head>
<body class="menu-dashboard-on">
	<div class="column66">
		${review_table(review_page)}
		<br /><br />
		${encode_table(encode_page)}
	</div>
	<div class="column33">
		<table cellpadding="0" cellspacing="0">
			<thead>
				<tr class="table-head">
					<td>
						<h1>Comments</h1>
					</td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						<p><a class="review" href="/comments.html" py:content="num_comments_to_review">&#35; comments</a> require review.</p>
						<p>There has been a total of <a class="total" href="/comments.html" py:content="num_comments_total">&#35;</a> comments on media.</p>
					</td>
				</tr>
			</tbody>
		</table>
		<br /><br />
		<table cellpadding="0" cellspacing="0">
			<thead>
				<tr>
					<td colspan="2">
						<h1>Recently Published</h1>
					</td>
				</tr>
			</thead>
			<tbody>
				<tr py:if="len(recent) == 0"><td colspan="2">No Media Published</td></tr>
				<tr py:for="media_item in recent" py:with="type = media_item.type == 'video' and 'video' or 'podcast'">
					<td><a href="/admin/${type}/${media_item.slug}/edit"><img alt="" src="/admin/images/icons/${type}-trans.png" /></a></td>
					<td><a href="/admin/${type}/${media_item.slug}/edit" py:content="media_item.title">Title</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>
