<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
<xi:include href="admin/master.html" />
<head>
	<title>Mediaplex</title>
</head>
<body class="menu-dashboard-on">
	<div class="column66">
		<table cellpadding="0" cellspacing="0">
<!--! NOTE: thead/td is used for beige table headings while thead/th is reserved for blue column headings -->
			<thead>
				<tr>
					<td colspan="5" class="with-search">
						<div id="search" class="float-right">
							<input type="text" value="SEARCH..." onclick="this.value=''" />
						</div>
						<h1>Awaiting Review</h1>
					</td>
				</tr>
				<tr>
					<th style="width:100px">Publish Date</th>
					<th style="width:90px">Status</th>
					<th style="width:auto">Title</th>
					<th style="width:100px">Author</th>
					<th style="width:130px">Email</th>
				</tr>
			</thead>
<!--! We should really just make the Author name a mailto: link -->
			<tbody>
				<tr py:for="video in videos_to_review">
					<td class="italic">unpublished</td>
					<td><img src="/admin/images/statuses/review.png" /></td>
					<td><a href="/video/${video.slug}/edit">${video.title}</a></td>
					<td>${video.author_name}</td>
					<td><a href="mailto:${video.author_email}">${video.author_email}</a></td>
				</tr>
			</tbody>
		</table>
		<br /><br />
		<table cellpadding="0" cellspacing="0">
			<thead>
				<tr>
					<td colspan="5">
						<h1>Awaiting Encoding</h1>
					</td>
				</tr>
				<tr>
					<th style="width:100px">Publish Date</th>
					<th style="width:90px">Status</th>
					<th style="width:auto">Title</th>
					<th style="width:200px">Tags</th>
				</tr>
			</thead>
			<tbody>
				<tr py:for="video in videos_to_encode" py:with="tag_count = len(video.tags)">
					<td class="italic">unpublished</td>
					<td><img src="/admin/images/statuses/encode.png" /></td>
					<td><a href="/video/${video.slug}/edit">${video.title}</a></td>
					<td py:choose="tag_count">
						<py:when test="0">None</py:when>
						<py:otherwise py:for="i, tag in enumerate(video.tags)">
							<a href="/video/tags/${tag.slug}" rel="tag">${tag.name}</a><py:if test="i+1 != tag_count">,</py:if>
						</py:otherwise>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="column33">
		<table cellpadding="0" cellspacing="0">
			<thead>
				<tr class="table-head">
					<td>
						<h1>Comments</h1>
					</td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						<p><a class="review" href="/comments.html">${num_comments_to_review} comments</a> require review.</p>
						<p>There has been a total of <a class="total" href="/comments.html">${num_comments_total}</a> comments on media.</p>
					</td>
				</tr>
			</tbody>
		</table>
		<br /><br />
		<table cellpadding="0" cellspacing="0">
			<thead>
				<tr>
					<td colspan="2">
						<h1>Published</h1>
					</td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td></td>
					<td></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>
