<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
<xi:include href="admin/master.html" />
<head>
	<title>Dashboard | Mediaplex Admin</title>
</head>
<body class="menu-dashboard-on">
	<div class="column66">
		<table cellpadding="0" cellspacing="0">
<!--! NOTE: thead/td is used for beige table headings while thead/th is reserved for blue column headings -->
			<thead>
				<tr>
					<td colspan="5">
						<h1>Awaiting Review</h1>
					</td>
				</tr>
				<tr>
					<th style="width:100px">Uploaded Date</th>
					<th style="width:90px">Status</th>
					<th style="width:auto">Title</th>
					<th style="width:100px">Author</th>
				</tr>
			</thead>
			<tbody>
				<tr py:if="len(media_to_review) == 0"><td colspan="4">No Videos Found</td></tr>
				<tr py:for="media_item in media_to_review">
					<td class="italic" py:content="media_item.created_on.strftime('%b %d %Y')">Date Uploaded</td>
					<td><a href="/admin/video/${media_item.slug}/edit"><img src="/admin/images/statuses/review.png" /></a></td>
					<td><a href="/admin/video/${media_item.slug}/edit" py:content="media_item.title">Title</a></td>
					<td><a href="mailto:${media_item.author.email}" py:content="media_item.author.name">Author</a></td>
				</tr>
			</tbody>
		</table>
		<br /><br />
		<table cellpadding="0" cellspacing="0">
			<thead>
				<tr>
					<td colspan="5">
						<h1>Awaiting Encoding</h1>
					</td>
				</tr>
				<tr>
					<th style="width:100px">Uploaded Date</th>
					<th style="width:90px">Status</th>
					<th style="width:auto">Title</th>
					<th style="width:150px">Tags</th>
				</tr>
			</thead>
			<tbody>
				<tr py:if="len(media_to_encode) == 0"><td colspan="4">No Videos Found</td></tr>
				<tr py:for="media_item in media_to_encode" py:with="tag_count = len(media_item.tags)">
					<td class="italic" py:content="media_item.created_on.strftime('%b %d %Y')">Date Uploaded</td>
					<td><a href="/admin/video/${media_item.slug}/edit"><img src="/admin/images/statuses/encode.png" /></a></td>
					<td><a href="/admin/video/${media_item.slug}/edit" py:content="media_item.title">Title</a></td>
					<td py:choose="tag_count">
						<py:when test="0">None</py:when>
						<py:otherwise py:for="i, tag in enumerate(media_item.tags)">
							<a href="/video/tags/${tag.slug}" rel="tag" py:content="tag.name">Tag</a><py:if test="i+1 != tag_count">,</py:if>
						</py:otherwise>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="column33">
		<table cellpadding="0" cellspacing="0">
			<thead>
				<tr class="table-head">
					<td>
						<h1>Comments</h1>
					</td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						<p><a class="review" href="/comments.html" py:content="num_comments_to_review">&#35; comments</a> require review.</p>
						<p>There has been a total of <a class="total" href="/comments.html" py:content="num_comments_total">&#35;</a> comments on media.</p>
					</td>
				</tr>
			</tbody>
		</table>
		<br /><br />
		<table cellpadding="0" cellspacing="0">
			<thead>
				<tr>
					<td colspan="2">
						<h1>Recently Published</h1>
					</td>
				</tr>
			</thead>
			<tbody>
				<tr py:if="len(recent) == 0"><td colspan="2">No Media Published</td></tr>
				<tr py:for="media_item in recent" py:with="type = media_item.type == 'video' and 'video' or 'podcast'">
					<td><a href="/admin/${type}/${media_item.slug}/edit"><img alt="" src="/admin/images/icons/${type}-trans.png" /></a></td>
					<td><a href="/admin/${type}/${media_item.slug}/edit" py:content="media_item.title">Title</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>
