<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
<xi:include href="../helpers.html" />
<xi:include href="../master.html" />
${set_nav_opts('hide_topics', 'hide_left')}
<head>
	<title>Lessons</title>
</head>
<body>
	<box id="grid-box"
	     py:with="paginator = c.paginators.media;
	              this_week_media = [m for m in media if m.publish_on &gt;&eq; week_start];
	              previous_media  = [m for m in media if m.publish_on &lt; week_start];
	">
		<nav />
		<div py:if="this_week_media" py:strip="True">
			<!--! FIXME: make the following style into a class? -->
			<h1 style="border-bottom: 2px solid #323232; margin: 0 20px 10px;">This Week's Episodes</h1>
			<ul py:replace="mediagrid(this_week_media, {'controller':'/media', 'action':'lesson_view'})" />
		</div>
		<div py:if="previous_media" py:strip="True">
			<h1 style="border-bottom: 2px solid #323232; margin: 0 20px 10px;">Previous Episodes</h1>
		</div>
		<ul py:replace="mediagrid(previous_media, {'controller':'/media', 'action':'lesson_view'})" />
		${pagination(paginator)}
	</box>
</body>
</html>


