<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
<xi:include href="../helpers.html" />
<xi:include href="../master.html" />
<head>
	<title>Upload Videos</title>
	<link href="${h.url_for('/styles/upload-form.css')}" media="screen" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="${h.url_for('/scripts/third-party/Fx.ProgressBar.js')}"></script>
	<script type="text/javascript" src="${h.url_for('/scripts/third-party/Swiff.Uploader.js')}"></script>
	<script type="text/javascript" src="${h.url_for('/scripts/uploader.js')}"></script>
	<script type="text/javascript">
		var UploadMGR = null;
		var SwiffUploadMGR = null;
		var swiff_messages = {<py:if test="config.ftp_storage">99: "Hang tight, we're moving your upload to our permanent storage. This may take a few minutes."</py:if>};
		window.addEvent('domready', function() {
			if (Browser.Engine.trident) return;
			UploadMGR = new UploadManager('${upload_form.id}', '${upload_form.async_action}');
			SwiffUploadMGR = new SwiffUploadManager('${upload_form.id}', '${upload_form.async_action}', '${h.url_for(action='upload_failure')}', '${h.url_for('/')}', '${'; '.join(['*.'+x for x in h.accepted_extensions()])}', 'browse-button', 'upload-button', 'file-info', 'upload-status', swiff_messages, ${config.max_upload_size});
		});
	</script>
</head>
<body class="nav-upload-video-on">
	<box id="simpleplex">
		<nav />
		<div id="rules" class="greybox">
			<p><span class="italic">We want your stuff!</span> But the only way we'll be able to use it is if it follows these 4 guidelines:</p>
			<ol>
				<li>You created it, or have been given permission to distribute it by the copyright holder.</li>
				<li>It doesn't violate someone else's copyright by including someone else's photographs, artwork, or recorded music, etc.</li>
				<li>Everyone in your video has given you permission to distribute it, including the parents of anybody younger than 18.</li>
				<li>You agree that by submitting this video, you are granting rights to The First Church of Christ, Scientist to post
				the video and use it as described in the <a href="#">Terms and Conditions</a>.</li>
			</ol>
			<p>
				<span class="italic">Heads-up:</span> this site is showing only the highlights of the video-submissions
				so far. Your stuff will be reviewed before being published. Not everything submitted is posted, but if it is,
				it could be published on tmcyouth.com, conceptsundayschool.com, or other sites affiliated with the First
				Church of Christ, Scientist. We’ll be in contact with you!
			</p>
		</div>
		<div id="rightbar">
			<div>
				<em>Acceptable File Formats</em>
				<p>${h.list_accepted_extensions()}.</p>
			</div>
			<div>
				<em>Problems?</em>
				<p>If you have problems uploading or have some questions, please email us at <a href="mailto:help@tmcyouth.com">help@tmcyouth.com</a></p>
			</div>
			<div id="upload-status"><span class="percent" /><span class="text" /></div>
		</div>
		${XML(upload_form(form_values))}
		<!-- The following 4 elements are used only by the SwiffUploadManager javascript -->
		<div id="bottombar">
			<div id="browse-button" />
			<div id="upload-button" />
			<div id="file-info" />
		</div>
	</box>
</body>
</html>
