<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
<xi:include href="../comments/_list.html" />
<xi:include href="../helpers.html" />
<xi:include href="../master.html" />
<py:if test="not c.nav_opts" py:replace="set_nav_opts()" />
<head>
	<title>${Markup(media.title)}</title>
	<link py:if="media.podcast" href="${h.url_for('/styles/podcasts.css')}" media="screen" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="${h.url_for('/scripts/rater.js')}"></script>
	<script type="text/javascript" src="${h.url_for('/scripts/overtext.js')}"></script>
	<script type="text/javascript">
		window.addEvent('domready', function(){
			var overTextMGR = new OverTextManager('${comment_form.id}');
			var likesCounter = $('num-likedthis');
			var likesRater = new ThumbRater({
				upButton: 'likethis',
				upCounter: likesCounter,
				ensureVisible: likesCounter.getParent()
			});
		});
	</script>
</head>
<body py:with="comments = [c for c in media.comments if 'publish' in c.status and 'trash' not in c.status]" class="${media.podcast and 'nav-podcasts-on' or 'nav-videos-on'}">
	<box id="media-box">
		<nav />
		<div class="media-body">
			<div class="media-info">
				<h1>${Markup(media.title)}</h1>
				<p py:replace="Markup(media.description)" />
			</div>
			<div class="media-meta">
				<div class="media-meta-top" />
				<div class="media-meta-views"><strong>Views:</strong> ${media.views}</div>
				<div class="media-meta-time"><strong>Time:</strong> ${h.duration_from_seconds(media.duration)}</div>
				<div class="media-meta-etc" style="${(media.rating.sum &gt; 0) or 'visibility:hidden'}">
					<strong id="num-likedthis">${h.text.plural(media.rating.sum, 'person', 'people')}</strong>
					liked this ${'podcast' if media.podcast else media.type}!
				</div>
				<div class="media-meta-commented"><strong>${h.text.plural(len(comments), 'person', 'people')}</strong> commented</div>
				<a class="media-meta-likethis mo up" id="likethis" title="vote up" href="${h.url_for(action='rate', rating=1)}">I like this!</a>
				<a py:if="media.primary_file" class="media-meta-download mo" href="${media.primary_file.link_url}">Download</a>
				<div class="media-meta-bottom" />
			</div>
			${media_player(media)}
		</div>
	</box>

	<py:if test="media.podcast">
		<div id="podcast-context" class="contextbox" py:with="podcast = media.podcast">
			<div class="contextbox-top">Podcast Series Information:</div>
			<div class="contextbox-body">
				<a href="${h.url_for(controller='/podcasts', action='view', slug=podcast.slug)}" class="podcast-art" title="${Markup(podcast.title).stripentities()}"><img src="${h.url_for('/images/podcasts/%sm.jpg' % podcast.id)}" width="154" height="154" class="f-lft" alt="${podcast.title}" /></a>
				<ul id="podcast-buttons">
					<li py:if="next_episode"><a class="btn-podcast-next" href="${h.url_for(controller='/media', action='view', podcast_slug=podcast.slug, slug=next_episode.slug)}" title="${Markup(next_episode.title).stripentities()}">Browse Episodes</a></li>
					<li><a class="btn-podcast-view" href="${h.url_for(controller='/podcasts', action='view', slug=podcast.slug)}" title="Browse all episodes from this podcast">Browse Episodes</a></li>
					<li><a class="btn-podcast-add" href="${podcast.itunes_url or h.url_for(controller='/podcasts', action='feed', slug=podcast.slug)}" title="Add this podcast to iTunes">Add to iTunes</a></li>
				</ul>
			</div>
			<div class="contextbox-bottom" />
		</div>
		<hr class="context-sep" />
	</py:if>

	<div id="category-context" class="contextbox">
		<div class="contextbox-top">Related Topics:</div>
		<div class="contextbox-body contextbox-body-mid" py:with="url_args = dict(controller='/media', action='topics')">
			<a py:replace="comma_sep_links([t.name for t in media.topics],
			                               [h.url_for(slug=t.slug, **url_args) for t in media.topics], default='No topics yet')" />
		</div>
		<div class="contextbox-mid">Tags:</div>
		<div class="contextbox-body" py:with="url_args = dict(controller='/media', action='tags')">
			<a py:replace="comma_sep_links([t.name for t in media.tags],
			                               [h.url_for(slug=t.slug, **url_args) for t in media.tags], default='No tags yet')" />
		</div>
		<div class="contextbox-bottom" />
	</div>

	${comment_list(comments, comment_form, comment_form_action, comment_form_values)}
</body>
</html>
