<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      py:strip="">
	<table py:def="podcast_table(collection, include_thead=True, id='media-table')"
	       cellpadding="0" cellspacing="0" id="${id}"
	       py:with="item_count = len(collection)">
		<tbody>
			<tr py:if="item_count == 0">
				<td>None Found</td>
			</tr>
			<py:for each="podcast in collection">
				<tr class="thead-row">
					<td colspan="2">
						<a href="${h.url_for(action='edit', id=podcast.id)}" class="mo edit-btn f-rgt"><span>Edit</span></a>
						<h3><a href="${h.url_for(action='edit', id=podcast.id)}">${podcast.title}</a></h3>
					</td>
				</tr>
				<tr>
					<td style="width:180px">
						<div class="podcast-art">
							<a href="${h.url_for(action='edit', id=podcast.id)}"><img src="${h.url_for('/images/podcasts/%sm.jpg' % podcast.id)}" width="154" height="154" alt="Album Art" /></a>
						</div>
					</td>
					<td class="podcast-info" style="width:auto">
						<div class="info-content">
							<p py:replace="Markup(podcast.description)">Description</p>
							<div class="podcast-meta">
								<span class="podcast-category"><strong>Category:</strong> ${podcast.category or 'None'}</span>
								<span class="podcast-author">
									<strong>Author:</strong>
									<a href="mailto:${podcast.author.email}" py:strip="not podcast.author.email">${podcast.author.name or podcast.author.email or 'None'}</a>
								</span>
								<py:choose test="podcast.explicit">
									<span py:when="True" class="explicit"><strong>Explicit</strong></span>
									<span py:when="False" class="clean"><strong>Clean</strong></span>
								</py:choose>
								<span py:if="podcast.copyright" class="copyright">&copy; ${podcast.copyright}</span>
							</div>
							<div class="podcast-episodes">
								<a href="${h.url_for(controller='/mediaadmin', action='edit', id='new', podcast=podcast.id)}" class="mo add-episode"><span>Add episode</span></a>
								<div py:choose="podcast.media_count" py:strip="True">
									<span py:when="0" class="view-episodes">No Episodes</span>
									<a py:when="1" href="${h.url_for(controller='mediaadmin', action='edit', id=podcast.media.first().id)}" class="view-episodes"><strong>View First Episode</strong></a>
									<a py:otherwise="" href="${h.url_for(controller='mediaadmin', podcast_filter=podcast.id)}" class="view-episodes"><strong>View All ${podcast.media_count} Episodes</strong></a>
								</div>
							</div>
						</div>
					</td>
				</tr>
			</py:for>
		</tbody>
	</table>
</html>

