/**
 * This file is a part of MediaCore, Copyright 2009 Simple Station Inc.
 *
 * MediaCore is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * MediaCore is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */
/*960.gs Resets*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}ins{text-decoration:none}del{text-decoration:line-through}table{border-collapse:collapse;border-spacing:0}
/*960.gs Typography*/
body{font:13px/1.5 'Helvetica Neue', Helvetica, Arial,'Liberation Sans',FreeSans, sans-serif;}
hr{border:0 #ccc solid;border-top-width:1px;clear:both;height:0}

/* Base generic styles */
body, select, input, button, textarea {
	font-family: 'Helvetica Neue', Helvetica, Arial, 'Liberation Sans', FreeSans, sans-serif;
}
body {
	color: #637084;
}
a:link,
a:visited {
	color: #0f7cb4;
}
a:hover {
	text-decoration: none;
}
.underline-hover:link,
.underline-hover:visited {
	text-decoration: none;
}
.underline-hover:hover,
.underline-hover:active,
.underline-hover:focus {
	text-decoration: underline;
}

.clickable { cursor: pointer }
.uppercase { text-transform: uppercase }
.f-lft { float: left }
.f-rgt { float: right }
.clear { clear: both }
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
* html .clearfix { height: 1% }

/* MediaCore default layout */
#mediacore-logo {
	background: url('../images/layout/logo.png') no-repeat left;
	height: 28px;
	width: 920px;
	margin: 10px auto;
}
#mediacore-logo a {
	height: 0px;
	padding-top: 28px;
	padding-left: 10px;
	width: 204px;
	overflow: hidden;
	display: block;
}
#mediacore-footer {
	margin: 10px auto 0 auto;
	border-top: 1px solid #cdd2d5;
	overflow: hidden;
}
.mediacore-content {
	width: 920px;
	margin: 0 auto;
}

/* Sectional nav */
#nav-box {
	width: 920px;
	padding: 14px 15px;
	height: 37px;
	margin: 0 auto 15px auto;
	background: url('../images/layout/nav-box.png') no-repeat;
}
#nav {
	width: 730px;
	float: left;
}
#nav li {
	float: left;
}
#nav li a:link,
#nav li a:visited {
	display: block;
	height: 37px;
	background: url('../images/layout/nav-btn-edge-inner.png') no-repeat -5px 0;
	color: #9b9fa2;
	text-decoration: none;
	font: bold 12px arial, helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	text-shadow: 0 -1px #000;
}
#nav li a:hover,
#nav li a:active,
#nav li a.active {
	color: #fff;
}
#nav li a span {
	display: block;
	height: 37px;
	line-height: 37px;
	float: left;
	margin-left: 5px;
	padding: 0 10px;
	font-size: 12px;
	background: url('../images/layout/nav-btn-bg.png') repeat-x;
}
#nav li a em {
	display: block;
	float: left;
	width: 5px;
	height: 37px;
	background: url('../images/layout/nav-btn-edge-inner.png') no-repeat 0px 0;
}
#nav li.nav-left a { background-image: url('../images/layout/nav-btn-edge-outer.png') }
#nav li.nav-right a em { background-image: url('../images/layout/nav-btn-edge-outer.png') }
#nav li.f-rgt { float: right; }
#nav li a { background-position: -5px 0 }
#nav li a:hover { background-position: -5px -37px }
#nav li a:active,
#nav li a.active { background-position: -5px -74px }
#nav li a:hover em { background-position: 0 -37px }
#nav li a:active em,
#nav li a.active em { background-position: 0 -74px }
#nav li a:hover span { background-position: 0 -37px }
#nav li a:active span,
#nav li a.active span { background-position: 0 -74px }
/*
#nav li a { background-position: -5px 0 }
#nav li a:hover { background-position: -5px -37px }
#nav li a:active,
#nav li a.active { background-position: -5px -74px }
#nav li a strong { background-position: 100% 0 }
#nav li a:hover strong { background-position: 100% -37px }
#nav li a:active strong,
#nav li a.active strong { background-position: 100% -74px }
#nav li a:hover strong span { background-position: 0 -37px }
#nav li a:active strong span,
#nav li a.active strong span { background-position: 0 -74px }
#nav-explore a:link, #nav-explore a:visited { width: 90px; background-position: 0 0 }
#nav-media a:link, #nav-media a:visited { width: 118px; background-position: -90px 0 }
#nav-podcasts a:link, #nav-podcasts a:visited { width: 92px; background-position: -208px 0 }
#nav-categories a:link, #nav-categories a:visited { width: 107px; background-position: -300px 0 }
#nav-upload a:link, #nav-upload a:visited { width: 79px; background-position: -407px 0 }
#nav-explore a:hover { background-position: 0 -39px }
#nav-media a:hover { background-position: -90px -39px }
#nav-podcasts a:hover { background-position: -208px -39px }
#nav-categories a:hover { background-position: -300px -39px }
#nav-upload a:hover { background-position: -407px -39px }
#nav-explore a:active, .nav-explore-on #nav-explore a { background-position: 0 -78px }
#nav-media a:active, .nav-media-on #nav-media a { background-position: -90px -78px }
#nav-podcasts a:active, .nav-podcasts-on #nav-podcasts a { background-position: -208px -78px }
#nav-categories a:active, .nav-categories-on #nav-categories a { background-position: -300px -78px }
#nav-upload a:active, .nav-upload-on #nav-upload a { background-position: -407px -78px }
*/
#nav #nav-upload { float: right }

#nav-search {
	float: right;
	width: 175px;
	height: 37px;
}
#nav-search input {
	float: left;
	width: 131px;
	height: 15px;
	background: url('../images/layout/search-left.png') no-repeat;
	padding: 11px 0 11px 10px;
	margin: 0;
	border: 0;
}
#nav-search input.nav-search-btn {
	width: 34px;
	height: 37px;
	background: url('../images/layout/search-right.png') no-repeat;
	padding: 0;
	text-indent: -5000px;
}
#nav-search input.nav-search-btn:hover { background-position: 0 -37px }
#nav-search input.nav-search-btn:active { background-position: 0 -74px }
#nav-search input,
#nav-search .overTxtLabel {
	color: #595050;
	font-size: 13px;
}

/* Generic content styles */
h1, h2, h3, h4, h5 {
	font: bold 18px 'Trebuchet MS', sans-serif;
	color: #3f3f3f;
	margin-bottom: 10px;
}
.head-super {
	font: normal 13px 'Helvetica Neue', Helvetica, Arial, 'Liberation Sans', FreeSans, sans-serif;
	border-bottom: 1px solid #cdd2d5;
	padding-bottom: 10px;
	margin-bottom: 11px;
}
h1 a.nocolor:link, h1 a.nocolor:visited, h2 a.nocolor:link, h2 a.nocolor:visited, h3 a.nocolor:link, h3 a.nocolor:visited, h4 a.nocolor:link, h4 a.nocolor:visited, h5 a.nocolor:link, h5 a.nocolor:visited {
	color: #494949;
}

/* Buttons */
.btn {
	height: 32px;
	overflow: hidden;
	cursor: pointer;
	display: block;
	border: 0;
	margin: 0;
	padding: 0;
	background: url('../images/layout/button-left.png') no-repeat;
	color: #9b9fa2;
	text-decoration: none;
	font: bold 12px arial, helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	text-shadow: 0 -1px #000;
}
.btn span {
	display: block;
	height: 32px;
	margin-left: 5px;
	padding: 0 12px 0 7px;
	line-height: 32px;
	background: url('../images/layout/button-right.png') no-repeat 100% 0;
}
.btn:hover, .btn.hover { background-position: 0 -32px; color: #fff }
.btn:active, .btn.active { background-position: 0 -64px; color: #fff }
.btn:hover span, .btn.hover span { background-position: 100% -32px }
.btn:active span, .btn.active span { background-position: 100% -64px }

/* Fix extra padding on button elements in firefox */
button::-moz-focus-inner {
	border: 0;
	padding: 0;
}

/* Meta info/link text with an icon to its left */
.meta {
	color: #8b8f93;
	padding-left: 16px;
}
a.meta:link,
a.meta:visited {
	color: #0F7CB4;
}
.meta-comments { background: url('../images/icons/comments.png') no-repeat left; }
.meta-likes { background: url('../images/icons/likes.png') no-repeat left; }
.meta-views { background: url('../images/icons/views.png') no-repeat left; }
.meta-download { background: url('../images/icons/download.png') no-repeat left; }
.meta-embed { background: url('../images/icons/embed.png') no-repeat left; }
.meta-share { background: url('../images/icons/share.png') no-repeat left; }
.meta-episodes { background:url('../images/icons/rss.png') no-repeat left; }
.meta-itunes { background:url('../images/icons/rss.png') no-repeat left; }
.meta-rss { background:url('../images/icons/rss.png') no-repeat left; }
.meta-audio { background:url('../images/icons/audio.png') no-repeat left; }
.meta-video { background:url('../images/icons/video.png') no-repeat left; }
.meta-go { background:url('../images/icons/go.png') no-repeat left; }

a.meta-likes strong {
	color: #0F7CB4;
}
a.meta-likes:link,
a.meta-likes:visited {
	color: #637084;
	text-decoration: none;
}
a.meta-likes:hover strong,
a.meta-likes:active strong {
	text-decoration: underline;
}

/* Grey content box */
.feat-box {
	margin-bottom: 20px;
}
.feat-top,
.feat-bottom {
	width: 920px;
	height: 15px;
	background: url('../images/layout/feature-top.png') no-repeat;
}
.feat-bottom {
	background: url('../images/layout/feature-bottom.png') no-repeat;
}
.feat-content {
	padding: 0 15px;
	background: url('../images/layout/feature-bg.png') repeat-y;
	position: relative;
	width: 890px;
}
.feat-content p {
	margin-bottom: 10px;
}
.feat-content ol,
.feat-content ul {
	margin: 0 15px 10px 30px;
	list-style-type: decimal;
}
.feat-content ul {
	list-style-type: circle;
}
.feat-content blockquote {
	margin: 0 15px 0 30px;
}
.feat-content del {
	color: red;
}
.feat-content ins {
	border-bottom: 1px solid green;
	color: green;
	text-decoration: none;
}
.feat-content sup,
.feat-content sub {
	font-size: 80%;
	vertical-align: super;
}
.feat-content sub {
	vertical-align: sub;
}
.feat-info {
	float: right;
	width: 265px;
	margin-bottom: 26px;
}
.feat-date {
	margin: -5px 0 10px 0;
	font: bold 12px 'Trebuchet MS', sans-serif;
}
.feat-meta {
	position: absolute;
	bottom: 0;
	right: 15px;
	width: 265px;
	line-height: 19px;
}
table.feat-meta > tbody > tr {
	background: url('../images/layout/hr.png') repeat-x scroll left top transparent;
}
table.feat-meta > tbody > tr:first-child {
	background: none;
}
table.feat-meta > tbody > tr > td {
	padding: 4px 0 2px 0;
}
table.feat-meta > tbody > tr:first-child > td {
	padding: 0 0 3px 0;
}
.feat-box .meta-comments,
.feat-box .meta-likes,
.feat-box .meta-views {
	color: #637084;
	margin-right: 10px;
}

/* Media grids */
.grid {
	width: 920px;
}
.grid li {
	width: 440px;
	height: 127px;
	float: left;
	margin-right: 20px;
	font: 12px Tahoma, sans-serif;
	position: relative;
}
.grid li a {
	display: block;
	text-decoration: none;
	width: 100%;
	height: 120px;
}
.grid-title {
	text-decoration: none;
	font: bold 13px 'Trebuchet MS', sans-serif;
}
a:hover .grid-title,
a:focus .grid-title {
	text-decoration: underline;
}
a:visited .grid-title {
	color: #55934a;
}
.grid-title,
.grid-desc,
.grid-meta {
	float: right;
	width: 297px;
	overflow: hidden;
}
.grid-desc {
	line-height: 18px;
	margin: 5px 0;
	color: #637084;
}

.grid-meta {
	display: block;
}
.grid-meta span span {
	position: absolute;
	top: -5000px;
	left: -5000px;
}
.grid-meta .meta-likes,
.grid-meta .meta-views,
.grid-meta .meta-comments {
	float: left;
	display: block;
	width: 35px;
}
.grid-meta .meta-views {
	width: 60px;
}

.thumb-wrap {
	display: block;
	overflow: hidden;
	position: relative;
	width: 130px;
	float: left;
}
.thumb-wrap img {
	display: block;
	border: 1px solid #b0b0b0;
}
.thumb-duration,
.thumb-duration-right {
	position: absolute;
	height: 16px;
	line-height: 16px;
	bottom: 3px;
	right: 9px;
	padding-left: 7px;
	background: url('../images/layout/duration-left.png') no-repeat left;
	color: #cacaca;
}
.thumb-duration-right {
	width: 6px;
	right: 3px;
	background: url('../images/layout/duration-right.png') no-repeat right;
}

/* Overrides for full size thumbs */
.m-grid .thumb-wrap {
	width: 162px;
}
.m-grid .grid-title,
.m-grid .grid-desc,
.m-grid .grid-meta {
	width: 263px;
}

.m-grid-column,
.m-grid-column .m-grid {
	width: 440px;
	float: left;
}
.m-grid-column .feat-box {
	margin-bottom: 15px;
}
.m-grid-column .feat-top {
	background-image: url('../images/layout/column-feature-top.png');
	width: 440px;
}
.m-grid-column .feat-bottom {
	background-image: url('../images/layout/column-feature-bottom.png');
	width: 440px;
}
.m-grid-column .feat-content {
	background-image: url('../images/layout/column-feature-bg.png');
	width: 410px;
}
.m-grid-column .feat-box h3 {
	text-align: right;
	padding-top: 10px;
	padding-bottom: 1px;
	margin-bottom: 0;
	overflow: hidden;
	width: 100%;
}
.m-grid-column .feat-meta {
	position: static;
	width: auto;
	float: right;
	margin-right: -10px;
}

/* Media details page */
#media-player {
	border: 1px solid #fff;
}
#media-box {
	margin-bottom: 0;
}
#media-box .feat-info {
	margin-bottom: 48px;
}
#media-box .feat-info,
#media-box .feat-meta {
	width: 313px;
}
#jwplayer {
	margin-bottom: -4px;
}

.contextbox {
	float: right;
	clear: right;
	width: 328px;
	margin-top: 15px;
}
.contextbox .subhead {
	float: right;
	padding-right: 1em;
	padding-top: 12px;
}
.contextbox .grid {
	width: 328px;
}
.contextbox .grid li {
	width: 328px;
	height: 104px;
	margin-right: 0;
}
.contextbox .grid li a {
	height: 101px;
}
.contextbox .grid .grid-title,
.contextbox .grid .grid-desc,
.contextbox .grid .grid-meta {
	width: 186px;
}
#podcast-context .grid li,
#podcast-context .grid a {
	height: 130px;
}
#podcast-context .grid-meta span.meta-episodes span {
	position: static;
}
#category-context,
#tag-context {
	margin-top: 10px;
}
.contextbox + .contextbox h3 {
	border-top: 1px solid #cdd2d5;
	padding-top: 11px;
	margin-bottom: 5px;
}
#media-context.contextbox h3 {
	border-top: 0;
	padding-top: 0;
	margin-bottom: 10px;
}

/* Media Library */
#library-controls {
	border-top: 1px solid #cdd2d5;
	padding-top: 5px;
	margin: -3px 0 7px 0;
	font-size: 14px;
}
#library-controls #library-show,
#library-controls ul,
#library-controls li {
	float: left;
	margin-right: 10px;
}
#library-controls li {
	color: #4c4c4c;
	font-weight: bold;
}
#library-controls a {
	font-weight: normal;
}

/* Pagination */
.pager {
	font-size: 14px;
	float: right;
}
.pager-label,
.pager-link,
.pager-current,
.pager-dotdot {
	padding: 5px 3px;
	float: left;
	display: block;
}
.pager-label {
	color: #637084;
	padding-left: 0;
}
#mediacore-footer .pager,
#library-controls .pager {
	margin-right: -3px;
}
#library-controls .pager {
	margin-top: -5px;
}

/* Feed links in footer */
#mediacore-feeds h5 {
	display: none;
}
#mediacore-feeds li {
	display: inline;
	margin-right: 5px;
	font-size: 12px;
}

.see-more {
	margin-top: -5px;
	margin-bottom: 25px;
	float: right;
	font-family: 'Trebuchet MS', sans-serif;
	font-weight: bold;
}
#desc-full,
#desc-excerpt {
	overflow: hidden;
}
#desc-more {
	color: #0F7CB4;
	font-weight: bold;
}
#desc-more:hover {
	cursor: pointer;
}

.meta-wrapper {
	position: relative;
}
.meta-hover {
	width: 191px;
	position: absolute;
	top: 19px;
	left: -64px;
	z-index: 100;
	display: none;
}
#embedthis .meta-hover {
	background: url('../images/layout/embed-box.png') no-repeat;
	height: 79px;
}
#sharethis .meta-hover {
	background: url('../images/layout/share-box.png') no-repeat;
	height: 110px;
}
.meta-hover label {
	width: 159px;
	margin: 0 15px;
	padding-top: 14px;
	display: block;
	font-size: 12px;
	font-weight: bold;
}
.meta-hover input {
	margin-top: 2px;
	padding: 5px;
	width: 150px;
	border: 1px solid #c6c6c6;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
}
.meta-hover ul {
	list-style: none;
}
.meta-hover li a {
	text-indent: -5000px;
	width: 59px;
	height: 29px;
	position: absolute;
	top: 72px;
	display: block;
}
.meta-hover li.share-email a { left: 6px }
.meta-hover li.share-facebook a { left: 66px }
.meta-hover li.share-twitter a { left: 126px }

/* Forms */
.form {
	font-family: Verdana, sans-serif;
}
.form li {
	width: 100%;
	overflow: hidden;
}
.form .submit,
.form .submit .form-field {
	text-align: right;
}
.form .submit input {
	float: right;
}
.form .inputfield,
.form .xhtmltextarea,
.form .selectfield {
	width: 98%;
	border: 1px solid #a9a9a9;
	background: #f9f9f9;
	font: 12px Verdana, sans-serif;
	padding: 3px;
}
.form .form-field-wide {
	position: relative;
}
.xhtml-description-helper p,
.xhtml-description-helper li {
	margin: 1em 0;
}
.xhtml-description-helper em {
	font-weight: bold;
}

/* Zencoder VideoJS HTML5 Player overrides */
.feat-content .vjs-controls {
	margin: 0;
}
.feat-content .vjs-progress-holder {
	margin: 7px 1px 0px 5px;
}

/* Tag listing page */
#tag-directory {
	clear: both;
}
#tag-directory li {
	width: 50%;
	float: left;
}
