/**
 * This file is a part of MediaCore, Copyright 2009 Simple Station Inc.
 *
 * MediaCore is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * MediaCore is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */
/*960.gs Resets*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}:focus{outline:0}ins{text-decoration:none}del{text-decoration:line-through}table{border-collapse:collapse;border-spacing:0}
/*960.gs Typography*/
body{font:13px/1.5 'Helvetica Neue', Helvetica, Arial,'Liberation Sans',FreeSans, sans-serif;}
a:focus{outline:1px dotted invert}
hr{border:0 #ccc solid;border-top-width:1px;clear:both;height:0}
h1{font-size:25px}
h2{font-size:23px}
h3{font-size:21px}
h4{font-size:19px}
h5{font-size:17px}
h6{font-size:15px}

/* Base generic styles */
body, select, input, button, textarea {
	font-family: 'Helvetica Neue', Helvetica, Arial,'Liberation Sans',FreeSans, sans-serif;
}
body {
	/* background: #f7f0e5; /*url('../images/layout/body-background.jpg');*/
	color: #767778;
}
a:link,
a:visited {
	color: #3396db;
	color: #00bee2; /* FIXME: This is the colour in the comps, no? */
}
a:hover {
	text-decoration: none;
}

.f-lft { float: left }
.f-rgt { float: right }
.clear { clear: both }
.clear:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
* html .clear { height: 1% }

.clickable { cursor: pointer; }

.mediacore-content {
	width: 940px;
	overflow: hidden;
	margin: 0 auto;
}

#mediacore-logo {
	background: url('../images/layout/logo.png') no-repeat 10px 0;
	height: 28px;
	width: 940px;
	margin: 10px auto;
}

#mediacore-logo a {
	height: 0px;
	padding-top: 28px;
	padding-left: 10px;
	width: 204px;
	overflow: hidden;
	display: block;
}

/* Black boxes */
.box {
	font-family: 14px/165% Tahoma, sans-serif;
	color: #e4e7ea;
	width: 940px;
	overflow: hidden;
}
.box-top {
	height: 15px;
	background: url('../images/layout/box-top-trans.png') no-repeat bottom;
}
.box-bottom {
	height: 37px;
	background: url('../images/layout/box-bottom-trans.png') no-repeat top;
	clear: both;
}
.box-body {
	padding: 15px 20px 5px 20px;
	width: 900px;
	overflow: hidden;
	background: #2b2a2a url('../images/layout/box-body-bg.png') no-repeat top;
}

/* Navigation bar */
.box-nav {
	background: #000 url('../images/layout/box-nav-bg.png') repeat-x top;
	width: 900px;
	min-height: 39px;
	padding: 0px 20px 12px 20px;
	overflow: hidden;
	position: relative;
}
.box-nav a:focus { outline-style: none; } /* fix text-indent screw up */
.box-nav-btns {
	position: relative;
	width: 100%;
	overflow: hidden;
}
.box-nav-left {
	float: left;
}
.box-nav-right {
	float: right;
	height: 39px;
	display: block;
	text-indent: -5000px;
	margin-left: 10px;
}

/* Sectional nav */
#nav {
	width: 248px;
	background: url('../images/buttons/sections-ie.gif') no-repeat 0 0;
}
.box-nav-btns > #nav {
	background-image: url('../images/buttons/sections.png');
}
.nav-latest-on #nav { background-position: 0 -39px; }
.nav-media-on #nav { background-position: 0 -78px; }
.nav-podcasts-on #nav { background-position: 0 -117px; }
#nav li {
	float: left;
}
#nav li a {
	text-indent: -5000px;
	display: block;
	height: 39px;
	background: url('../images/buttons/sections.png') no-repeat 1000px 1000px;
}
#nav-latest a { width: 87px; }
#nav-videos a { width: 68px; }
#nav-podcasts a { width: 93px; }
#nav-latest a:hover { background-position: 0 -156px; }
#nav-videos a:hover { background-position: -87px -156px; }
#nav-podcasts a:hover { background-position: -155px -156px; }

/* Secondary nav, buttons for flyout boxes */
a#nav-upload-video {
	width: 122px;
	background: url('../images/buttons/upload-video-ie.gif') no-repeat;
}
a#nav-topics {
	width: 122px;
	background: url('../images/buttons/topic-index-ie.gif') no-repeat;
}
a#nav-podcast-help {
	width: 160px;
	background: url('../images/buttons/podcast-help-ie.gif') no-repeat;
	position: absolute;
	top: 0;
	right: 132px;
	float: none;
}
.box-nav-btns > a#nav-upload-video { background-image: url('../images/buttons/upload-video.png'); }
.box-nav-btns > a#nav-topics { background-image: url('../images/buttons/topic-index.png'); }
.box-nav-btns > a#nav-podcast-help { background-image: url('../images/buttons/podcast-help.png'); }
a#nav-topics:hover,
a#nav-podcast-help:hover,
a#nav-upload-video:hover {
	background-position: 0 -39px;
}
.nav-topics-on #nav-topics,
a#nav-topics.topics-shown,
.nav-podcast-help-on #nav-podcast-help,
a#nav-podcast-help.podcast-help-shown,
.nav-upload-video-on #nav-upload-video {
	background-position: 0 -78px;
}

/* Flyout boxes that go within the nav bar like topic index and whats a podcast? */
.nav-box {
	clear: both;
	margin: 0 1px;
	width: 898px;
	overflow: hidden;
}
.nav-box-flyout {
	position: relative;
}
#topic-box-top {
	height: 16px;
	background: url('../images/layout/nav-box-top-topics.png') no-repeat top right;
}
#podcast-help-top {
	height: 16px;
	background: url('../images/layout/nav-box-top-podcast-help.png') no-repeat top right;
}
.nav-box-top {
	height: 10px;
	background: url('../images/layout/nav-box-top.png') no-repeat top right;
}
.nav-box-topright {
	height: 10px;
	background: url('../images/layout/nav-box-topright.png') no-repeat top right;
}
.nav-box-bottom {
	height: 10px;
	background: url('../images/layout/nav-box-bottom.png') no-repeat;
}
.nav-box-body {
	background: #333;
	padding: 10px 20px;
	width: 858px;
	overflow: hidden;
	position: relative;
	line-height: 1.6em; /* referenced by podcast-help-box specific stuff below */
}
.nav-box ul {
	width: 25%;
	float: left;
	margin-bottom: 0;
}
.nav-box a:link,
.nav-box a:visited {
	color: #B1D1EF;
	text-decoration: none;
	text-shadow: black 1px;
	display: inline;
	float: none;
}
.nav-box a:hover {
	color: #fff;
	text-decoration: underline;
}

/* Topic index nav box */
#mediacore-topics li {
	display: block;
	margin: 3px 0;
	height: auto;
	text-indent: 0;
}
#topics-caption {
	padding: 3em 30px 10px 0;
	width: 180px;
	float: right;
	text-align: center;
}
#topics-caption a,
#topics-caption div {
	margin-left: auto;
	margin-right: auto;
}
#topics-dontsee {
	background: url('../images/topics/dont-see-question.png') no-repeat scroll 9px 0;
	width: 185px;
	height: 43px;
	display: block;
	margin-bottom: 10px;
	text-indent: -5000px;
}
#topics-suggest {
	background: url('../images/topics/suggest-new.png') no-repeat;
	width: 159px;
	height: 39px;
	display: block;
	text-indent: -5000px;
}
#topics-suggest:hover {
	background-position: 0 -39px;
}


/* Generic content styles */
.box h1, .box h2, .box h3, .box h4, .box h5 {
	font: normal 18px 'Trebuchet MS', sans-serif;
	text-transform: capitalize;
}
.box h1 { color: #e8e5e5; }
.box h3 { color: #acacb0; }


/* Buttons */
.btn {
	height: 34px;
	overflow: hidden;
	cursor: pointer;
	background-color: transparent;
	background-repeat: none;
	background-position: 0 0;
	display: block;
	font-size: 0;
	line-height: 0;
	text-indent: -5000px;
	border: 0;
}
.btn:hover {
	background-position: 0 -34px;
}
.btn span {
	display: none;
}

.btn-likethis { width: 113px; background-image: url('../images/buttons/i-like-this.png'); }
.btn-download { width: 113px; background-image: url('../images/buttons/download.png'); }
.btn-ok { width: 51px; background-image: url('../images/buttons/ok.png'); }

/*.mo span {
	display: none;
}
.mo {
	display: block;
	background-repeat: no-repeat;
	background-position: 0 0;
}
.mo:hover {
	background-position: 0 -50%;
}*/


/* Pagination */
.pager {
	float: right;
	font: 14px "Trebuchet MS", sans-serif;
}
.pager-left, .pager-right {
	display: block;
	float: left;
	width: 15px;
	height: 35px;
	background: url('../images/layout/pagination-left-trans.png') no-repeat;
}
.pager-right { background-image: url('../images/layout/pagination-right-trans.png'); }
.pager-body {
	display: block;
	float: left;
	background: #010101;
	height: 27px;
	padding: 4px 5px;
}
.pager-body * {
	padding: 5px 4px;
	float: left;
	display: block;
}
.pager-label {
	color: #a2a2a2;
	padding-left: 0;
}
.pager-body .current {
	color: #a2a2a2;
}
.pager-body a:link, .pager-body a:visited {
	color: #fff;
	text-decoration: none;
}
.pager-body a:hover {
	text-decoration: underline;
}

/* Grey box for displaying notifications and information */
.greybox {
	font-size: 16px;
	color: #b0b0b0;
	background-color: #4d4d4d;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	padding: 20px 40px;
	margin-bottom: 40px;
}

.greybox .italic,
.greybox .italic-header {
	font-family: georgia;
	font-style: italic;
	font-weight: bold;
	color: #bcdfe3;
}

.greybox .italic-header {
	font-size: 25px;
}

