#category-breadcrumb a:link,
#category-breadcrumb a:visited {
	color: #3f3f3f;
}

#categories-bar {
	float: left;
	width: 210px;
}
.category-list {
	font: bold 18px 'Trebuchet MS', sans-serif;
}
.category-list li {
	margin-bottom: 10px;
}
.subcategory-list {
	font-size: 14px;
	margin-left: 20px;
	margin-top: 3px;
}
.subcategory-list li {
	margin-bottom: 3px;
}
.subcategory-list a:link,
.subcategory-list a:visited {
	color: #1c678e;
}

#category-content {
	float: right;
	width: 710px;
}
#category-content .feat-content {
	width: 680px;
}

#category-content h2 a:link,
#category-content h2 a:visited {
	color: #494949;
}

#category-content .grid {
	width: 720px;
}
#category-latest,
#category-popular,
#category-content .category-column .grid {
	width: 335px;
	float: left;
}
#category-latest {
	margin-right: 20px;
}
#category-content li {
	width: 335px;
	height: 110px;
}
#category-content .grid-title,
#category-content .grid-desc,
#category-content .grid-meta {
	width: 195px;
}
#category-content .see-more {
	margin-top: 5px;
	float: right;
}

/* Feature box size overrides */
#category-feature .feat-top,
#category-feature .feat-bottom {
	width: 710px;
	background: url('../images/layout/category-feature-top.png') no-repeat;
}
#category-feature .feat-bottom {
	background: url('../images/layout/category-feature-bottom.png') no-repeat;
}
#category-feature .feat-content {
	background: url('../images/layout/category-feature-bg.png') repeat-y;
}
#category-feature .feat-meta,
#category-feature .feat-info {
	width: 265px;
}
#category-feature .meta-comments span {
	display: block;
	overflow: hidden;
	float: right;
	height: 0;
	width: 0;
}
