#categories-bar {
	float: left;
	width: 210px;
}
.category-list {
	font-weight: bold;
	font-size: 16px;
}
.category-list li {
	margin-bottom: 10px;
}
.category-list small {
	font-weight: normal;
	font-size: 12px;
}
.subcategory-list {
	font-size: 14px;
	margin-left: 20px;
	margin-top: 3px;
	list-style: disc outside none;
}
.subcategory-list .subcategory-list { list-style-type: circle }
.subcategory-list .subcategory-list .subcategory-list { list-style-type: square }
.subcategory-list .subcategory-list .subcategory-list .subcategory-list { list-style-type: circle }
.subcategory-list .subcategory-list .subcategory-list .subcategory-list .subcategory-list { list-style-type: disc }
.subcategory-list li {
	margin-bottom: 3px;
}
.subcategory-list a:link,
.subcategory-list a:visited {
	color: #1c678e;
}

#category-content {
	float: right;
	width: 710px;
}
#category-content .feat-content {
	width: 680px;
}
#category-content .feat-info,
#category-content .feat-meta {
	width: 313px;
}

#category-content .grid {
	width: 720px;
}
#category-content .s-grid-column,
#category-content .s-grid-column .grid {
	width: 335px;
	float: left;
}
#category-latest {
	margin-right: 20px;
}
#category-content li {
	width: 335px;
}
#category-content .grid-title,
#category-content .grid-desc,
#category-content .grid-meta {
	width: 195px;
}
