/**
 * This file is a part of MediaCore, Copyright 2009 Simple Station Inc.
 *
 * MediaCore is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * MediaCore is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */
body {
/*	FIXME: Disable the BG color for TMCY.com
 *	background-color: #f8f1e7;*/
}
.column {
	font-size: 16px;
	font-family: 'Helvetica Neue', Helvetica, Arial, 'Liberation Sans', FreeSans, sans-serif;
	margin: 0 auto;
	width: 500px;
}
.column p,
.column li {
	margin-bottom: 10px;
}
.column textarea,
.column input.text {
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border: 5px solid #ebe4dc;
	padding: 5px 8px 6px 8px;
	width: 484px;
	margin: 0 -5px;
}
.column ol li {
	list-style-type: decimal;
	margin-left: 2em;
}
.column ol {
	margin-bottom: 3em;
}
.column label,
.column h1,
.column h2 {
	font-family: georgia, serif;
	font-style: italic;
	font-weight: bold;
}
.column label {
	display: block;
	margin-top: 1.5em;
	margin-bottom: 0.75em;
}
.column h1,
.column h2 {
	text-align: center;
	margin-bottom: 0.4em;
}
.column h1 {
	font-size: 50px;
}
.column h2 {
	font-size: 40px;
	margin-top: 1em;
}
.btn-report-error {
	background-image: url('../images/buttons/report.png');
	width: 134px;
}
