/**
 * This file is a part of MediaCore, Copyright 2009 Simple Station Inc.
 *
 * MediaCore is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * MediaCore is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */
.form {
	font-family: Verdana, sans-serif;
}
.form li {
	width: 100%;
	overflow: hidden;
}
.form .submit,
.form .submit .form-field {
	text-align: right;
}
.form .submit input {
	float: right;
}

/*.form-label {
	float: left;
	width: 20%;
	margin: 5px 0 5px 10px;
	padding: 3px 0;
	text-align: right;
}
.form-field {
	float: right;
	width: 75%;
	margin: 5px 10px 5px 0;
}
.form-field-wide {
	width: 100%;
}*/
.form .inputfield,
.form .xhtmltextarea,
.form .selectfield {
	width: 98%;
	border: 1px solid #a9a9a9;
	background: #f9f9f9;
	font: 12px Verdana, sans-serif;
	padding: 3px;
}

.xhtml-description-helper p,
.xhtml-description-helper li {
	margin: 1em 0;
}
.xhtml-description-helper em {
	font-weight: bold;
}
