.form {
	font-family: Verdana, sans-serif;
}
.form li {
	width: 100%;
	overflow: hidden;
}
.form .submit,
.form .submit .form-field {
	text-align: right;
}
.form .submit input {
	float: right;
}

/*.form-label {
	float: left;
	width: 20%;
	margin: 5px 0 5px 10px;
	padding: 3px 0;
	text-align: right;
}
.form-field {
	float: right;
	width: 75%;
	margin: 5px 10px 5px 0;
}
.form-field-wide {
	width: 100%;
}*/
.form .inputfield,
.form .xhtmltextarea,
.form .selectfield {
	width: 98%;
	border: 1px solid #a9a9a9;
	background: #f9f9f9;
	font: 12px Verdana, sans-serif;
	padding: 3px;
}

.xhtml-description-helper p,
.xhtml-description-helper li {
	margin: 1em 0;
}
.xhtml-description-helper em {
	font-weight: bold;
}
