/**
 * This file is a part of MediaCore, Copyright 2009 Simple Station Inc.
 *
 * MediaCore is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * MediaCore is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */
/* video.grid */
#grid-box .box-body {
	padding-left: 0;
	padding-right: 0;
	padding-top: 30px;
	width: 100%;
}
#grid-box .pager { margin-right: 20px; }
#grid-box h1, #grid-box h2, #grid-box h3, #grid-box h4, #grid-box h5 { padding-left: 20px }


.grid-title, a:link .grid-title, a:visited .grid-title, a.grid-title:link, a.grid-title:visited {
	color: #b1d1ef;
	text-decoration: none;
	color: #b1d1ef;
}
a:hover .grid-title, a.grid-title:hover {
	color: #e1effc;
	text-decoration: underline;
}
.grid-thumb img, img.grid-thumb {
	display: block;
	border: 1px solid #b0b0b0;
}
.grid-thumb-wrap,
.grid2-thumb-wrap {
	display: block;
	overflow: hidden;
	position: relative;
}
.grid2-thumb-wrap {
	width: 130px;
	float: left;
}
.grid-thumb-wrap .grid-duration,
.grid2-thumb-wrap .grid-duration {
	height: 15px;
	position: absolute;
	bottom: 1px;
	right: 11px;
	background: url('../images/layout/timestamp-left.png') no-repeat left;
	padding: 0 2px 3px 12px;
	color: #cacaca;
}
.grid-thumb-wrap .grid-duration-right,
.grid2-thumb-wrap .grid-duration-right {
	width: 10px;
	height: 18px;
	position: absolute;
	bottom: 1px;
	right: 1px;
	background: url('../images/layout/timestamp-right.png') no-repeat right;
}

.grid-meta {
	display: block;
}
.grid-meta span {
	color: #c4c4c4;
}
.grid-meta span span {
	color: #777;
}
.grid-comments {
	padding-left: 16px;
	background: url('../images/icons/comments.png') no-repeat left;
}
.grid-comments span {
	display: none !important;
}


.grid {
	width: 920px;
	overflow: hidden;
	margin-left: 20px;
}
.grid li {
	float: left;
	width: 164px;
	font: 12px Tahoma, Helvetica, sans-serif;
	color: #c4c4c4;
	margin: 0 20px 35px 0;
}
.grid li a:link,
.grid li a:visited {
	display: block;
	overflow: hidden;
	text-decoration: none;
	border-bottom: 2px solid #323232;
	padding-bottom: 5px;
}
.grid li img {
	border: 1px solid #b0b0b0;
	display: block;
}
.grid .grid-title {
	display: block;
	overflow: hidden;
	padding: 10px 0 2px 0;
	white-space: nowrap;
}
.grid a:hover .grid-title {
	color: #e1effc;
	text-decoration: underline;
}
.grid .grid-meta {
	text-align: center;
}
.grid .grid-comments {
	float: left;
}
.grid .grid-likes {
	float: right;
}



.grid2 {
	width: 920px;
}
.grid2 li {
	width: 440px;
	height: 115px;
	overflow: hidden;
	float: left;
	margin: 12px 20px 0 0;
	font: 12px Tahoma, sans-serif;
	position: relative;
}
.grid2 .grid2-link {
	height: 1.25em;
	display: block;
}
.grid2-link .grid-thumb {
	float: left;
}
.grid2-link .grid-title,
.grid2 .grid-desc,
.grid2 .grid-meta {
	float: right;
	width: 297px;
	overflow: hidden;
}
.grid2 .grid-desc {
	line-height: 18px;
	margin: 5px 0;
}
.grid2 .grid-likes,
.grid2 .grid-views,
.grid2 .grid-comments {
	float: left;
	display: block;
	width: 55px;
}
.grid2 .grid-likes { width: 75px; }
.grid2 .grid-views { width: 75px; }




/* media play/details view */
#media-box {
	margin-bottom: 20px;
}
#media-box h1 {
	font: bold 18px helvetica, 'helvetica nueue', arial, sans-serif;
	color: #fff;
	text-shadow: #000 0px -1px 0px;
	text-transform: uppercase;
}
.media-body {
	padding-top: 23px;
	margin-bottom: 20px;
	position: relative;
	overflow: hidden;
}
#video-player {
	display: block;
	margin: 0;
}
.media-info {
	float: right;
	width: 359px;
	margin-bottom: 142px; /* equal to 20 + 15 + 15 + .media-meta height.
	                       * ie. we give equal spacing on top/right/bottom for
	                       * the .media-meta box */
}
.media-info p {
	color: #999595;
	margin: 10px 0;
	font: 13px Verdana, sans-serif;
}

.media-meta {
	background: url('../images/layout/littlebox-bg-200px.png') no-repeat scroll left 15px;
	position: absolute;
	width: 344px;
	bottom: 15px;
	right: 15px;
	height: 92px;
	font: 13px/15px Tahoma, sans-serif;
	color: #c4c4c4;
}
.media-meta-top {
	background-image: url('../images/layout/littlebox-top.png');
	height: 15px;
}
.media-meta-bottom {
	background-image: url('../images/layout/littlebox-bottom.png');
	position: absolute;
	width: 344px;
	height: 15px;
	bottom: -15px;
}
.media-meta-views,
.media-meta-time,
.media-meta-etc,
.media-meta-commented {
	width: 191px;
	height: 20px;
	float: right;
	clear: right;
}
.media-meta .btn-download,
.media-meta .btn-likethis {
	margin-left: 20px;
}
.media-meta .btn-download {
	margin-top: 10px;
}
.media-embed {
	text-align: right;
	padding-top: 5px;
	width: 480px;
}
#embed-markup {
	border: 1px solid #1a1a1a;
	background: #cdcdcd;
	color: #000;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.contextbox {
	float: right;
	clear: right;
	width: 359px;
	overflow: hidden;
	margin-right: 20px;
	color: #0e4f34;
	font: 14px Verdana, sans-serif;
}
.contextbox-top {
	background: url('../images/layout/contextbox-top.png') no-repeat bottom;
	height: 15px;
}
.contextbox-bottom {
	background: url('../images/layout/contextbox-bottom.png') no-repeat bottom;
	height: 15px;
}
.contextbox-body {
	background: url('../images/layout/contextbox-body-bg.png') repeat-y;
	padding: 10px 30px 5px 30px;
	position: relative;
	line-height: 1.3;
}
.contextbox-body-mid {
	padding-bottom: 15px;
}
.contextbox a:link,
.contextbox a:visited {
	color: #517ca2;
}
.contextbox a:hover {
	text-decoration: none;
}
.context-sep {
	border: 0;
	height: 0;
	background: none;
	float: right;
	width: 350px;
	clear: right;
	padding-bottom: 32px;
}
#category-context .contextbox-top {
	background: url('../images/layout/contextbox-top-categories.png') no-repeat;
	padding-top: 58px;
	overflow: hidden;
	height: 0;
}
#category-context .contextbox-mid {
	background: url('../images/layout/contextbox-mid-tags.png') no-repeat;
	padding-top: 41px;
	overflow: hidden;
	height: 0;
}
