/**
 * This file is a part of MediaCore, Copyright 2009 Simple Station Inc.
 *
 * MediaCore is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * MediaCore is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */
#mediaflow {
	position: relative;
	clear: both;
}

/* Mediaflow arrows for next / previous */
#mediaflow-prev,
#mediaflow-next {
	width: 84px;
	height: 159px;
	position: absolute;
	top: 0;
	z-index: 99;
	background: url('../images/mediaflow/gradients-trans.png') repeat-y;
}
#mediaflow-prev {
	left: 0;
	background-position: left;
}
#mediaflow-next {
	right: 0;
	background-position: right;
}
#mediaflow-prev span,
#mediaflow-next span {
	display: block;
	width: 52px;
	height: 53px;
	margin-top: 47px;
	margin-left: 19px;
	text-indent: -5000px;
}
#mediaflow-prev span {
	background: url('../images/mediaflow/arrows-trans.png') no-repeat 0 0;
}
#mediaflow-next span {
	background: url('../images/mediaflow/arrows-trans.png') no-repeat -52px 0;
}
#mediaflow-prev:hover span {
	background-position: 0 -53px;
}
#mediaflow-next:hover span {
	background-position: -52px -53px;
}

/* Sliding bits */
#mediaflow-box .box-body {
	padding: 0;
	width: 100%;
	background: #000;
	position: relative;
}
#mediaflow-body {
	height: 159px;
	position: relative;
	overflow: hidden;
}
.mediaflow-page ul {
	margin-left: 84px;
	/* I feel like this shouldn't be necessary, but it's required to fix a display bug in safari */
	position: absolute;
}
.mediaflow-page li {
	float: left;
	margin-right: 17px;
}
.mediaflow-page li a:link,
.mediaflow-page li a:visited {
	border: 2px solid transparent;
	float: left;
}
.mediaflow-page li a.active:link,
.mediaflow-page li a.active:visited {
	border-color: #b0b0b0;
}
.mediaflow-page img {
	display: block;
	border: 1px solid #424242;
	width: 240px;
	height: 135px;
}
.mediaflow-label {
	background: url('../images/layout/box-bottom-grey-trans.png') no-repeat bottom;
	clear: both;
	color: #3f3f3f;
	font: 12px 'Candara', Verdana, 'Lucida Grande', Tahoma, sans-serif;
	padding: 8px 0;
	text-align: center;
}
