/**
 * This file is a part of MediaCore, Copyright 2009 Simple Station Inc.
 *
 * MediaCore is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * MediaCore is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */
/* 'Whats a Podcast?' box for the nav bar */
#podcast-help-box ul {
	float: none;
	width: 100%;
}
#podcast-help-box p, #podcast-help-box ul {
	margin-bottom: 1.6em; /* same as line-height defined in .nav-box-body above */
}
#podcast-help-box .nav-box-body > .f-lft,
#podcast-help-box .nav-box-body > .f-rgt {
	width: 420px;
	margin-bottom: -1.6em; /* absorb the margin from the bottom p and ul elements */
}
#podcast-help-box li {
	width: 100%;
	clear: both;
}


.thumb-wrap {
	float: left;
}

.podcast-art {
	float: left;
	display: block;
	background: url('../images/layout/podcast-art-border.png') no-repeat top left;
	width: 165px;
	height: 165px;
	margin-top: 1px;
}
.podcast-art img {
	margin: 4px 0 0 4px;
	display: block;
}

#featured-ep {
	width: 900px;
	overflow: hidden;
	border-bottom: 2px solid #323232;
	padding: 0 0 42px 0;
	margin-top: 20px;
}
#featured-ep .grid-thumb {
	float: left;
}
#featured-ep h3, #featured-ep h2 {
	float: left;
	margin-right: 8px;
}
#featured-ep .grid2-link {
	display: block;
	text-decoration: none;
}
#featured-ep .grid-desc p {
	line-height: 1.6em;
}
#featured-ep p {
	margin-bottom: 10px;
	font: 13px Tahoma, sans-serif;
	color: #8b8f93;
}
#featured-ep .featured-ep-top,
#featured-ep .grid-desc,
#featured-ep .grid-meta {
	width: 440px;
	float: right;
	padding-top: 5px;
}
#featured-ep .grid-meta {
	padding-top: 0;
}
#featured-ep .featured-ep-top {
	font: 18px "Trebuchet MS", sans-serif;
	text-transform: uppercase;
	padding-top: 0;
}
#featured-ep .featured-ep-caption {
	color: #fff;
	padding-right: 4px;
}
#featured-ep .grid2-link .grid-title {
	float: none;
	width: auto;
}


.innerbox {
	width: 900px;
	margin: 0 auto;
	clear: both;
}
.innerbox-top {
	background: url('../images/layout/innerbox-top-trans.png') no-repeat top;
	font: bold 14px Tahoma, sans-serif;
	color: #acacb0;
	text-shadow: #000 0 -1px 0;
	padding: 10px 30px;
	border-bottom: 1px solid #1d1d1d;
}
.innerbox-body {
	background: #1c1c1c url('../images/layout/innerbox-body-bg.png') repeat-x top;
	padding: 10px 30px 0 30px;
	width: 840px;
	overflow: hidden;
}
.innerbox-bottom {
	height: 15px;
	background: url('../images/layout/innerbox-bottom-trans.png') no-repeat top;
}
.innerbox-list li {
	clear: both;
	color: #b7b9bc;
	font: 13px/18px Tahoma, sans-serif;
	margin: 20px 0 30px 0;
	position: relative;
	width: 100%;
	overflow: hidden;
}
.innerbox-list li .title {
	color: #b1d1ef;
	margin-right: 5px;
	font: bold 14px/18px Tahoma, sans-serif;
	float: left;
}
.innerbox-list li a:link,
.innerbox-list li a:visited {
	color: #b1d1ef;
	text-decoration: none;
}
.innerbox-list li a:hover {
	text-decoration: underline;
}
.innerbox-list .podcast-art {
	margin-top: 3px;
}
.innerbox-list .description {
	margin-left: 195px;
	padding-bottom: 2em;
	display: block;
	padding-top: 4px;
	line-height: 18px;
}
.innerbox-list .description p {
	line-height: 18px;
}
.innerbox-list .options {
	position: absolute;
	bottom: 7px;
	left: 195px;
	color #e4e7ea;
	font-weight: bold;
	font-size: 12px;
}


/* Podcast context box for the media view */
#podcast-context .contextbox-top {
	background: url('../images/layout/contextbox-top-podcast.png') no-repeat;
	padding-top: 54px;
	overflow: hidden;
	height: 0;
}
#podcast-context .contextbox-body {
	height: 157px;
	padding: 5px 20px;
}
#podcast-context .podcast-art {
	position: absolute;
	top: 4px;
	left: 20px;
}
#podcast-buttons a {
	width: 137px;
	height: 39px;
	display: block;
	text-indent: -5000px;
	float: right;
	clear: right;
	margin: 6px 0;
}
#podcast-buttons a:hover {
	background-position: 0 -39px;
}
#podcast-buttons a:focus {
	outline: 0;
}
#podcast-buttons .btn-podcast-next {
	margin-top:10px;
}
.btn-podcast-next { background: url('../images/buttons/podcast-next-episode.png') no-repeat; }
.btn-podcast-view { background: url('../images/buttons/podcast-browse-episodes.png') no-repeat; }
.btn-podcast-add { background: url('../images/buttons/podcast-add-itunes.png') no-repeat; }

.recent-eps {
	margin: 2em 0 .5em 0;
}
.recent-eps span {
	font-family: Georgia, serif;
	font-style: italic;
	color: #fff;
}
