/**
 * This file is a part of MediaCore, Copyright 2009 Simple Station Inc.
 *
 * MediaCore is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * MediaCore is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */
.tag-cloud li {
	display: inline;
}
.tag-cloud li a:link,
.tag-cloud li a:visited {
	text-decoration: none;
}
.tag-cloud li a:hover {
	text-decoration: underline;
}
.tag-cloud li span {
	display: none;
}
.tag-cloud .size1  { font-size: 10px }
.tag-cloud .size2  { font-size: 12px }
.tag-cloud .size3  { font-size: 14px }
.tag-cloud .size4  { font-size: 16px }
.tag-cloud .size5  { font-size: 18px }
.tag-cloud .size6  { font-size: 20px }
.tag-cloud .size7  { font-size: 22px }
.tag-cloud .size8  { font-size: 24px }
.tag-cloud .size9  { font-size: 26px }
.tag-cloud .size10 { font-size: 28px }
