/**
 * This file is a part of MediaCore, Copyright 2009 Simple Station Inc.
 *
 * MediaCore is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * MediaCore is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */
form#upload-form, div#bottombar {
	width: 690px;
	float: left;
	margin-bottom: 0.5em;
}

.xhtml-description-helper {
	margin: 1em;
	width: 620px;
	font-size: 12px;
}
.xhtml-description-helper p,
.xhtml-description-helper li,
.xhtml-description-helper em {
	margin-top: 0.5em;
}

table.field-list {
	border-spacing: 0px;
	border-collapse: collapse;
	width: 690px;
}
#upload-form {
	position: relative;
}
#upload-form .btn-submit {
	position: absolute;
	bottom: 0;
	right: 38px;
}
table.field-list .textfield,
table.field-list .textarea,
table.field-list .xhtmltextarea {
/*	-moz-border-radius: 9px;
	-webkit-border-radius: 9px;*/
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border: 5px solid #d9dee1;
	padding: 5px 8px 6px 8px;
	font-size: 2em;
	padding: 1px 6px 2px 6px;
	width: 630px; /* 670px - 2 * 6px */
}
table.field-list .textarea,
table.field-list .xhtmltextarea {
	font-size: 1.5em;
}
table.field-list label.form-label {
	font-weight: bold;
}
table.field-list tr.title td {
	padding: 10px 0 5px 0;
}
table.field-list td.error-icon {
	width: 86px;
	text-align: center;
	vertical-align: middle;
}
table.field-list span.field-help {
	font-style: italic;
}
table.field-list .field-error {
	color: #eb4c4c;
}
table.field-list .err {
	background: url('../images/uploader/ex.png') no-repeat right center;
}
table.field-list .noerr {
	background: url('../images/uploader/check.png') no-repeat right center;
}
div#browse-button.active,
div#browse-button.enabled,
div#browse-button.browse-button-hover {
	float: left;
	width: 203px;
	height: 34px;
}
div#browse-button.active {
	background: url('../images/uploader/choose-file-grey.png') no-repeat bottom;
}
div#browse-button.enabled {
	background: url('../images/uploader/choose-file.png') no-repeat;
}
div#browse-button.browse-button-hover {
	background-position: bottom;
}
div#upload-button.active {
	float: left;
	background: url('../images/uploader/upload-grey.png') no-repeat bottom;
	width: 148px;
	height: 34px;
	margin-left: 150px;
}
div#upload-button.enabled {
	background: url('../images/uploader/upload.png') no-repeat;
	cursor: pointer;
}
div#upload-button.enabled:hover {
	background-position: bottom;
}
div#file-info.active {
	padding: 6px 15px 0 15px;
	width: 319px;
}
div#file-info span.filename {
	color: #0e4f34;
}
div#rightbar {
	float: right;
	width: 210px;
	margin-top: 27px;
}
div#rightbar div {
	height: 132px;
}
div#upload-status.active {
	width: 100%;
	height: 150px;
}
div#upload-status.active span.percent {
	margin: 14px 0;
	display: block;
	font-size: 75px;
	height: 75px;
}
div#upload-status.active span.text {
	display: block;
	font-size: 20px;
	height: 75px;
}
.italic, div#rightbar em {
	font-family: Georgia, serif;
	font-style: italic;
	font-weight: bold;
	color: #494949;
}

#upload-wording .feat-content p,
#upload-wording .feat-content ol,
#upload-wording .feat-content ul {
	margin-top: 15px;
}
#upload-wording .feat-content {
	width: 890px;
	overflow: hidden;
}
#upload-wording .feat-content *:first-child {
	margin-top: 0;
}
#upload-wording h4,
#upload-wording li {
	margin-bottom: 0.5em;
}

#upload-wording ol li {
	margin: 15px 40px 0px 50px;
	text-align: justify;
	list-style-type: decimal;
}

#upload-wording ul li {
	margin-left: 35px;
	list-style: none url('../images/uploader/list-item.png');
	text-align: top;
	line-height: 18px;
}

/*#upload-status {
	color: #84c198;
}*/
.upload-success {
	background-image: url('../images/uploader/success.png');
	background-position: center top;
	background-repeat: no-repeat;
	padding-bottom: 140px;
}
#try-again {
	display: block;
	width: 203px;
	height: 34px;
	margin: 0 auto;
}
#failure {
	background: transparent url('../images/uploader/background-gears.png') no-repeat center 26px;
	padding-bottom: 100px;
}
#formats {
	display: block;
}
