form#upload-form, div#bottombar {
	width: 670px;
	float: left;
}

.xhtml-description-helper {
	margin: 1em;
	font-size: 0.75em;
	width: 580px;
}

.xhtml-description-helper p, .xhtml-description-helper li, .xhtml-description-helper em {
	margin-top: 0.5em;
	font-weight: normal;
}

table.field-list {
	border-spacing: 0px;
	border-collapse: collapse;
	width: 100%;
}

table.field-list .textfield,
table.field-list .textarea,
table.field-list .xhtmltextarea {
	-moz-border-radius: 9px;
	-webkit-border-radius: 9px;
	border: 0;
	font-size: 2em;
	padding: 1px 6px 2px 6px;
	width: 590px; /* 670px - 2 * 6px */
	margin-left: -2px;
}

table.field-list .textarea,
table.field-list .xhtmltextarea {
	font-size: 1.5em;
}

table.field-list label.form-label {
	font-weight: bold;
}

table.field-list tr.title td {
	padding: 10px 0 5px 0;
	color: cdcdcd;
	font-family: helvetica;
}

table.field-list td.error-icon {
	width: 86px;
	text-align: center;
	vertical-align: middle;
}

table.field-list a.field-help {

}

table.field-list span.field-help {
	font-style: italic;
}

table.field-list .field-error {
	color: #eb4c4c;
}

table.field-list .err {
	background: transparent url('../images/uploader/ex.png') no-repeat scroll 620px center
}

table.field-list .noerr {
	background: transparent url('../images/uploader/check.png') no-repeat scroll 620px center
}

div#bottombar {
	margin-top: 27px;
	background: url('../images/uploader/arrow.png') no-repeat 250px 0px;
}


div#browse-button.active,
div#browse-button.enabled,
div#browse-button.browse-button-hover {
	float: left;
	margin-left: -4px;
	width: 203px;
	height: 34px;
}

div#browse-button.active {
	background: url('../images/uploader/choose-file-grey.png') no-repeat bottom;
}

div#browse-button.enabled {
	background: url('../images/uploader/choose-file.png') no-repeat;
}

div#browse-button.browse-button-hover {
	background-position: bottom;
}

div#upload-button.active {
	float: left;
	background: url('../images/uploader/upload-grey.png') no-repeat bottom;
	width: 148px;
	height: 34px;
	margin-left: 150px;
}

div#upload-button.enabled {
	background: url('../images/uploader/upload.png') no-repeat;
	cursor: pointer;
}
div#upload-button.enabled:hover {
	background-position: bottom;
}

div#file-info.active {
	clear: both;
	padding-top: 10px;
}

div#file-info span.filename {
	color: #84c198;
}

div.box-body {
	font-family: helvetica;
	font-weight: light;
}

div#rightbar {
	float: right;
	width: 210px;
	margin-top: 27px;
	color: #B0B0B0;
}

div#rightbar div {
	height: 132px;
}

div#upload-status.active {
	width: 100%;
	height: 150px;
}

div#upload-status.active span.percent {
	margin: 14px 0;
	display: block;
	font-size: 75px;
	height: 75px;
}

div#upload-status.active span.text {
	display: block;
	font-size: 20px;
	height: 75px;
}

.italic, div#rightbar em {
	font-family: georgia;
	font-style: italic;
	font-weight: bold;
	color: #bcdfe3;
}

.greybox {
	font-size: 16px;
	color: #b0b0b0;
	background-color: #4d4d4d;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	padding: 20px 40px;
	margin-bottom: 40px;
}

.greybox p, .greybox ol, .greybox ul {
	margin-bottom: 1.5em;
}

.greybox h4, .greybox li {
	margin-bottom: 0.5em;
}

.greybox ol li {
	margin: 15px 40px 0px 50px;
	text-align: justify;
	list-style-type: decimal;
}

.greybox ul li {
	margin-left: 35px;
	list-style: none url('../images/uploader/list-item.png');
	text-align: top;
	line-height: 18px;
}
div#upload-status {
	color: #84c198;
}

div.success {
	background-image: url('../images/uploader/success.png');
	background-position: center 170px;
	background-repeat: no-repeat;
	padding-bottom: 140px;
}

#try-again {
	display: block;
	width: 203px;
	height: 34px;
	margin: 0 auto;
}

#try-again:focus {
	outline: none;
}

div#failure {
	background: transparent url('../images/uploader/background-gears.png') no-repeat center 26px;
	padding-bottom: 100px;
}

#formats {
	display: block;
	font-size: 0.75em;
}
