<table xmlns="http://www.w3.org/1999/xhtml"
       xmlns:py="http://genshi.edgewall.org/"
       py:def="video_table(include_thead=True)" id="video-table" cellpadding="0" cellspacing="0">
<!--! NOTE: thead/td is used for beige table headings while thead/th is reserved for blue column headings -->
	<thead py:if="include_thead">
		<tr id="table-heading">
			<td colspan="6" class="with-search">
				<a class="mo add-video float-right" href="/admin/video/new"><span>Add new video</span></a>
				<div id="search" class="float-right">
					<form action="/admin/video" method="post">
						<input name="search_string" type="text" value="${search_string or 'SEARCH...'}" onclick="this.value=''" />
					</form>
				</div>
				<h1>All Videos</h1>
			</td>
		</tr>
		<tr>
			<th style="width:100px">Publish Date</th>
			<th style="width:90px">Status</th>
			<th style="width:auto">Title</th>
			<th style="width:200px">Tags</th>
			<th style="width:100px">Date Uploaded</th>
			<th style="width:30px;text-align:center"><img src="/admin/images/icons/comments.png" alt="" /></th>
		</tr>
	</thead>
	<tbody>
		<tr py:if="len(page.items) == 0"><td colspan="6">No Videos Found</td></tr>
		<tr py:for="video in page.items" py:with="tag_count = len(video.tags); date_style=(video.publish_on is None or video.publish_on > datetime_now) and 'italic' or ''">
			<td class="${date_style}" py:content="video.publish_on is None and 'unpublished' or video.publish_on.strftime('%b %d %Y')">Publish Date</td>
			<td py:choose="">
				<a class="mo review-me" py:when="video.status == awaiting_review_status" href="/admin/video/${video.slug}/edit"><span>review me</span></a>
				<a class="mo encode-me" py:when="video.status == awaiting_encoding_status and video.upload_url is not None and (video.publish_on is None or video.url is None)" href="${video.upload_url}"><span>encode me</span></a>
				<a class="mo encode-me" py:when="video.status == awaiting_encoding_status and (video.publish_on is None or video.url is None)" href="/admin/video/${video.slug}/edit"><span>encode me</span></a>
				<a class="mo published" py:otherwise="" href="/video/${video.slug}"><span>published</span></a>
			</td>
			<td><a href="/admin/video/${video.slug}/edit" py:content="video.title">Title</a></td>
			<td py:choose="tag_count">
				<py:when test="0">None</py:when>
				<py:otherwise py:for="i, tag in enumerate(video.tags)">
					<a href="/video/tags/${tag.slug}" rel="tag" py:content="tag.name">Tag</a><py:if test="i+1 != tag_count">,</py:if>
				</py:otherwise>
			</td>
			<td py:content="video.created_on.strftime('%b %d %Y')">Date Uploaded</td>
			<td style="text-align:center" py:content="len(video.comments)">&#35;</td>
		</tr>
	</tbody>
</table>
