<div xmlns="http://www.w3.org/1999/xhtml"
     xmlns:py="http://genshi.edgewall.org/"
     class="box fitted-sbox"
     id="album-art-box">
	<h1 class="box-head">Album Art</h1>
	<form id="${id}" name="${name}" action="${action}" method="${method}" class="${css_class}" py:attrs="attrs">
		<div class="box-content right">
			<span class="f-lft">Please select another image for upload:</span>
			${XML(children['album_art'])}
		</div>
		<div class="box-foot">
			${XML(children['save'])}
		</div>
	</form>
</div>
