<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
<xi:include href="../../admin-master.html" />
<head>
	<title>Mediaplex</title>
	<link href="/admin/styles/videos.css" media="screen" rel="stylesheet" type="text/css" />
</head>
<body>
	<div class="column66">
		<table cellpadding="0" cellspacing="0">
			<thead>
				<tr>
					<td>
						<span class="italic float-right" style="padding: 5px 0">Uploaded: ${video.date_added.strftime('%b %d %Y')}</span>
						<h1>${video.title}</h1>
					</td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						${XML(form(video))}
					</td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td>
						<img src="/admin/images/buttons/save.png" class="float-right" />
						<img src="/admin/images/buttons/delete.png" class="float-left" />
					</td>
				</tr>
			</tfoot>
		</table>
	</div>
	<div class="column33">
		<table cellpadding="0" cellspacing="0">
			<thead>
				<tr>
					<td><h1>Album Art</h1></td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						<div id="album-art"><img src="/images/videos/${video.id}.jpg" width="131" height="79" alt="Album Art" /></div>
						<div style="text-align:center;margin-bottom:10px"><img src="/admin/images/buttons/edit-image.png" /></div>
					</td>
				</tr>
			</tbody>
		</table>
		<br /><br />
		<table cellpadding="0" cellspacing="0">
			<thead>
				<tr><td><h1>Publish Status</h1></td></tr>
			</thead>
			<tbody>
				<tr>
					<td>
						<ol id="status-list">
							<li id="status-review" class="status-pending">pending review</li>
							<li id="status-encode" class="status-future">pending encoding</li>
							<li id="status-published" class="status-future">pending publishing</li>
						</ol>
						<a href="#"><img style="margin:15px auto 10px auto;display:block" src="/admin/images/buttons/ready-to-encode.png" width="144" height="34" alt="" /></a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>
