<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
<xi:include href="admin/master.html" />
<head>
	<title>Videos | Mediaplex Admin</title>
</head>
<body class="menu-videos-on">
	<table cellpadding="0" cellspacing="0">
<!--! NOTE: thead/td is used for beige table headings while thead/th is reserved for blue column headings -->
		<thead>
			<tr id="table-heading">
				<td colspan="6" class="with-search">
					<div id="search" class="float-right">
						<form action="/admin/video" method="post">
							<input name="search_string" type="text" value="${search_string or 'SEARCH...'}" onclick="this.value=''" />
						</form>
					</div>
					<h1>All Videos</h1>
				</td>
			</tr>
			<tr>
				<th style="width:100px">Publish Date</th>
				<th style="width:90px">Status</th>
				<th style="width:auto">Title</th>
				<th style="width:200px">Tags</th>
				<th style="width:100px">Date Uploaded</th>
				<th style="width:30px"><img src="/admin/images/icons/comments.png" alt="" /></th>
			</tr>
		</thead>
		<tbody>
			<tr py:if="len(videos) == 0" colspan="6"><td>No Videos Found</td></tr>
			<tr py:for="video in videos" py:with="tag_count = len(video.tags)">
				<td class="italic" py:content="video.publish_on == None and 'unpublished' or video.publish_on.strftime('%b %d %Y')">Publish Date</td>
				<td>
					<a href="/admin/video/${video.slug}/edit" py:choose="">
						<img py:when="video.status == 'unreviewed'" src="/admin/images/statuses/review.png" />
						<img py:when="video.status == 'publishable' and (video.publish_on == None or video.url == None)" src="/admin/images/statuses/encode.png" />
						<img py:otherwise="" src="/admin/images/statuses/published.png" />
					</a>
				</td>
				<td><a href="/admin/video/${video.slug}/edit" py:content="video.title">Title</a></td>
				<td py:choose="tag_count">
					<py:when test="0">None</py:when>
					<py:otherwise py:for="i, tag in enumerate(video.tags)">
						<a href="/video/tags/${tag.slug}" rel="tag" py:content="tag.name">Tag</a><py:if test="i+1 != tag_count">,</py:if>
					</py:otherwise>
				</td>
				<td py:content="video.created_on.strftime('%b %d %Y')">Date Uploaded</td>
				<td py:content="len(video.comments)">&#35;</td>
			</tr>
		</tbody>
	</table>
</body>
</html>
