<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      py:with="paginator=c.paginators.videos">
<xi:include href="admin/master.html" />
<head>
	<title>Videos</title>
	<link href="/admin/styles/media.css" media="screen" rel="stylesheet" type="text/css" />
	<link href="/admin/styles/videos.css" media="screen" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="/admin/scripts/show-more.js"></script>
	<script type="text/javascript">
		window.addEvent('domready', function(){
			vs = new ShowMore({
				table: 'video-table',
				page: ${paginator.page},
				lastPage: ${paginator.last_page or 1}
			});
		});
	</script>
</head>
<body class="menu-videos-on">
	<div class="box">
		<div class="box-head">
<!--!			<a class="mo add-video f-rgt" href="${h.url_for(controller='videoadmin', action='new')}"><span>Add new video</span></a>-->
			<div id="quicksearch" class="f-rgt">
				${XML(search_form(search=search))}
			</div>
			<h1 py:if="not search">All Videos</h1>
			<h1 py:if="search">Videos that match '${search}'</h1>
		</div>
		<xi:include href="../video/index-table.html" py:with="videos=videos" />
	</div>
</body>
</html>
