<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
<xi:include href="admin/master.html" />
<xi:include href="_video-table.html" />
<head>
	<title>Videos</title>
	<script type="text/javascript" src="/admin/scripts/show-more.js"></script>
	<script type="text/javascript">
		window.addEvent('domready', function(){
			vs = new ShowMore({
				tableId: 'video-table',
				pageNum: ${page.page},
				lastPage: ${page.last_page}
			});
		});
	</script>
</head>
<body class="menu-videos-on">
	${video_table()}
</body>
</html>
