<!--! This file is a part of MediaCore, Copyright 2009 Simple Station Inc.

	MediaCore is free software: you can redistribute it and/or modify
	it under the terms of the GNU General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.

	MediaCore is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU General Public License for more details.

	You should have received a copy of the GNU General Public License
	along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
<xi:include href="master.html" />
<head>
	<title>A ${code} Error has Occurred </title>
	<link href="${h.url_for('/styles/forms.css')}" media="screen" rel="stylesheet" type="text/css" />
	<link href="${h.url_for('/styles/error.css')}" media="screen" rel="stylesheet" type="text/css" />
</head>
<body>
	<div class="column">
		<img src="${h.url_for('/images/layout/404.png')}" alt="This page has gone missing!" />
		<h1>Whoopsadaisy!</h1>
		<py:choose test="code">
			<py:when test="404">
		<p>We can't find this page. The page may have been moved or removed.</p>
		<p>If you typed the address in, check the spelling.</p>
			</py:when>
			<py:otherwise py:replace="XML(message)" />
		</py:choose>

		<h2>You have a few options:</h2>
		<ol>
			<li>Return to the <a href="/">homepage</a>.</li>
			<li>Return to the <a href="${h.url_for(controller='/media', action='index')}">media page</a>.</li>
			<li>Fill out an error report below.</li>
		</ol>

		<form action="${h.url_for(controller='error', action='report')}" method="post">
			<div>
				<label for="email">Email: (so we can contact you if we find it!)</label>
				<input type="text" class="text" name="email" id="email" />
			</div>
			<div>
				<label for="email">What were you looking for when you got the error?</label>
				<textarea class="textarea" name="description" id="description" rows="8" cols="79" />
			</div>
			<div>
				<input class="btn btn-report-error f-rgt" type="submit" value="Submit Error Report" />
			</div>
			<input py:for="x in vars" id="${x}" name="${x}" value="${vars[x]}" type="hidden" />
		</form>

	</div>
</body>
</html>