<!--! This file is a part of MediaCore, Copyright 2009 Simple Station Inc.

	MediaCore is free software: you can redistribute it and/or modify
	it under the terms of the GNU General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.

	MediaCore is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU General Public License for more details.

	You should have received a copy of the GNU General Public License
	along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:i18n="http://genshi.edgewall.org/i18n"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      py:strip="">

	<py:def function="media_player(media, width=400, height=225, autoplay=False, autobuffer=False, qualified=False, embed_only=False, player_type=None)" py:choose=""
	        py:with="player = h.pick_media_file_player(media, browser=embed_only and 'unknown' or None, player_type=player_type, width=width, height=height, autoplay=autoplay, autobuffer=autobuffer, qualified=qualified)">

		<p py:when="player is None" i18n:msg="link">
			MediaCore could not find an appropriate encoding of this media item to display in your browser.
			Contact the site admin if you need assistance. We recommend useing HTML5 compatible browser
			such as <a href="http://www.google.com/chrome/">Google Chrome</a>.
		</p>

		<py:when test="player.is_embed or embed_only">
			<?python
			swf_url = player.swf_url()
			vars = h.urlencode(player.flashvars())
			?>
			<object id="${player.elem_id}" type="application/x-shockwave-flash" data="${swf_url}"
			        width="${player.adjusted_width}" height="${player.adjusted_height}">
				<param name="movie" value="${swf_url}" />
				<param name="allowfullscreen" value="true" />
				<param name="allowscriptaccess" value="always" />
				<param name="flashvars" py:if="vars" value="${vars}" />
				<!--! XHTML uncompliant hack to display youtube videos on iphones, etc. -->
				<embed py:if="player.browser.name == 'iphone-ipod-ipad' or embed_only"
				       type="application/x-shockwave-flash" src="${swf_url}"
				       allowfullscreen="true" allowScriptAccess="always"
				       flashvars="${vars or None}"
				       width="${player.adjusted_width}" height="${player.adjusted_height}" />
			</object>
		</py:when>

		<py:when test="player.is_flash">
			<a i18n:msg="media_type"
			   id="${player.elem_id}"
			   href="${player.file.play_url(qualified=qualified)}"
			   style="display:block;width:${player.adjusted_width}px;height:${player.adjusted_height}px">
				Download this ${media.type}!
			</a>
			<script type="text/javascript">
				//<![CDATA[
				${flash_player_script(player)}
				//]]>
			</script>
		</py:when>

		<py:when test="player.is_html5" py:choose="player.file.type">
			<audio id="${player.elem_id}" py:when="'audio'" py:attrs="player.html5_attrs()">
				If your browser supported HTML5, you'd be seeing an audio player here instead of this text!
			</audio>
			<video id="${player.elem_id}" py:when="'video'" py:attrs="player.html5_attrs()"
			       height="${player.adjusted_height}" width="${player.adjusted_width}">
				If your browser supported HTML5, you'd be seeing a video player here instead of this text!
			</video>
			<script py:if="player.fallback" type="text/javascript">
				//<![CDATA[
				$('${player.elem_id}').addEvent('error', function(){
					if (this.error.code == this.error.MEDIA_ERR_SRC_NOT_SUPPORTED) {
						${flash_player_script(player.fallback)}
					}
				});
				//]]>
			</script>
			${Markup(player.include())}
		</py:when>
	</py:def>

	<py:def function="flash_player_script(player)">
		var flashObj = new Swiff('${player.swf_url()}', {
			width: ${player.adjusted_width},
			height: ${player.adjusted_height},
			params: {allowFullscreen: 'true'},
			vars: ${h.json.dumps(player.flashvars())}
		});
		var div = new Element('div').replaces('${player.elem_id}').set('id', '${player.elem_id}').grab(flashObj);
	</py:def>

	<py:def function="media_grid(media, id=None, thumb_size='s', desc_len=90)"
	        py:with="thumb_xy = config['thumb_sizes']['media'][thumb_size]">
		<ul id="${id}" class="grid ${thumb_size}-grid">
			<li py:for="m in media" py:with="title = h.strip_xhtml(m.title, True)">
				<a href="${h.url_for(controller='/media', action='view', slug=m.slug)}" title="${title}">
					<strong class="grid-title">${h.truncate(title, 50)}</strong>
					<span class="thumb-wrap">
						<img src="${h.thumb_url(m, thumb_size)}" width="${thumb_xy[0]}" height="${thumb_xy[1]}" alt="" />
						<py:if test="m.duration">
							<span class="thumb-duration" py:content="h.duration_from_seconds(m.duration)">Duration</span>
							<span class="thumb-duration-right" />
						</py:if>
					</span><br />
					<span class="grid-desc" py:content="h.truncate(m.description_plain, desc_len)">Description</span><br />
					<span class="grid-meta">
						<span class="meta meta-comments" title="Comments">
							${m.comment_count_published}
							<i18n:choose numeral="m.comment_count_published">
								<span i18n:singular="">Comment</span>
								<span i18n:plural="">Comments</span>
							</i18n:choose>
						</span>
						<span class="meta meta-likes" title="Likes">
							${m.likes}
							<i18n:choose numeral="m.likes">
								<span i18n:singular="">Like</span>
								<span i18n:plural="">Likes</span>
							</i18n:choose>
						</span>
						<span class="meta meta-views" title="Views">
							${m.views}
							<i18n:choose numeral="m.views">
								<span i18n:singular="">View</span>
								<span i18n:plural="">Views</span>
							</i18n:choose>
						</span>
					</span>
				</a>
			</li>
		</ul>
	</py:def>

	<py:def function="pager(paginator, radius=2, show_if_single_page=False)" py:with="
		leftmost_page = max(paginator.first_page, paginator.page - radius);
		rightmost_page = min(paginator.last_page, paginator.page + radius);
	">
		<!--! This duplicates the behaviour of paginator.pager() since it has yet to be updated for Pylons .10.
		      We should be able to revert to it later, as it will likely perform better. -->
		<div class="pager" py:if="paginator.page_count > (not show_if_single_page and 1 or 0)">
			<a py:def="pagelink(page, text=None, strong=False)"
			   href="${h.url_for(page=page, show=value_of('show'), q=value_of('search_query'))}"
			   class="pager-link underline-hover"><strong py:strip="not strong">${text or page}</strong></a>
			<span class="pager-label">Page:</span>
			<a py:if="paginator.page &gt; paginator.first_page" py:replace="pagelink(paginator.page - 1, 'Previous', True)" />
			<py:if test="leftmost_page > paginator.first_page">
				<a py:replace="pagelink(paginator.first_page)" />
				<span py:if="leftmost_page - paginator.first_page > 1" class="pager-dotdot">..</span>
			</py:if>
			<py:for each="page in xrange(leftmost_page, rightmost_page + 1)" py:choose="">
				<span py:when="paginator.page == page" class="pager-current">${page}</span>
				<a py:otherwise="" py:replace="pagelink(page)" />
			</py:for>
			<py:if test="paginator.last_page > rightmost_page">
				<span py:if="paginator.last_page - rightmost_page > 1" class="pager-dotdot">..</span>
				<a py:replace="pagelink(paginator.last_page)" />
			</py:if>
			<a py:if="paginator.page &lt; paginator.last_page" py:replace="pagelink(paginator.page + 1, 'Next', True)" />
		</div>
	</py:def>

	<py:def function="library_controls(show='latest', paginator=None, search_query=None, **kwargs)">
		<div id="library-controls" class="clearfix">
			<span id="library-show">Show:</span>
			<ul>
				<li><a py:strip="show == 'latest'" href="${h.url_for(show='latest', q=search_query, **kwargs)}" class="underline-hover">Latest</a></li>
				<li><a py:strip="show == 'popular'" href="${h.url_for(show='popular', q=search_query, **kwargs)}" class="underline-hover">Most Popular</a></li>
				<li><a py:strip="show == 'featured'" href="${h.url_for(show='featured', q=search_query, **kwargs)}" class="underline-hover">Featured</a></li>
			</ul>
			<div py:replace="pager(paginator)" />
		</div>
	</py:def>

	<py:def function="xhtml_description(fieldName)">
		<div class="xhtml-description-helper">
			<p i18n:msg="fieldName, formattingList">The ${fieldName} field accepts some HTML formatting: ${h.list_acceptable_xhtml()['tags']}</p>
			<!--!
			<ul class="xhtml_description">
				<li><em>Tags:</em> ${h.list_acceptable_xhtml()['tags']}.</li>
				<li><em>Attributes:</em> ${h.list_acceptable_xhtml()['attrs']}</li>
				<li><em>Some tag conversions</em> will be made automatically: ${h.list_acceptable_xhtml()['map']}</li>
			</ul>
			-->
		</div>
	</py:def>

</html>
