<!--! This file is a part of MediaCore, Copyright 2009 Simple Station Inc.

	MediaCore is free software: you can redistribute it and/or modify
	it under the terms of the GNU General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.

	MediaCore is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU General Public License for more details.

	You should have received a copy of the GNU General Public License
	along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      py:strip="">

	<py:match path="box" recursive="false">
		<div class="box" py:attrs="select('@*')">
			<div class="box-top"></div>
			<div py:replace="select('nav')" />
			<div class="box-body" py:content="select('*[not(nav)]|text()')">Content is inserted here</div>
			<div class="box-bottom"></div>
		</div>
	</py:match>

	<py:match path="innerbox" recursive="false">
		<div class="innerbox" py:attrs="select('@*')">
			<div class="innerbox-top" py:content="select('innerboxtitle/text()')"></div>
			<div class="innerbox-body" py:content="select('*[not(innerboxtitle)]|text()')">Content is inserted here</div>
			<div class="innerbox-bottom"></div>
		</div>
	</py:match>

	<py:def function="pagination(paginator)">
		<div class="pager">
			<span class="pager-left" />
			<span class="pager-body">
				<span class="pager-label">Page:</span>
				<span py:replace="paginator.pager(show_if_single_page=True, curpage_attr={'class': 'current'})" />
			</span>
			<span class="pager-right" />
		</div>
	</py:def>

	<py:def function="media_player(media, width=479, height=383)" py:choose=""
	        py:with="file = media.primary_file">
		<py:when test="file is None" />
		<py:when test="file.is_embeddable">
			<object type="application/x-shockwave-flash"
			        data="${file.play_url}"
			        width="${width}" height="${height}">
				<param name="allowfullscreen" value="true" />
				<param name="allowscriptaccess" value="always" />
				<param name="movie" value="${file.play_url}" />
			</object>
		</py:when>
		<py:otherwise>
			<script src="${h.url_for('/scripts/third-party/flowplayer-3.1.4.min.js')}" type="text/javascript" />
			<a id="flowplayer"
			   href="${file.play_url}"
			   style="display:block;width:${width}px;height:${height}px" />
			<script type="text/javascript" py:with="podcast_image=h.podcast_image_url(media.podcast, 'l')">
				flowplayer('flowplayer', "${h.url_for('/scripts/third-party/flowplayer-3.1.5.swf')}", {
					clip: {scaling: 'fit'}
					<py:if test="podcast_image">, playlist: ['${podcast_image}', '${file.play_url}']</py:if>
				});
			</script>
		</py:otherwise>
	</py:def>

	<py:def function="xhtml_description(fieldName)">
		<div class="xhtml-description-helper">
			<p>The ${fieldName} field accepts some HTML formatting: ${h.list_acceptable_xhtml()['tags']}</p>
			<!--!
			<ul class="xhtml_description">
				<li><em>Tags:</em> ${h.list_acceptable_xhtml()['tags']}.</li>
				<li><em>Attributes:</em> ${h.list_acceptable_xhtml()['attrs']}</li>
				<li><em>Some tag conversions</em> will be made automatically: ${h.list_acceptable_xhtml()['map']}</li>
			</ul>
			-->
		</div>
	</py:def>

	<py:def function="podcastgrid(episodes)">
		<ul id="podcastgrid" class="grid2">
			<li py:for="media in episodes">
				<a href="${h.url_for(controller='/media', action='view', slug=media.slug, podcast_slug=media.podcast.slug)}" class="grid2-link">
					<span class="grid2-thumb-wrap">
						<img src="${h.url_for('/images/media/%sss.jpg' % media.id)}" width="128" height="72" alt="${h.decode_entities(media.title)}" class="grid-thumb" />
						<py:if test="media.duration">
							<span class="grid-duration" py:content="h.duration_from_seconds(media.duration)">Duration</span>
							<span class="grid-duration-right" />
						</py:if>
					</span>
					<span class="grid-title">${Markup(media.title)}</span>
				</a>
				<div class="grid-desc" py:content="Markup(h.truncate_xhtml(media.description, 110, True))">Description here</div>
				<div class="grid-meta">
					<span class="grid-comments">${media.comment_count_published}<span> Comment<py:if test="media.comment_count_published != 1">s</py:if></span></span>
					<span class="grid-likes">${media.rating.sum} <span>Like<py:if test="media.rating.sum != 1">s</py:if></span></span>
					<span class="grid-views">${media.views} <span>View<py:if test="media.views != 1">s</py:if></span></span>
				</div>
			</li>
		</ul>
	</py:def>

	<py:def function="mediagrid(media_list, url_args=None)">
		<ul id="mediagrid" class="grid" py:with="url_args = url_args or {'controller': '/media', 'action': 'view'}">
			<li py:for="media in media_list">
				<a href="${h.url_for(slug=media.slug, **url_args)}" title="${h.truncate_xhtml(media.description, 100, True, True)}">
					<span class="grid-thumb-wrap">
						<img src="${h.url_for('/images/media/%ss.jpg' % media.id)}" width="162" height="91" alt="${h.decode_entities(media.title)}" class="grid-thumb" />
						<py:if test="media.duration">
							<span class="grid-duration" py:content="h.duration_from_seconds(media.duration)">Duration</span>
							<span class="grid-duration-right" />
						</py:if>
					</span>
					<span class="grid-title">${Markup(media.title)}</span>
					<span class="grid-meta">
						<span class="grid-likes">${media.rating.sum} <span>Like<py:if test="media.rating.sum != 1">s</py:if></span></span>
						<span class="grid-comments">${media.comment_count_published}<span> Comment<py:if test="media.comment_count_published != 1">s</py:if></span></span>
						<span class="grid-views">${media.views} <span>View<py:if test="media.views != 1">s</py:if></span></span>
					</span>
				</a>
			</li>
		</ul>
	</py:def>

	<py:def function="comma_sep_links(labels, hrefs, default='None yet')"
	        py:with="links = zip(labels, hrefs); count = len(links);">
		<py:if test="count == 0">${default}</py:if>
		<py:for each="i, link in enumerate(links)">
			<a href="${link[1]}">${link[0]}</a><py:if test="i &lt; count - 1">, </py:if>
		</py:for>
	</py:def>

</html>
