<!--! This file is a part of MediaCore, Copyright 2009 Simple Station Inc.

	MediaCore is free software: you can redistribute it and/or modify
	it under the terms of the GNU General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.

	MediaCore is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU General Public License for more details.

	You should have received a copy of the GNU General Public License
	along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      py:strip="">

<head py:match="head">
	<title py:match="title" py:with="title = unicode(select('text()'))">
		<py:if test="title">${Markup(title)} |</py:if>
		MediaCore
	</title>
	<meta py:replace="select('*')"/>
</head>

<body py:match="body" py:attrs="select('@*')">
	<h1 id="mediacore-logo"><a href="${h.url_for('/')}">MediaCore</a></h1>

	<div py:replace="select('*|text()|comment()')">Content is injected here</div>

	<div id="mediacore-footer" class="mediacore-content clear">
		<div py:if="c.paginators" py:replace="pager(c.paginators.values()[0])" />

		<!--! If you remove this link, please consider adding another link somewhere on your site. -->
		<p>powered by <a href="http://getmediacore.com/">MediaCore Video CMS</a></p>
	</div>

	<!--[if IE 6]>
		<script type="text/javascript">
			// Load jQuery if not already loaded
			if (typeof jQuery == 'undefined') {
				document.write('<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></'+'script>');
				var __noconflict = true;
			}
			var IE6UPDATE_OPTIONS = {icons_path: 'http://static.ie6update.com/hosted/ie6update/images/'}
		</script>
		<script type="text/javascript" src="http://static.ie6update.com/hosted/ie6update/ie6update.js"></script>
	<![endif]-->
</body>

</html>
