<!--! This file is a part of MediaCore, Copyright 2009 Simple Station Inc.

	MediaCore is free software: you can redistribute it and/or modify
	it under the terms of the GNU General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.

	MediaCore is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU General Public License for more details.

	You should have received a copy of the GNU General Public License
	along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      py:strip="">

	<py:match path="nav" recursive="false">
		<div id="nav-box">
			<ul py:if="not c.nav_hide_main" id="nav">
				<li id="nav-explore"><a href="${h.url_for(controller='/media', action='explore')}"><span>Explore</span></a></li>
				<li id="nav-media"><a href="${h.url_for(controller='/media')}"><span>Media Library</span></a></li>
				<li id="nav-podcasts"><a href="${h.url_for(controller='/podcasts')}"><span>Podcasts</span></a></li>
				<li id="nav-categories"><a href="${h.url_for(controller='/categories')}"><span>Categories</span></a></li>
				<li id="nav-upload" class="f-rgt"><a href="${h.url_for(controller='/upload')}"><span>Upload</span></a></li>
			</ul>
			<form id="nav-search" method="get" action="${h.url_for(controller='/media', action='index')}">
				<div><input type="text" id="nav-search-input" name="q" value="${h.request.params.get('q')}" alt="Search" /><input type="submit" class="nav-search-btn clickable" value="Search" /></div>
			</form>
		</div>
	</py:match>

</html>
