<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      py:strip="">
	<table py:def="comment_table(collection, edit_forms, include_thead=True, id='comment-table', classes=None)"
	    cellpadding="0" cellspacing="0" id="${id}" class="${classes}"
	    py:with="item_count = len(collection);
	             include_thead = include_thead and (item_count > 0);">
		<thead py:if="include_thead">
			<tr>
				<th style="width:58px">Status</th>
				<th style="width:100px">Author</th>
				<th style="width:auto">Comment</th>
				<th style="width:200px">In Response to</th>
			</tr>
		</thead>
		<tbody>
			<tr py:if="item_count == 0"><td colspan="4">No Comments Found</td></tr>
			<tr py:for="comment, edit_form in zip(collection, edit_forms)" class="${('pending_review' in comment.status) and 'tr-white' or 'tr-gray'}">
				<td py:choose="">
					<a class="mo review-comment" py:when="'pending_review' in comment.status" href="/admin/comments/${comment.id}/approve"><span>approve</span></a>
					<span class="published-comment" py:otherwise="" href="">published</span>
					<a class="mo trash-comment" href="/admin/comments/${comment.id}/trash"><span>trash</span></a>
				</td>
				<td class="author">
					<strong py:content="comment.author.name">Author</strong><br />
					<a href="mailto:${comment.author.email}" py:content="comment.author.email">Email</a><br />
					<span class="comment-ip" py:content="comment.author.ip">Author IP</span>
				</td>
				<td>
					<span class="comment-submitted">Submitted on ${comment.created_on.strftime('%b %d %Y')} | </span><a class="edit-text" href="">Edit Text</a><br />
					${XML(edit_form(dict(cbody=comment.body)))}
				</td>
				<td>
					<a py:content="comment.parent.title" href="${h.url_for(controller='/%s' % comment.parent.type.encode('utf-8'), action='view', slug=comment.parent.slug).encode('utf-8')}">Parent Item</a>
				</td>
			</tr>
		</tbody>
	</table>
</html>
