<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
<xi:include href="admin/master.html" />
	
<head>
	<title>Comments</title>
	<link href="/admin/styles/comments.css" media="screen" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="/admin/scripts/show-more.js"></script>
	<script type="text/javascript">
		window.addEvent('domready', function(){
			vs = new ShowMore({
				table: 'comment-table',
				fetchPageUrl: '/admin/comments/ajax',
				searchString: ${search_string and ("'%s'" % search_string) or 'null'},
				pageNum: ${page.page},
				lastPage: ${page.last_page}
			});
		});
	</script>
</head>
<body class="menu-comments-on">
	<div class="box">
		<div class="box-head">
			<div id="quicksearch" class="f-rgt">
				${XML(search_form(search_form_values))}
			</div>
			<h1 py:if="not search_string">All Comments</h1>
			<h1 py:if="search_string">Comments that match '${search_string}'</h1>
		</div>
		<xi:include href="_comment-table.html" />
		${comment_table()}
	</div>
</body>
</html>
