ul#settings-menu li {
	padding: 5px 0;
}
ul#settings-menu a {
	padding-left: 20px;
	font-size: 16px;
}
.menu-settings-user-on  a#menu-settings-users,
.menu-settings-topic-on  a#menu-settings-topics,
.menu-settings-tag-on  a#menu-settings-tags {
	background: url('../images/icons/arrow-green-right.png') no-repeat left;
	color: #196d29;
}

.add-user, .add-user:hover,
.add-topic, .add-topic:hover,
.add-tag, .add-tag:hover {
	height: 28px;
}
.add-user { background-image: url('../images/buttons/add-user.png'); width: 99px; }
.add-topic { background-image: url('../images/buttons/add-topic.png'); width: 103px; }
.add-tag { background-image: url('../images/buttons/add-tag.png'); width: 91px; }

table#category-table > tbody > tr > td:first-child {
/* padding will be taken care of by inner table */
	padding-left: 0px;
	padding-right: 0px;
}
.edit-category-form table {
/* border spacing what? */
  border-spacing: 0;
}
.edit-category-form td {
/* border top is taken care of by outer table */
	border-top: none;
}

.edit-category, .delete-category, .save-category, .cancel-category {
	height: 19px;
	border: none;
	text-indent: -1000px;
	overflow: hidden;
	float: left;
}
td.form-field-textfield {
	padding: 0 10px;
}

.edit-category {
	background-image: url('../images/buttons/edit-half.png');
	width: 37px;
}
.delete-category {
	background-image: url('../images/buttons/delete-half.png');
	width: 26px;
}
.save-category {
	background-image: url('../images/buttons/table-button-save.png');
	width: 42px;
}
.cancel-category {
	background-image: url('../images/buttons/table-button-cancel.png');
	width: 63px;
}

.textfield {
	width: 183px;
}
