<!--! This file is a part of MediaCore, Copyright 2009 Simple Station Inc.

	MediaCore is free software: you can redistribute it and/or modify
	it under the terms of the GNU General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.

	MediaCore is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU General Public License for more details.

	You should have received a copy of the GNU General Public License
	along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:i18n="http://genshi.edgewall.org/i18n"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      py:strip="">

	<py:match path="head" once="true">
		<head>
			<meta py:replace="select('*')" />
			<link href="${h.url_for('/styles/comments.css')}" media="screen" rel="stylesheet" type="text/css" />
		</head>
	</py:match>

	<py:def function="comment_list(comments, form=None, action=None, values=None)">
		<div class="comments">
			<h2 class="comments-head">Comments</h2>
			<py:choose test="len(comments)">
				<div py:when="0" class="no-comments">
					<div class="comment-top-divot" />
					<div class="comment-content">No comments have been posted yet.</div>
					<div class="comment-bottom" />
				</div>
				<ul py:otherwise="" class="comments-list">
					<li py:for="comment in comments" class="comment">
						<div class="comment-top-divot"></div>
						<div class="comment-content clearfix">
							<span class="avatar"><img src="${h.gravatar_from_email(comment.author.email, 70)}" width="70" height="70" alt="" /></span>
							<cite>
								<a href="#comment-${comment.id}" name="comment-${comment.id}" class="underline-hover" title="Permalink"
								   py:with="datetime = comment.created_on.strftime('%B %d, %Y at %H:%M').replace(h.datetime.now().strftime(', %Y'), '')">
									<strong>${comment.author.name}</strong><br />
									<span class="comment-date" i18n:msg="datetime">said on ${datetime}&#8230;</span>
								</a>
							</cite>
							<blockquote py:content="Markup(comment.body)" />
						</div>
						<div class="comment-bottom" />
					</li>
				</ul>
			</py:choose>
			<div id="comment-flash" class="no-comments" style="display:none">
				<div class="comment-top" />
				<div class="comment-content" />
				<div class="comment-bottom" />
			</div>
			<py:if test="form">
				<br />
				<h3>Write a comment</h3>
				${XML(form(values, action=action))}
			</py:if>
		</div>
	</py:def>

</html>
