<!--! This file is a part of MediaCore, Copyright 2009 Simple Station Inc.

	MediaCore is free software: you can redistribute it and/or modify
	it under the terms of the GNU General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.

	MediaCore is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU General Public License for more details.

	You should have received a copy of the GNU General Public License
	along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      py:strip="">

	<py:match path="head" once="true">
		<head>
			<meta py:replace="select('*')" />

			<link href="${h.url_for('/styles/forms.css')}" media="screen" rel="stylesheet" type="text/css" />
			<link href="${h.url_for('/styles/comments.css')}" media="screen" rel="stylesheet" type="text/css" />
			<script type="text/javascript" src="${h.url_for('/scripts/overtext.js')}"></script>
			<script type="text/javascript">
				window.addEvent('domready', function(){
					var overTextMGR = new OverTextManager('${comment_form.id}');
				});
			</script>
			<py:if test="h.request.params.get('commented')">
				<link href="${h.url_for('/styles/squeezebox.css')}" media="screen" rel="stylesheet" type="text/css" />
				<script type="text/javascript" src="${h.url_for('/scripts/third-party/squeezebox-1.1-rc4-yui-compressed.js')}"></script>
				<script type="text/javascript" src="${h.url_for('/scripts/notify.js')}"></script>
				<script type="text/javascript" py:with="is_spam = h.request.params.get('spam')">
					window.addEvent('domready', function(){
						var notify = new NotificationManager({
							divClass: 'greybox',
							okButtonClass: 'btn btn-ok f-rgt',
							footerClass: 'btn-foot',
							headerClass: 'italic-header',
							header: '${"Comment Rejected" if is_spam else "Thanks for your comment!"}',
							msg: '${"Your comment appears to be spam and has been rejected." if is_spam else "We will post it just as soon as a moderator approves it."}'
						}).openNotify();
					});
				</script>
			</py:if>
		</head>
	</py:match>

	<py:def function="comment_list(comments, form=None, action=None, values=None)">
		<div class="comments">
<!--!			<h2 class="uppercase" style="margin-top:15px;margin-bottom:-2px">Comments</h2>-->
			<py:choose test="len(comments)">
				<div py:when="0" class="no-comments">
					<div class="comment-top" />
					<div class="comment-content">No comments have been posted yet.</div>
					<div class="comment-bottom" />
				</div>
				<ul py:otherwise="" class="comments-list">
					<li py:for="comment in comments" class="comment">
						<div class="comment-top-divot"></div>
						<div class="comment-content clearfix">
							<span class="avatar"><img src="http://www.gravatar.com/avatar/3b3be63a4c2a439b013787725dfce802?s=70" width="70" height="70" alt="" /></span>
							<cite>
								<a href="#comment-${comment.id}" name="comment-${comment.id}" class="underline-hover" title="Permalink"
								   py:with="datetime = comment.created_on.strftime('%B %d, %Y at %H:%M').replace(h.datetime.now().strftime(', %Y'), '')">
									<strong>${comment.author.name}</strong><br />
									<span class="comment-date">said on ${datetime}&#8230;</span>
								</a>
							</cite>
							<blockquote py:content="Markup(comment.body)" />
						</div>
						<div class="comment-bottom" />
					</li>
				</ul>
			</py:choose>
			<py:if test="form">
				<br />
				<h3>Write a comment</h3>
				${XML(form(values, action=action))}
			</py:if>
		</div>
	</py:def>

</html>
