<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      py:strip="">

	<!--! Call this method to set options for the nav bar -->
	<py:def
		function="set_nav_opts(*args, **kwargs)"
		py:with="a = setattr(c, 'nav_opts', dict(
			show_left = 'hide_left' not in args,
			show_topics = 'hide_topics' not in args,
			show_topic_list = 'unhide_topic_list' in args,
			show_upload = 'hide_upload' not in args,
			show_podcast_help = 'hide_podcast_help' not in args and 'podcast_help' in args,
			podcasts = kwargs.get('podcasts', []),
			));"
	/>

	<py:match path="head" once="true">
		<py:if test="not c.nav_opts" py:replace="set_nav_opts()" />
		<head>
			<meta py:replace="select('*')" />
			<link href="${h.url_for('/styles/mediaflow.css')}" media="screen" rel="stylesheet" type="text/css" />
			<link href="${h.url_for('/styles/ratings.css')}" media="screen" rel="stylesheet" type="text/css" />
			<link href="${h.url_for('/styles/media.css')}" media="screen" rel="stylesheet" type="text/css" />
			<script type="text/javascript" src="${h.url_for('/scripts/topics.js')}" />
			<script type="text/javascript">
				window.addEvent('domready', function() {
					var flyoutOpenFx = [
						{duration:  30, transition: 'linear'},
						{duration:  20, transition: 'linear'},
						{duration: 450, transition: 'cubic:out'}
					];
					var flyoutCloseFx = [
						{duration:  30, transition: 'linear'},
						{duration:  20, transition: 'linear'},
						{duration: 450, transition: 'cubic:in'}
					];
					var topicIndexFlyout = new ButtonFlyout({
						button: 'nav-topics',
						buttonActiveClass: 'topics-shown',
						elements: $('simpleplex-topics').getChildren(),
						startHidden: ${c.nav_opts['show_topic_list'] and 'false' or 'true'},
						openFx: flyoutOpenFx,
						closeFx: flyoutCloseFx
					});
					<py:if test="c.nav_opts['show_podcast_help']">
						var podcastHelpFlyout = new ButtonFlyout({
							button: 'nav-podcast-help',
							buttonActiveClass: 'podcast-help-shown',
							elements: $('podcast-help-box').getChildren(),
							openFx: flyoutOpenFx,
							closeFx: flyoutCloseFx
						});
						var hider = function(how) { if (how == 'in') if (this.open) this.hide(); };
						topicIndexFlyout.addEvent('start', hider.bind(podcastHelpFlyout));
						podcastHelpFlyout.addEvent('start', hider.bind(topicIndexFlyout));
					</py:if>
				});
			</script>
		</head>
	</py:match>

	<py:match path="box" recursive="false">
		<div class="box" py:attrs="select('@*')">
			<div class="box-top"></div>
			<div py:replace="select('nav')" />
			<div class="box-body" py:content="select('*[not(nav)]|text()')">Content is inserted here</div>
			<div class="box-bottom"></div>
		</div>
	</py:match>

	<py:match path="nav" recursive="false">
		<py:if test="not c.nav_opts" py:replace="set_nav_opts()" />
		<div class="box-nav">
			<ul py:if="c.nav_opts['show_left']" id="nav" class="box-nav-left">
				<li id="nav-latest"><a href="${h.url_for(controller='/media', action='flow')}">Latest</a></li>
				<li id="nav-videos"><a href="${h.url_for(controller='/media', action='index')}">Video</a></li>
				<li id="nav-podcasts"><a href="${h.url_for(controller='/podcasts')}">Podcasts</a></li>
			</ul>
			<a py:if="c.nav_opts['show_topics']" id="nav-topics" class="box-nav-right topics-shown" href="${h.url_for(controller='/media', action='topics', slug=None)}">Topic Index</a>
			<a py:if="c.nav_opts['show_upload']" id="nav-upload-video" class="box-nav-right" href="${h.url_for(controller='/media', action='upload')}">Upload a Video</a>
			<a py:if="c.nav_opts['show_podcast_help']" id="nav-podcast-help" class="box-nav-right podcast-help-shown" href="#">What are podcasts?</a>
			<div py:if="c.nav_opts['show_podcast_help']" id="podcast-help-box" class="nav-box">
				<div id="podcast-help-top" />
				<div class="nav-box-top" />
				<div>
					<div class="nav-box-body">
						<div class="fL">
							<p>New to podcasts? A podcast is a periodical publication of audio or video files on the internet. The term "podcast" is a combination of the words "iPod" and "broadcast", but you don't need an iPod to listen to a podcast&mdash;any computer or portable media player will do.</p>
							<p>A podcast client (like iTunes) is a computer program that reads a podcast and downloads new episodes to your computer automatically.</p>
							<p>For a brief video description of podcasts, check out <a href="http://www.youtube.com/watch?v=y-MSL42NV3c">this youtube video</a>!</p>
						</div>
						<div class="fR">
							<p>To get started, all you need is a podcast client like iTunes or Juice:</p>
							<ul>
								<li><a href="http://apple.com/itunes/download/">Download iTunes</a></li>
								<li><a href="http://juicereceiver.sourceforge.net/">Download Juice</a></li>
							</ul>
							<p>Then you can add our podcasts to your podcast client:</p>
							<ul py:if="c.nav_opts['podcasts']">
								<li py:for="podcast in c.nav_opts['podcasts']">
									<span class="fL">Subscribe to <a href="${h.url_for(action='view', slug=podcast.slug)}">${Markup(podcast.title)}</a></span>
									<span class="fR">via
										<py:if test="podcast.itunes_url"><a href="${podcast.itunes_url}">iTunes</a> |</py:if>
										<a href="${h.url_for(action='feed', slug=podcast.slug)}">RSS</a>
									</span>
								</li>
							</ul>
						</div>
					</div>
					<div class="nav-box-bottom" />
				</div>
			</div>
			<div py:if="c.nav_opts['show_topics']" id="simpleplex-topics" class="nav-box">
				<div id="topic-box-top" />
				<div class="nav-box-topright" />
				<div><!--! this extra div is here to group elements for the ButtonFlyout js -->
					<div class="nav-box-body" py:with="per_col = max(5, int(h.math.ceil((len(c.topics) + 6) / 4.0)))">
						<ul py:if="c.topics" py:for="col in xrange(1, h.math.ceil(len(c.topics) / float(per_col)) + 1)">
							<li py:for="topic in c.topics[(col-1)*per_col:col*per_col]">
								<a href="${h.url_for(controller='/media', action='topics', slug=topic.slug)}">${topic}</a> <span>(${topic.published_media_count})</span>
							</li>
						</ul>
						<div id="topics-caption" py:if="config.support_addresses">
							<div id="topics-dontsee">Don't see the topic you are looking for?</div>
							<a id="topics-suggest" href="mailto:${config.support_addresses[0]}?subject=Suggest%20a%20topic!">Suggest a new topic</a>
							<a href="${h.url_for(controller='/media', action='tags', slug=None)}">or check out the tags list</a>
						</div>
					</div>
					<div class="nav-box-bottom" />
				</div>
			</div>
			<div py:replace="select('*|text()')" />
		</div>
	</py:match>

	<py:match path="innerbox" recursive="false">
		<div class="innerbox" py:attrs="select('@*')">
			<div class="innerbox-top" py:content="select('innerboxtitle/text()')"></div>
			<div class="innerbox-body" py:content="select('*[not(innerboxtitle)]|text()')">Content is inserted here</div>
			<div class="innerbox-bottom"></div>
		</div>
	</py:match>

	<py:def function="pagination(paginator)">
		<div class="pager">
			<span class="pager-left" />
			<span class="pager-body">
				<span class="pager-label">Page:</span>
				<span py:replace="paginator.pager(show_if_single_page=True, curpage_attr={'class': 'current'})" />
			</span>
			<span class="pager-right" />
		</div>
	</py:def>

	<py:def function="media_player(media)" py:choose=""
	        py:with="file = media.primary_file">
		<py:when test="file is None" />
		<py:when test="file.is_embeddable">
			<object type="application/x-shockwave-flash"
			        data="${file.play_url}"
			        width="479" height="383">
				<param name="allowfullscreen" value="true" />
				<param name="allowscriptaccess" value="always" />
				<param name="movie" value="${file.play_url}" />
			</object>
		</py:when>
		<py:otherwise>
			<script src="${h.url_for('/scripts/third-party/flowplayer-3.1.0.min.js')}" type="text/javascript" />
			<a href="${file.play_url}"
			   id="flowplayer" style="display:block;width:479px;height:383px" />
			<script type="text/javascript">
				flowplayer('flowplayer', "${h.url_for('/scripts/third-party/flowplayer-3.1.0.swf')}", {
					clip: { scaling: "fit" }
				});
			</script>
		</py:otherwise>
	</py:def>

	<py:def function="xhtml_description(fieldName)">
		<div class="xhtml-description-helper">
			<p>The ${fieldName} field accepts some HTML formatting: ${h.list_acceptable_xhtml()['tags']}</p>
			<!--!
			<ul class="xhtml_description">
				<li><em>Tags:</em> ${h.list_acceptable_xhtml()['tags']}.</li>
				<li><em>Attributes:</em> ${h.list_acceptable_xhtml()['attrs']}</li>
				<li><em>Some tag conversions</em> will be made automatically: ${h.list_acceptable_xhtml()['map']}</li>
			</ul>
			-->
		</div>
	</py:def>

	<py:def function="podcastgrid(episodes)">
		<ul id="podcastgrid" class="grid2">
			<li py:for="media in episodes">
				<a href="${h.url_for(controller='/media', action='view', slug=media.slug, podcast_slug=media.podcast.slug)}" class="grid2-link">
					<img src="${h.url_for('/images/media/%sss.jpg' % media.id)}" width="128" height="72" alt="${Markup(media.title).stripentities()}" class="grid-thumb" />
					<span class="grid-title">${Markup(media.title)}</span>
				</a>
				<div class="grid-desc" py:content="Markup(h.truncate_xhtml(media.description, 110, True))">Description here</div>
				<div class="grid-meta">
					<span class="grid-comments">${media.comment_count}<span> Comment<py:if test="media.comment_count != 1">s</py:if></span></span>
					<span class="grid-likes">${media.rating.sum} <span>Like<py:if test="media.rating.sum != 1">s</py:if></span></span>
					<span class="grid-views">${media.views} <span>View<py:if test="media.views != 1">s</py:if></span></span>
				</div>
			</li>
		</ul>
	</py:def>

	<py:def function="mediagrid(media_list, url_args=None)">
		<ul id="mediagrid" class="grid" py:with="url_args = url_args or {'controller': '/media', 'action': 'view'}">
			<li py:for="media in media_list">
				<a href="${h.url_for(slug=media.slug, **url_args)}" title="${Markup(h.text.truncate(h.strip_xhtml(media.description), 100, whole_word=True)).stripentities()}">
					<img src="${h.url_for('/images/media/%ss.jpg' % media.id)}" width="162" height="91" alt="${Markup(media.title).stripentities()}" class="grid-thumb" />
					<span class="grid-title">${Markup(media.title)}</span>
					<span class="grid-meta">
						<span class="grid-likes">${media.rating.sum} <span>Like<py:if test="media.rating.sum != 1">s</py:if></span></span>
						<span class="grid-comments">${media.comment_count}<span> Comment<py:if test="media.comment_count != 1">s</py:if></span></span>
						<span class="grid-views">${media.views} <span>View<py:if test="media.views != 1">s</py:if></span></span>
					</span>
				</a>
			</li>
		</ul>
	</py:def>

	<py:def function="comma_sep_links(labels, hrefs, default='None yet')"
	        py:with="links = zip(labels, hrefs); count = len(links);">
		<py:if test="count == 0">${default}</py:if>
		<py:for each="i, link in enumerate(links)">
			<a href="${link[1]}">${link[0]}</a><py:if test="i &lt; count - 1">, </py:if>
		</py:for>
	</py:def>

</html>
