<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      py:strip="">

<head py:match="head">
	<title py:match="title" py:with="title = unicode(select('text()'))">
		<py:if test="title">${title} |</py:if>
		TMC Youth
	</title>
<!--! FIXME: PROJSITE:	<link rel="stylesheet" type="text/css" media="all" href="${h.url_for('/project-site/styles/simpleplex.css')}" />-->
	<meta py:replace="select('*')"/>
</head>

<body py:match="body" py:attrs="select('@*')">
	<h1 id="logo"><a href="${h.url_for('/')}">Simpleplex</a></h1>

	<div py:replace="select('*|text()')">Content is injected here</div>
</body>

</html>
