.review-comment,
.published-comment {
	width: 29px;
	height: 19px;
	float: left;
	text-indent: -1000px;
}

.trash-comment {
	width: 26px;
	height: 19px;
	float: left;
}

.review-comment { background-image: url('../images/buttons/comment-approve.png'); }
.published-comment { background-image: url('../images/buttons/comment-published.png'); }
.trash-comment { background-image: url('../images/buttons/comment-delete.png'); }

td.author strong {
	font-weight: bold;
}
table#comment-table tr td {
	vertical-align: top;
}
span.comment-submitted,
span.comment-ip {
	color: #8695a3;
}
tr.tr-gray td {
	background-color: #f1efe9;
}
