a.review-comment,
a.published-comment {
	width: 29px;
	height: 19px;
	float: left;
}

a.trash-comment {
	width: 26px;
	height: 19px;
	float: left;
}

a.review-comment { background-image: url('../images/buttons/comment-approve.png'); }
a.published-comment { background-image: url('../images/buttons/comment-published.png'); }
a.trash-comment { background-image: url('../images/buttons/comment-delete.png'); }

td.author strong {
	font-weight: bold;
}
table#comment-table tr td {
	vertical-align: top;
}
span.comment-submitted {
	color: #8695a3;
}
tr.tr-gray td {
	background-color: #f1efe9;
}
