.review-comment,
.published-comment {
	width: 29px;
	height: 19px;
	float: left;
	text-indent: -1000px;
}

.trash-comment {
	width: 26px;
	height: 19px;
	float: left;
}

.review-comment { background-image: url('../images/buttons/comment-approve.png'); }
.published-comment { background-image: url('../images/buttons/comment-published.png'); }
.trash-comment { background-image: url('../images/buttons/comment-delete.png'); }

.author strong {
	font-weight: bold;
}
#comment-table tr td {
	vertical-align: top;
}
.comment-submitted,
.comment-ip {
	color: #8695a3;
}
.comment-submitted .edit-text {
	color: #3372a0;
	text-decoration: none;
}
.edit-text:hover, .edit-text:active, .link:hover {
	color: #1380cf;
	text-decoration: underline;
}
.tr-gray td {
	background-color: #f1efe9;
}
.edit-comment-form .form-field-textarea {
	margin: 10px 0;
	padding-right: 18px;
}
