#podcast-filter {
	height: 23px;
	padding-right: 10px;
	vertical-align: middle;
}
#podcast-filter .submitbutton {
	display: none;
}
#podcast-filter .singleselectfield {
	padding: 5px 2px 0 2px;
	margin-top: -2px;
	color: #374347;
	font: bold 13px Helvetica,Arial,Verdana,sans-serif;
}

#podcast-filter .singleselectfield option {
	padding: 1px 0;
	font: bold 13px Helvetica,Arial,Verdana,sans-serif;
}
/* Statuses */
#status-list {
	margin: 3px 5px;
}
#status-list li {
	padding-left: 20px;
	margin: 3px 0;
	font-size: 108%;
}
.status-list-complete {
	background: url('../images/icons/tick.png') no-repeat 0 2px;
	color: #9b9b9b;
}
.status-list-inprogress {
	background: url('../images/icons/arrow-green-right.png') no-repeat 0 2px;
	color: #196d29;
}
.status-list-pending {
	color: #9b9b9b;
}

/* Statuses */
a.review-me,
a.encode-me,
a.publish-me,
a.published {
	width: 79px;
	height: 19px;
}
a.review-me { background-image: url('../images/statuses/review-both.png'); }
a.encode-me { background-image: url('../images/statuses/encode-both.png'); }
a.publish-me { background-image: url('../images/statuses/publish-me.png'); }
a.published { background-image: url('../images/statuses/published-both.png'); }

a.review {
	color: #862254;
	text-decoration: none;
	font-weight: bold;
}
a.total {
	color: #064981;
	text-decoration: none;
	font-weight: bold;
}



#media-form #details_duration_label,
#media-form #details_url_label {
	margin-right: 10px;
	padding: 5px 0;
	float: left;
	font-weight: normal;
}
.form #details input#details_duration { width: 60px; }
.form #details input#details_url { width: 390px; }

a.add-video, a.add-video:hover {
	width: 120px;
	height: 28px;
	margin: -3px 0 0 10px;
}
a.add-video { background-image: url('../images/buttons/add-video.png'); }

.btn-review-complete, .btn-encoding-complete, .btn-publish-now {
	text-indent: -1000px;
	cursor: pointer;
	border: 0;
	height: 34px;
	width: 171px;
	background-repeat: no-repeat;
	margin: 0 auto;
}
.btn-review-complete { background-image: url('../images/buttons/video-review-complete.png'); }
.btn-encoding-complete { background-image: url('../images/buttons/video-encoding-complete.png'); }
.btn-publish-now { background-image: url('../images/buttons/video-publish-now.png'); }
