.album-art {
	width: 133px;
	margin: 0 auto 10px auto;
	border: 5px solid #989790;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.album-art img {
	display: block;
	border: 1px solid #fff;
}

/* Statuses */
#status-list {
	margin: 3px 5px;
}
#status-list li {
	padding-left: 20px;
	margin: 3px 0;
	font-size: 108%;
}
.status-list-complete {
	background: url('../images/icons/tick.png') no-repeat 0 2px;
	color: #9b9b9b;
}
.status-list-inprogress {
	background: url('../images/icons/arrow-green-right.png') no-repeat 0 2px;
	color: #196d29;
}
.status-list-pending {
	color: #9b9b9b;
}

/* Statuses */
a.review-me,
a.encode-me,
a.publish-me,
a.published {
	width: 79px;
	height: 19px;
}
a.review-me { background-image: url('../images/statuses/review-both.png'); }
a.encode-me { background-image: url('../images/statuses/encode-both.png'); }
a.publish-me { background-image: url('../images/statuses/publish-me.png'); }
a.published { background-image: url('../images/statuses/published-both.png'); }

a.review {
	color: #862254;
	text-decoration: none;
	font-weight: bold;
}
a.total {
	color: #064981;
	text-decoration: none;
	font-weight: bold;
}




#media-form .form-label {
	font-size: 108%;
	font-weight: bold;
	color: #3c4d5a;
	margin: 10px;
}
#media-form .form-field {
	margin: 10px;
	/* bump the size down 12px so that when firefox adds 12px
	 * to the 100% input width it still fits visually */
	padding-right: 12px;
}
#media-form li {
	clear: both;
	width: 100%;
	overflow: hidden;
}
#media-form #author_name-container,
#media-form #author_email-container {
	width: 50%;
	float: left;
	clear: none;
}
#media-form #details_duration_label,
#media-form #details_url_label {
	margin-right: 10px;
	padding: 5px 0;
	float: left;
	font-weight: normal;
}
#media-form #details input,
#media-form #details li {
	float: left;
	width: auto;
	clear: none;
}
#details-container .form-field { padding-right: 0; }
#media-form #details-container legend {
	font-size: 108%;
	font-weight: bold;
	color: #3c4d5a;
	margin: 10px 10px 0 10px;
}
#details ul.field_list { position: relative; }
#details_url_container { position: absolute; top: 0; right: 0; }
#media-form #details input#details_duration { width: 60px; }
#media-form #details input#details_url { width: 390px; }


a.add-video, a.add-video:hover {
	width: 120px;
	height: 28px;
	margin: -3px 0 0 10px;
}
a.add-video { background-image: url('../images/buttons/add-video.png'); }
#media-form .form-label {
	font-size: 108%;
	font-weight: bold;
	color: #3c4d5a;
	margin: 10px;
}

.btn-review-complete, .btn-encoding-complete, .btn-publish-now, .btn-edit-art {
	text-indent: -1000px;
	cursor: pointer;
	border: 0;
	height: 34px;
	width: 171px;
	background-repeat: no-repeat;
	margin: 0 auto;
}
.btn-review-complete { background-image: url('../images/buttons/video-review-complete.png'); }
.btn-encoding-complete { background-image: url('../images/buttons/video-encoding-complete.png'); }
.btn-publish-now { background-image: url('../images/buttons/video-publish-now.png'); }
.btn-edit-art { background-image: url('../images/buttons/edit-image.png'); }
