.explicit, .clean {
	display: block;
	height: 11px;
	width: 37px;
	padding-top: 3px;
	background-position: bottom;
	background-repeat: no-repeat;
}
.explicit { background-image: url('../images/icons/explicit.png'); }
.clean { background-image: url('../images/icons/clean.png'); }
.explicit strong, .clean strong {
	display: none;
}

.add-podcast, .add-podcast:hover,
.add-episode, .add-episode:hover {
	width: 120px;
	height: 28px;
}
.add-episode, .add-episode:hover {
	margin-top: -6px;
}
.add-podcast { background-image: url('../images/buttons/add-podcast.png'); }
.add-episode { background-image: url('../images/buttons/add-episode.png'); }
.edit-btn { background-image: url('../images/buttons/edit.png'); }
.edit-btn, .edit-btn:hover {
	width: 66px;
	height: 28px;
}

#podcast-table tbody tr td {
	vertical-align: top;
}
#podcast-table h3 a:link,
#podcast-table h3 a:visited {
	color: #627789;
}
#podcast-table .podcast-art {
	text-align: center;
	vertical-align: middle;
	width: 170px;
	height: 160px;
	background: transparent url('../images/layout/podcast-art-frame.png') no-repeat top left;
}
#podcast-table .podcast-art img {
	padding: 3px 7px 7px 3px;
}
#podcast-table .info-content {
	position: relative;
	min-height: 158px;
	min-width: 700px;
}
#podcast-table .info-content p {
	line-height: 1.5em;
	font-size: 14px;
}
#podcast-table .podcast-meta {
	font-size: 12px;
	position: absolute;
	bottom: 40px;
	left: 0;
}
#podcast-table .podcast-meta strong {
	font-weight: bold;
}
#podcast-table .podcast-meta span,
#podcast-table .podcast-episodes a {
	float: left;
	margin-right: 20px;
}
#podcast-table .copyright {
	font-weight: bold;
}
.podcast-meta, .podcast-episodes {
	position: absolute;
	bottom: 0;
	left: 0;
}
.view-episodes strong {
	font-weight: bold;
}

#podcast-form .details_fieldset .fieldlabel {
	width: 95px;
}
#details_itunes_url, #details_feedburner_url, #details_copyright {
	width: 285px;
}
#podcast-form #details_explicit li {
	float: left;
	width: auto;
	clear: none;
	margin-right: 10px;
}
#podcast-form #details_explicit li label {
	margin-left: 5px;
}


body.menu-podcasts-on .album-art {
	width: 160px;
}
