.for-sbox, .fitted-sbox { display: none; }

#sbox-overlay {
	position: absolute;
	background-color: #000;
	left: 0px;
	top: 0px;
	zoom: 1;
}
#sbox-window {
	position: absolute;
	background-color: #fff;
	text-align: left;
	overflow: visible;
	/* invalid values, but looks smoother! */
/*	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;*/
}
#sbox-btn-close {
	position: absolute;
	width: 30px;
	height: 30px;
	right: -20px;
	top: -20px;
	background: url('../images/layout/sbox-close.png') no-repeat center;
	border: none;
	z-index: 99;
}
.ssbox-btn-close {
	background-image: url('../images/squeezebox/box-close.gif');
}
.sbox-loading #sbox-content {
	background-image: url('../images/icons/spinner.gif');
	background-repeat: no-repeat;
	background-position: center;
}
#sbox-content {
	clear: both;
	overflow: auto;
	background-color: #fff;
	height: 100%;
	width: 100%;
}
.sbox-content-image#sbox-content {
	overflow: visible;
}
#sbox-image {
	display: block;
}
.sbox-content-image img {
	display: block;
	width: 100%;
	height: 100%;
}
.sbox-content-iframe#sbox-content {
	overflow: visible;
}

/* Hides scrollbars */
.body-overlayed {
	overflow: hidden;
}
/* Hides flash (Firefox problem') and selects (IE') */
.body-overlayed embed, .body-overlayed object, .body-overlayed select {
	visibility: hidden;
}
#sbox-window embed, #sbox-window object, #sbox-window select {
	visibility: visible;
}

/* Shadows */
.sbox-bg {
	position: absolute;
	width: 44px;
	height: 44px;
}
.sbox-bg-n {
	left: 0;
	top: -50px;
	height: 50px;
	width: 100%;
	background: url('../images/layout/sbox-n.png') repeat-x top;
}
.sbox-bg-ne {
	right: -44px;
	top: -50px;
	height: 84px;
	z-index: 1;
	background: url('../images/layout/sbox-ne.png') no-repeat top right;
}
.sbox-bg-e {
	right: -44px;
	top: 0;
	height: 100%;
	background: url('../images/layout/sbox-e.png') repeat-y top right;
}
.sbox-bg-se {
	right: -44px;
	bottom: -43px;
	height: 88px;
	z-index: 1;
	background: url('../images/layout/sbox-se.png') no-repeat bottom right;
}
.sbox-bg-s {
	left: 0;
	bottom: -43px;
	width: 100%;
	background: url('../images/layout/sbox-s.png') repeat-x bottom;
}
.sbox-bg-sw {
	left: -44px;
	bottom: -43px;
	height: 88px;
	z-index: 1;
	background: url('../images/layout/sbox-sw.png') no-repeat bottom left;
}
.sbox-bg-w {
	left: -44px;
	top: 0;
	height: 100%;
	background: url('../images/layout/sbox-w.png') repeat-y top left;
}
.sbox-bg-nw {
	left: -44px;
	top: -50px;
	height: 84px;
	z-index: 1;
	background: url('../images/layout/sbox-nw.png') no-repeat top left;
}
/* header */
#sbox-window #sbox-content h1.box-head {
	background: #e6e2d3 url('../images/layout/sbox-thead.png') repeat-x top;
	height: 34px;
	color: #3c4d5a;
	padding: 0;
	border-top: none;
	border-bottom: none;
	clear: both;
}
#sbox-window #sbox-content div.box {
	border: 0;
	margin-bottom: 0;
}

#sbox-window #sbox-content p {
	padding-top: 20px;
}
#sbox-window #sbox-content p strong {
	font-weight: bold;
}
#sbox-window #sbox-content div.buttons {
	position: absolute;
	right: 30px;
	bottom: 10px;
}
#sbox-window #sbox-content .box-foot {
	background: #e6e2d3 url('../images/layout/sbox-tfoot.png') repeat-x top;
	height: 34px;
	padding: 10px 10px 0 10px;
	border-top: none;
}

#sbox-window #sbox-content .box-foot button,
#sbox-window #sbox-content .box-foot input {
	margin-left: 10px;
}


