<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
<xi:include href="../helpers.html" />
<xi:include href="../master.html" />
${set_nav_opts('hide_topics', 'hide_left')}
<head>
	<title>Lessons</title>
</head>
<body>
	<box id="grid-box" py:with="paginator=c.paginators.media">
		<nav />
		<ul py:replace="mediagrid(media, {'controller':'/media', 'action':'lesson_view'})" />
		${pagination(paginator)}
	</box>
</body>
</html>


