<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
<xi:include href="../helpers.html" />
<xi:include href="../master.html" />
<head>
	<title>Upload Videos</title>
	<link href="${h.url_for('/styles/upload-form.css')}" media="screen" rel="stylesheet" type="text/css" />
	<script type="text/javascript">
		window.addEvent('domready', function() {
			// redirect after 12 seconds.
			window.location = '${h.url_for(action='index')}';
		}.create({delay: 12000}));
	</script>
</head>
<body class="nav-upload-video-on">
	<box id="simpleplex">
		<nav />
		<div class="greybox success">
			<p class="italic">Awesome! Your video has been uploaded</p>
			<p>Your video should be published within the next 24 to 48 hours. You can also email us at <a href="mailto:help@tmcyouth.com">help@tmcyouth.com</a> if you have any questions.</p>
			<p><a href="${h.url_for(action='index')}">You will be automatically redirected</a> to the video page in a few seconds. Hang tight.</p>
		</div>
	</box>
</body>
</html>
