<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
<xi:include href="../comments/_list.html" />
<xi:include href="../helpers.html" />
<xi:include href="../master.html" />
<head>
	<title>${media.title}</title>
	<link py:if="media.podcast" href="${h.url_for('/styles/podcasts.css')}" media="screen" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="${h.url_for('/scripts/rater.js')}"></script>
	<script type="text/javascript" src="${h.url_for('/scripts/overtext.js')}"></script>
	<script type="text/javascript">
		window.addEvent('domready', function(){
			var overTextMGR = new OverTextManager('${comment_form.id}');
			var likesCounter = $('num-likedthis');
			var likesRater = new ThumbRater({
				upButton: 'likethis',
				upCounter: likesCounter,
				ensureVisible: likesCounter.getParent()
			});
		});
	</script>
</head>
<body py:with="comments = [c for c in media.comments if 'publish' in c.status]">
	<box id="media-box">
		<nav />
		<div class="media-body">
			<div class="media-info">
				<h1>${media.title}</h1>
				<p py:replace="Markup(h.format_paragraphs(media.description))" />
			</div>
			<div class="media-meta">
				<div class="media-meta-likethis" id="media-rating"><a id="likethis" class="mo up" title="vote up" href="${h.url_for(action='rate', rating=1)}"><span>I like this!</span></a></div>
				<div class="media-meta-views"><strong>Views:</strong> ${media.views}</div>
				<div class="media-meta-time"><strong>Time:</strong> ${h.duration_from_seconds(media.duration)}</div>
				<div class="media-meta-etc" style="${(media.rating.sum &gt; 0) or 'visibility:hidden'}">
					<strong id="num-likedthis">${h.text.plural(media.rating.sum, 'person', 'people')}</strong> liked this ${media.type}!
				</div>
			</div>
			${media_player(media)}
		</div>
	</box>

	<div py:if="media.podcast" id="podcast-context" class="contextbox" py:with="podcast = media.podcast">
		<div class="contextbox-top" />
		<div class="contextbox-body">
			<a href="${h.url_for(controller='/podcasts', action='view', slug=podcast.slug)}" class="podcast-art" title="${podcast.title}"><img src="${h.url_for('/images/podcasts/%sm.jpg' % podcast.id)}" width="154" height="151" class="f-lft" alt="${podcast.title}" /></a>
			<ul id="podcast-buttons">
				<li py:if="next_episode"><a class="btn-podcast-next" href="${h.url_for(controller='/media', action='view', podcast_slug=podcast.slug, slug=next_episode.slug)}" title="${next_episode.title}">Browse Episodes</a></li>
				<li><a class="btn-podcast-view" href="${h.url_for(controller='/podcasts', action='view', slug=podcast.slug)}" title="Browse all episodes from this podcast">Browse Episodes</a></li>
				<li><a class="btn-podcast-add" href="#" title="Add this podcast to iTunes">Add to iTunes</a></li>
			</ul>
		</div>
		<div class="contextbox-bottom" />
	</div>

	${comment_list(comments, comment_form, comment_form_values)}
</body>
</html>
