<div xmlns="http://www.w3.org/1999/xhtml"
     xmlns:py="http://genshi.edgewall.org/"
     py:def="mediaflow_slider_pager(videos)"
     py:for="videos_slice in h.MediaflowSlidePager(videos)"
     class="mediaflow-page">
	<ul>
		<li py:for="video in videos_slice">
			<a href="${h.url_for(controller='/media', action='view', slug=video.slug)}" title="${Markup(video.title).stripentities()}: ${h.truncate_xhtml(video.description, 100, True)}"><img src="${h.url_for('/images/media/%sm.jpg' % video.id)}" width="240" height="168" alt="${video.title}" /></a>
		</li>
	</ul>
</div>
