<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
<xi:include href="../helpers.html" />
<xi:include href="../concept.html" />
<head>
	<title>Videos</title>
	<script type="text/javascript" src="${h.url_for('/scripts/mediaflow.js')}"></script>
	<script type="text/javascript">
		window.addEvent('domready', function(){
			videoflow = new Mediaflow({
				labelContainer: $('mediaflow-box').getElement('div.box-bottom'),
				totalPageCount: ${int(h.math.ceil(float(len(videos))/3))}
			});
		});
	</script>
</head>
<body id="preview">
	<box id="mediaflow-box">
		<nav />
		<div id="mediaflow-ctrls" />
		<div id="mediaflow-body">
			<xi:include href="_mediaflow-pager.html" />
			${mediaflow_slider_pager(videos, 'concept_view')}
		</div>
	</box>
</body>
</html>
