<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
<xi:include href="../root.html" />
<head>
	<title>Videos</title>
	<link href="/styles/ratings.css" media="screen" rel="stylesheet" type="text/css" />
	<link href="/styles/mediaflow.css" media="screen" rel="stylesheet" type="text/css" />
	<link href="/styles/videos.css" media="screen" rel="stylesheet" type="text/css" />
</head>
<body>
	<div py:with="pagination = page.pager(show_if_single_page=True, curpage_attr={'class': 'current'})" id="mediaplex" class="box">
		<div class="box-top"></div>
		<div class="box-pagination box-pagination-top">Page: ${pagination}</div>
		<div id="mediaplex-ctrls">
			<a id="mediaplex-ctrls-flow" href="/video" title="View a few videos at a time"><span>Mediaflow View</span></a>
			<a id="mediaplex-ctrls-grid" class="active" href="/video/grid" title="View many videos at a time"><span>Grid View</span></a>
			<a id="mediaplex-ctrls-tags" href="/video/tags"><span>Browse by Tags</span></a>
		</div>
		<div class="box-body mediagrid">
			<ul>
				<li py:for="video in page.items">
					<a href="/video/${video.slug}" title="${h.text.truncate(video.description, whole_word=True)}">
						<img src="/asdf" width="149" height="92" />
						<span class="media-title">${video.title}</span>
						<span class="media-info">${h.duration_from_seconds(video.length)}<br />${h.text.plural(video.views, 'view', 'views')}</span>
						<span class="rating rating-35"><span>3.5 stars</span></span>
					</a>
				</li>
			</ul>
		</div>
		<div class="box-pagination box-pagination-bottom">Page: ${pagination}</div>
		<div class="box-bottom"></div>
	</div>
</body>
</html>
