<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
<xi:include href="../box.html" />
<xi:include href="../master.html" />
<head>
	<title>Videos</title>
</head>
<body py:with="pagination = page.pager(show_if_single_page=True, curpage_attr={'class': 'current'})">
	<box id="mediaplex">
		<div class="box-body mediagrid">
			<ul>
				<li py:for="video in page.items">
					<a href="${h.url_for(action='view', slug=video.slug)}" title="${h.text.truncate(video.description, whole_word=True)}">
						<img src="/images/videos/${video.id}s.jpg" width="149" height="92" alt="${video.title}" />
						<span class="media-title">${video.title}</span>
						<span class="media-info">${h.duration_from_seconds(video.duration)}<br />${h.text.plural(video.views, 'view', 'views')}</span>
						<span class="rating rating-35"><span>3.5 stars</span></span>
					</a>
				</li>
			</ul>
		</div>
	</box>
</body>
</html>
