<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
<xi:include href="../root.html" />
<head>
	<title>Videos</title>
	<link href="/styles/mediaflow.css" media="screen" rel="stylesheet" type="text/css" />
	<link href="/styles/videos.css" media="screen" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="/scripts/mediaflow.redo.js"></script>
	<script type="text/javascript">
		window.addEvent('domready', function(){
			vs = new Videoflow({
				container: 'mediaflow-body',
				pageSelector: 'div.mediaflow-page', 
				nextButton: 'mediaflow-next', 
				prevButton: 'mediaflow-prev', 
				ctrlsContainer: 'mediaflow-ctrls',
				labelContainer: 'mediaflow-label',
				totalPageCount: 0
			});
		});
	</script>
</head>
<body>
	<span>videos?</span>
</body>
</html>
