<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
<xi:include href="../box.html" />
<xi:include href="../master.html" />
<head>
	<title>Videos</title>
	<script type="text/javascript" src="/scripts/mediaflow.js"></script>
	<script type="text/javascript">
		window.addEvent('domready', function(){
			var videoflow = new Mediaflow({
				labelContainer: $('mediaflow-box').getElement('div.box-bottom'),
				totalPageCount: ${int(h.math.ceil(float(page.item_count)/3))}
			});
		});
	</script>
</head>
<body class="nav-latest-on">
	<box id="mediaflow-box">
		<nav>
			<a id="nav-upload-video" href="/video-upload">Upload a Video</a>
		</nav>
		<div id="mediaflow-ctrls"></div>
		<div id="mediaflow-body">
			<xi:include href="_mediaflow-pager.html" />
			${mediaflow_slider_pager(page.items)}
		</div>
	</box>
</body>
</html>
