<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
<xi:include href="../box.html" />
<xi:include href="../master.html" />
<head>
	<title>Videos</title>
	<script type="text/javascript" src="/scripts/mediaflow.js"></script>
	<script type="text/javascript">
		window.addEvent('domready', function(){
			var vs = new Videoflow({
				container: 'mediaflow-body',
				pageSelector: 'div.mediaflow-page',
				nextButton: 'mediaflow-next',
				prevButton: 'mediaflow-prev',
				ctrlsContainer: 'mediaflow-ctrls',
				labelContainer: 'mediaflow-label',
				totalPageCount: ${page.item_count/3}
			});
		});
	</script>
</head>
<body>
	<box id="mediaplex">
		<div id="mediaflow">
			<div id="mediaflow-ctrls"></div>
			<div id="mediaflow-body" class="box-body">
				<xi:include href="_mediaflow-pager.html" />
				${mediaflow_slider_pager(page.items)}
			</div>
		</div>
	</box>
</body>
</html>
