<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
<xi:include href="../box.html" />
<xi:include href="../master.html" />
<head>
	<title>${video.title}</title>
	<link href="/styles/forms.css" media="screen" rel="stylesheet" type="text/css" />
	<link href="/styles/comments.css" media="screen" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="/scripts/rater.js"></script>
	<script type="text/javascript" src="/scripts/overtext.js"></script>
	<script type="text/javascript">
		var OverTextMGR = null;
		window.addEvent('domready', function(){
//			var raterness = new ThumbRater('video-rating', ${video.id});
			OverTextMGR = new OverTextManager('${comment_form.id}');
		});
	</script>
</head>
<body>
	<box id="media-box">
		<nav />
		<div class="media-body">
			<div class="media-info">
				<h1>${video.title}</h1>
				<div py:replace="Markup(h.format_paragraphs(video.description))" />
			</div>
			<div class="media-meta">
				<div class="media-meta-likethis" id="video-rating"><a class="up" title="vote up" href="${h.url_for(action='rate', rating=1)}"><img src="/images/buttons/i-like-this.png" alt="I like this!" /></a></div>
				<div class="media-meta-views"><strong>Views:</strong> ${video.views}</div>
				<div class="media-meta-time"><strong>Time:</strong> ${video.duration}</div>
				<div class="media-meta-etc">
					<strong>${h.text.plural(video.rating.sum, 'person', 'people')}</strong> liked this video and
					<strong>${h.text.plural(len(video.comments), 'person', 'people')}</strong> commented!
				</div>
			</div>
			${XML(h.video_player(video.url))}
		</div>
	</box>

	<div py:with="comments = [c for c in video.comments if 'publish' in c.status]" class="comments">
		<h2>Comments <span>&#123;${len(comments)}&#125;</span></h2>
		<py:choose test="len(comments)">
			<p py:when="0" class="comments-none-yet">No comments have been posted yet.</p>
			<ul py:otherwise="" class="comments-list">
				<li py:for="i, comment in enumerate(comments)"
					py:attrs="{'class': [None, 'alt'][i%2]}">
					<h4 class="top">
						<a name="comment-${comment.id}" href="#comment-${comment.id}" title="permalink">
							<cite>${comment.author.name} says:</cite>
						</a>
					</h4>
					<blockquote>${XML(h.format_paragraphs(comment.body))}</blockquote>
					<span class="bottom date" title="Permalink">Posted on ${comment.created_on.strftime("%d/%m/%y @ %H:%M")}</span>
				</li>
			</ul>
		</py:choose>
		<h3>Write a comment</h3>
		${XML(comment_form(form_values))}
	</div>
</body>
</html>
