<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
<xi:include href="../comments/_list.html" />
<xi:include href="../helpers.html" />
<xi:include href="../master.html" />
<head>
	<title>${video.title}</title>
	<script type="text/javascript" src="/scripts/rater.js"></script>
	<script type="text/javascript" src="/scripts/overtext.js"></script>
	<script type="text/javascript">
		var OverTextMGR = null;
		window.addEvent('domready', function(){
			OverTextMGR = new OverTextManager('${comment_form.id}');
			raterness = new ThumbRater({upButton: 'likethis', upCounter: 'num-likedthis'});
		});
	</script>
</head>
<body py:with="comments = [c for c in video.comments if 'publish' in c.status]">
	<box id="media-box">
		<nav />
		<div class="media-body">
			<div class="media-info">
				<h1>${video.title}</h1>
				<div py:replace="Markup(h.format_paragraphs(video.description))" />
			</div>
			<div class="media-meta">
				<div class="media-meta-likethis" id="video-rating"><a id="likethis" class="mo up" title="vote up" href="${h.url_for(action='rate', rating=1)}"><span>I like this!</span></a></div>
				<div class="media-meta-views"><strong>Views:</strong> ${video.views}</div>
				<div class="media-meta-time"><strong>Time:</strong> ${h.duration_from_seconds(video.duration)}</div>
				<div class="media-meta-etc"><strong id="num-likedthis">${h.text.plural(video.rating.sum, 'person', 'people')}</strong> liked this video!</div>
			</div>
			${media_player(video)}
		</div>
	</box>

	${comment_list(comments, comment_form, form_values)}
</body>
</html>
