<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
<xi:include href="../box.html" />
<xi:include href="../master.html" />
<head>
	<title>${video.title}</title>
	<link href="/styles/forms.css" media="screen" rel="stylesheet" type="text/css" />
	<link href="/styles/comments.css" media="screen" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="/scripts/rater.js"></script>
	<script type="text/javascript" src="/scripts/overtext.js"></script>
	<script type="text/javascript">
		var OverTextMGR = null;
		window.addEvent('domready', function(){
			var raterness = new ThumbRater('video-rating', ${video.id});
			OverTextMGR = new OverTextManager('${comment_form.id}');
		});
	</script>
</head>
<body>
	<box id="video-details">
		<div class="box-body">
			<div class="video-info">
				<h1>${video.title}</h1>
				${XML(h.format_paragraphs(video.description))}

				<ul py:with="tag_count = len(video.tags)" class="video-meta">
					<li py:choose="tag_count" class="video-tags">
						<strong>Tags:</strong>
						<py:when test="0">None</py:when>
						<py:otherwise py:for="i, tag in enumerate(video.tags)">
							<a href="${h.url_for(action='tags', slug=tag.slug)}" rel="tag">${tag.name}</a><py:if test="i+1 != tag_count">,</py:if>
						</py:otherwise>
					</li>
					<li class="video-views">
						<strong>Views:</strong> ${video.views}
					</li>
					<li class="video-rating">
						<strong>Rating:</strong>
						<span id="video-rating" class="rating rating-inline rating-35 clickable"><span>${video.rating.sum}</span> <a class="up" title="vote up" href="${h.url_for(action='rate', rating=1)}"><img src="/images/buttons/i-like-this.png" alt="I like this!" /></a><!--! <a class="down" title="vote down" href="${h.url_for(action='rate', rating=0)}">[d]</a>--></span>
					</li>
					<li class="video-duration">
						<strong>Length:</strong> ${h.duration_from_seconds(video.duration)}
					</li>
				</ul>
			</div>
			${XML(h.video_player(video.url))}
		</div>
	</box>

	<div py:with="comments = [c for c in video.comments if 'publish' in c.status]" class="comments">
		<h2>Comments <span>&#123;${len(comments)}&#125;</span></h2>
		<py:choose test="len(comments)">
			<p py:when="0" class="comments-none-yet">No comments have been posted yet.</p>
			<ul py:otherwise="" class="comments-list">
				<li py:for="i, comment in enumerate(comments)"
					py:attrs="{'class': [None, 'alt'][i%2]}">
					<h4 class="top">
						<a name="comment-${comment.id}" href="#comment-${comment.id}" title="permalink">
							<cite>${comment.author.name} says:</cite>
						</a>
					</h4>
					<blockquote>${XML(h.format_paragraphs(comment.body))}</blockquote>
					<span class="bottom date" title="Permalink">Posted on ${comment.created_on.strftime("%d/%m/%y @ %H:%M")}</span>
				</li>
			</ul>
		</py:choose>
		<h3>Write a comment</h3>
		${XML(comment_form(form_values))}
	</div>
</body>
</html>
